{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set vars = {
	subheading: false,
	text: null,
	classes: "text-2xl font-bold md:text-3xl mb-4",
	padding: null,
	margin: null
}|merge(params) %}

{% if vars.text %}
	{% if not vars.subheading %}
		<h2 id="{{ vars.text|kebab }}" class="scroll-m-16 {{ vars.classes }} {{ vars.padding }} {{ vars.margin }}">{{ vars.text }}</h2>
	{% else %}
		<h3 id="{{ vars.text|kebab }}" class="scroll-m-16 {{ vars.classes }} {{ vars.padding }} {{ vars.margin }}">{{ vars.text }}</h3>
	{% endif %}
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}