{% set addresses = entry.addresses | length %}
{% if addresses or entry.phoneNumbers | length or entry.emailAddress %}
	<section class="mt-16 bg-white">
		<a class="anchor-link" id="page-contact"></a>
		{% include '_partials/_elements/_module-header.twig' with {
			headerText: pageLocationHeaderText ?? "Contact Us",
		} %}
		<div class="mt-4 lg:flex">
			{% if addresses %}
			<div class="lg:w-1/2 lg:pr-8">

				<div class="relative pl-8 border-t-2 border-black contact-icon pt-3 mt-8">
					<i class="fas fa-map-marker-alt absolute" style="left:0;top:20px"></i>
					<h3 class="mb-0 text-2xl font-bold">Address{% if addresses > 1 %}es{% endif %}</h3>
					{% for block in entry.addresses ?? '' %}
						{% switch block.type %}
							{% case "location" %}
							<p class="{% if not loop.first %} mt-8 {% endif %} text-1xl mb-0">{{ block.locationName }}</p>
							{% include '_partials/_elements/_address.twig' with { location: block } %}
							{% case "onlineLocation" %}
							<div class="mt-4 mb-8">
								{% if block.locationName %}<h4 class="{% if not loop.first %} mt-8 {% endif %} text-2xl mb-0">{{ block.locationName }}</h4>{% endif %}
								{{ block.locationDescription }}
								{% include '_components/_button' with {
								class: 'mt-4 mr-0 mb-0',
								url: block.webAddress,
								text: block.locationName,
								} %}
							</div>
							{% default %}
						{% endswitch %}
					{% endfor %}
					{{ entry.addressExtended }}
				</div>

				{% if entry.openHours | length %}
					<div class="relative pl-8 border-t-2 contact-icon pt-3 mt-8">
						<i class="fas fa-clock absolute" style="left:0;top:20px"></i>
						<h3 class="mb-0 text-2xl font-bold">Office Hours</h3>
						{% for item in entry.openHours %}
							{% if item.hoursTitle | length %}
								<h4 class="text-lg">{{ item.hoursTitle }}</h4>
							{% endif %}
							<dl>
								{% for day in item.hours.getRange(1, 0) %}
									{% include '_partials/_elements/_hours.twig' %}
								{% endfor %}
							</dl>
						{% endfor %}
					</div>
				{% endif %}

				{# TODO: Move Topics, processes (negligible) and officials to matrix immediately #}
				{% if entry.boardHours | length %}
					<div class="relative pl-8 border-t-2 contact-icon pt-3 mt-8">
						<i class="fas fa-clock absolute" style="left:0;top:20px"></i>
						<h3 class="mb-0 text-2xl font-bold">Office Hours</h3>
						{{ entry.boardHours }}
					</div>
				{% endif %}
			</div>
			{% endif %}

			<div class="{% if addresses %} lg:w-1/2 {% else %} flex-1 {% endif %}">
				{% set phonesTrue = entry.phoneNumber ?? entry.faxNumber ?? entry.ttyNumber ?? false %}
				{% if entry.phoneNumbers | length %}
					<div class="relative pl-8 border-t-2 border-black contact-icon pt-3 mt-8">
						<i class="fas fa-phone absolute" style="left:0;top:20px"></i>
						<h3 class="mb-0 text-2xl font-bold">Phone</h3>
						<dl>
							{% for phone in entry.phoneNumbers %}
								{% include '_partials/_elements/_phone-numbers.twig' %}
							{% endfor %}
						</dl>
					</div>
				{% elseif phonesTrue %}
					<h3 class="mb-0 text-2xl">Phone</h3>
					<ul class="mb-8">
					{% if entry.phoneNumber | length %}
						<li>Phone Number:
						<a href="tel:{{ entry.phoneNumber }}">{{ entry.phoneNumber }}</a>
						</li>
					{% endif %}
					{% if entry.faxNumber | length %}
						<li>Fax Number:
						<a href="tel:{{ entry.faxNumber }}">{{ entry.faxNumber }}</a>
						</li>
					{% endif %}
					{% if entry.ttyNumber | length %}
						<li>TTY Number:
						{{ entry.ttyNumber }}</li>
					{% endif %}
					</ul>
				{% endif %}

				{% if entry.emailAddress | length %}
					<div class="relative pl-8 border-t-2 border-black contact-icon pt-3 mt-8">
						<i class="fas fa-envelope absolute" style="left:0;top:20px"></i>
						<h3 class="mb-0 text-2xl font-bold">Email</h3>
						<ul class="mb-8">
							<li>
								<a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a>
							</li>
						</ul>
					</div>
				{% endif %}

				<div class="relative pl-8 border-t-2 border-black contact-icon pt-3 mt-8">
				<i class="fas fa-globe absolute" style="left:0;top:20px"></i>
					{% include '_partials/_elements/_social-media.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
