{% if bannerTitle is defined %}
  {% do seomatic.meta.seoTitle(bannerTitle) %}
{% else %}
  {% set bannerTitle = category.title ?? entry.title ?? '' %}
{% endif %}

{% if category is defined %}
  {% set bannerImage = bannerImage ?? "" %}
  {% set leadIn = category.summary %}
  {% set ctaButton = ctaButton ?? "" %}
{% elseif entry is defined %}
  {% set bannerImage = bannerImage ?? entry.banner ?? "" %}
  {% set leadIn = leadIn ?? entry.leadIn %}
  {% set ctaButton = ctaButton ?? entry.ctaButton %}
{% else %}
  {% set bannerImage = bannerImage ?? "" %}
  {% set leadIn = leadIn ?? "" %}
  {% set ctaButton = ctaButton ?? "" %}
{% endif %}

{# HEADER CONTENT #}
{%- set headerContent -%}
  <div class="flex flex-col flex-1 lg:flex-row">
    <div class="w-full lg:w-2/3">
      {% if bannerTitle|length %}
        <h1 class="mb-0 text-3xl font-bold md:text-4xl">{{ bannerTitle }}</h1>
      {% endif %}
      {% if leadIn %}
        {% if leadInParagraph ?? "" %}
          {{ leadIn | replace({'<p' : '<p class="my-2 text-xl leading-normal last:mb-0"', '<a': '<a class="font-bold text-green-800 hover:text-green-700"'}) | raw }}
        {% else %}
          <p class="mb-0 text-xl leading-normal">{{ leadIn | raw }}</p>
        {% endif %}
      {% endif %}
      <div class="flex space-x-4">
        {% if ctaButton | length %}
          {% include '_components/_button' with {
            class: 'mt-4',
            url: ctaButton.url,
            text: ctaButton.text,
          } %}
        {% endif %}
        {% if entry is defined and entry.id == 34229 %}
          {% include '_components/_button' with {
            class: 'mt-4',
            url: 'https://www.oaklandca.gov/documents/special-vacancy-notices',
            text: 'View Local Appointments List and Special Vacancy Notices',
          } %}
        {% endif %}
      </div>
    </div>
    <div class="w-full lg:w-1/3 lg:pl-4">
      {{ headerSubContent ?? '' }}
    </div>
  </div>
{%- endset -%}

{%- set breadcrumbs -%}
  {% include "_components/partials/_breadcrumbs.twig" %}
{%- endset -%}

{% if bannerImage | length %}
  <div class="leading-normal aspect-ratio-box aspect-ratio-1/4 banner">
    <div class="object-cover pt-2 pb-8 leading-none aspect-ratio md:pt-4 md:pb-6 min-h-2-1/2 md:min-h-4">
      <figure class="absolute inset-0 z-0">
        <img
          class="absolute inset-0 z-0 object-cover w-full h-full"
          style="object-position:{{ bannerImage.position }};"
          src="{{ bannerImage.src }}"
          alt="{{ bannerImage.alt }}">
      </figure>
      <div class="container py-0">
        {{ breadcrumbs }}
      </div>
    </div>
  </div>
{% else %}
  <div class="leading-none banner @container">
    <div class="container px-6 @3xl:px-16 pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="absolute inset-0 z-0 bg-transparent-oakland-roots"></div>
      {{ breadcrumbs }}
    </div>
  </div>
{% endif %}

{% autoescape false %}
  {% if custHeaderContent is not defined %}
    <div class="@container">
      <div class="container px-6 @3xl:px-16">
        {{ headerContent }}
      </div>
    </div>
  {% elseif custHeaderContent|length %}
    <div class="@container">
      <div class="container px-6 @3xl:px-16">
        {{ custHeaderContent }}
      </div>
    </div>
  {% endif %}
{% endautoescape %}
