{% extends "_layouts/_banner-with-nav.twig" %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  ['banner',
  'teams']
) %}

{% if entry.type == "officialsRedirect" %}{% redirect entry.redirectUrl %}{% endif %}

{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set contactState = entry.addresses | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
{% set contentBuilder = entry.contentBuilder | length %}
{% set leadership = true %}
{% set contact = contactState %}

{% block content %}
  {{ include("_partials/_page-banners.twig", {
    bannerTitle: entry.groupHeadTitle ~ ' ' ~ entry.groupHeadName,
    breadCrumbLinks: [
      {
        title: 'City Officials',
        link: '/officials'
      }
    ],
    bannerImage: entry.banner | length ? {
      position: entry.banner[0].getFocalPoint('asCss'),
      src: entry.banner[0].url,
      alt: entry.banner[0].title ?? entry.banner[0].filename
    } : false
  }) }}
  <section class="@container relative z-0 bg-white">
    <div class="container px-6 pt-10 pb-8 @3xl:px-16 @3xl:py-12">
      <div class="flex">
        {% set disableRelatedPages = true %}
        {{ include("_partials/_elements/_nav-sidebar.twig") }}
        <div class="flex-1">
          {{ include("_partials/_content-builder/_tool.twig") }}
          {{ include("_partials/_page-leadership.twig", {
            pageLeadershipHeaderText: "About the #{entry.title}"
          }) }}
          {{ include("_partials/_page-location.twig") }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
