{% set events     	= craft.calendarize.upcoming({section: ['events'], limit:3, relatedTo: entry}) %}
{% set headingText  = 'Related Events' %}
{% set buttonText   = 'See All Events' %}
{% if entry.section.handle == 'boardsCommissions' or entry.section.handle == 'topics' or entry.section.handle == 'departments' %}
  {% set buttonLink   = entry.url ~ '/events' %}
{% else %}
  {% set buttonLink   = siteUrl ~ 'events' %}
{% endif %}

{% if block.events|length %}
  {% set events     	= block.events %}
{% else %}
  {% if events|length == 0 %}
    {% set events  			= craft.calendarize.between('2017-01-01', now|date('Y-m-d'),{section: ['events'], limit: 3, relatedTo: entry }, 'desc') %}
  {% endif %}
{% endif %}

{% if events|length %}
<div class="{% if not loop.last %}mb-12{% endif %}">
  <h2 class="{{ hClass }} {{ addClasses ?? "" }}">{{ headingText }}</h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for entry in events %}
    <a class="shadow card default" href="{{ entry.url }}">
      <h4><span>{{ entry.title }}</span></h4>
      <p class="flex items-center">{{ svg( '@webroot/dist/img/icon-calendar-new.svg') }} <span class="ml-2">{{ entry.calendarize.startDate.format("l, F d, Y") }}</span></p>
      <p class="flex items-center pt-1">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ entry.calendarize.startDate.format("g:ia") }}{{ entry.calendarize.endDate ? " to " ~ entry.calendarize.endDate.format("g:ia") : '' }}</span></p>
    </a>
    {% endfor %}
  </div>
  <div class="pt-3">
    {% if not block.hideReadMoreLink %}
        <a class="button small secondary mt-6" href="{{ buttonLink }}">{{ buttonText }}</a>
    {% endif %}
  </div>
</div>
{% endif %}