{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<a id="{{ blockId }}" class="anchor-link"></a>
<section class="relative z-0 {{ loop.index0 == 0 ? "mt-0" }}">
  <{{ heading }} class="{{ hClass }}">{{ block.text }}</{{ heading }}>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}