{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="relative z-0 pb-12">
  {{ include("_partials/_heading.twig", {
    params: {
      text: block.heading
    }
  }) }}

  {{ block.linkSetDescription }}
  <ul class="mt-0 items-stretch card-grid card-grid-tight">
    {% for linkSet in block.linkSet.all() %}
      {% set link = linkSet.linkLocation %}
      {% set linkType = link.typeHandle %}
      {% if link.hasElement %}
        {% set isDoc = (link.element.type == "documents") ? true : false %}
      {% else %}
        {% set isDoc = false %}
      {% endif %}
      <li>
        <a class="block h-full rounded bg-blue-100 p-5 shadow transition-all duration-75 text-cool-gray-800 hover:bg-blue-200 hover:text-cool-gray-900" href="{{ link.url }}" target="{{ link.target }}">
          <h3 class="my-0 text-lg md:text-xl">{{ link.text }}</h3>
          <p class="mt-4 mb-0 text-sm md:text-base">{{ linkSet.linkDescription }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}