{% set meetings  = craft.entries.section('meetings').date(['>= ' ~ now|date('Y-m-d')]).order('date asc').limit(3).relatedTo(entry) %}

<div class="{% if not loop.last %}mb-12{% endif %}">
  {% include "_partials/_content-builder/_blocks/_elements/_heading.twig" %}
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for entry in meetings %}
    <a class="card default shadow" href="{{ entry.url }}">
      <h4><span>{{ entry.title }}</span></h4>
      {% if entry.type == 'meetingsImported' %}
        <p class="flex items-center">{{ svg( '@webroot/dist/img/icon-calendar-new.svg') }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
        <p class="flex items-center pt-1">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ entry.startDate.format("g:ia") }} to {{ entry.endDate.format("g:ia") }}</span></p>
      {% else %}
        <p class="flex items-center">{{ svg( '@webroot/dist/img/icon-calendar-new.svg') }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
        <p class="flex items-center pt-1">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ entry.startTime.format("g:ia") }} to {{ entry.endTime.format("g:ia") }}</span></p>
      {% endif %}
    </a>
    {% endfor %}
  </div>
  <div class="pt-3">
    {% if entry.section.handle == 'boardsCommissions' %}
      <a class="button small secondary mt-6" href="{{ entry.url ~ '/meetings' }}">View All Meetings, Minutes & Agendas »</a>
    {% else %}
      <a class="button small secondary mt-6" href="{{ siteUrl ~ 'meetings' }}">View All Meetings, Minutes & Agendas »</a>
    {% endif %}
  </div>
</div>

