{% import '_macros/_macros' as macros %}

{% set meetings     = craft.entries.section('meetings').date(['>= ' ~ now|date('Y-m-d')]).order('date asc').limit(3).relatedTo(entry) %}
{% set headingText  = 'Related Meetings' %}
{% set buttonText   = 'See All Meetings' %}
{% if entry.section.handle == 'boardsCommissions' %}
  {% set buttonLink   = entry.url ~ '/meetings' %}
{% else %}
  {% set buttonLink   = siteUrl ~ 'meetings' %}
{% endif %}

{% if block.meetings|length %}
  {% set meetings     = block.meetings %}
{% else %}
  {% if meetings|length == 0 %}
    {% set meetings  = craft.entries.section('meetings').order('date desc').limit(3).relatedTo(entry) %}
  {% endif %}
{% endif %}

{% if meetings|length %}
  <section class="@container relative z-0 pb-12">
    <div class="container px-6 @3xl:px-16">
      <h2 class="{{ hClass }} {{ addClasses ?? "" }}">{{ headingText }}</h2>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for entry in meetings %}
        <a class="shadow card default" href="{{ entry.url }}">
          <h4><span>{% if entry.meetingStatus and entry.meetingStatus.value and entry.meetingStatus.value !== 'default' %}{{ entry.meetingStatus.label }} - {% endif %}{{ macros.meetingTitle(entry) }}</span></h4>
          {% if entry.type == 'meetingsImported' %}
            <p class="flex items-center">{{ svg( '@webroot/dist/img/icon-calendar-new.svg') }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
            <p class="flex items-center pt-1">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ entry.startDate.format("g:ia") }}{{ entry.endDate ? " to " ~ entry.endDate.format("g:ia") : '' }}</span></p>
          {% else %}
            <p class="flex items-center">{{ svg( '@webroot/dist/img/icon-calendar-new.svg') }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
            <p class="flex items-center pt-1">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ entry.startTime.format("g:ia") }}{{ entry.endTime ? " to " ~ entry.endTime.format("g:ia") : '' }}</span></p>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <div class="pt-3">
        {% if not block.hideReadMoreLink %}
            <a class="button small secondary mt-6" href="{{ buttonLink }}">{{ buttonText }}</a>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}