{# First, we get all the entries that the user has selected for this page. #}
{% set newsEntries = block.news.all() ?? null %}
{% set selectedLength = newsEntries|length %}
{% set relatedLimit = 0 %}

{# Next, we get all the entries that are related to the current page, minus the length of selected entries. #}
{% if selectedLength < 3 %}
	{% set relatedLimit = 3 - selectedLength %}
	{% set relatedNewsEntries = craft.entries.section('news').relatedTo(entry).limit(relatedLimit).all() ?? null %}
	{# Now we need to merge the remaining related Entries into the `newsEntries` array. #}
	{% if relatedNewsEntries %}
		{% set newsEntries = newsEntries|merge(relatedNewsEntries) %}
	{% endif %}
{% endif %}

{# Here we are removing the first item from the list so that we can have a “big” first item and then separating the
   remainder of the entries into a second array. #}
{% set firstEntry = newsEntries|slice(0,1) %}
{% set remainingEntries = newsEntries|slice(-1,0) %}

{# If there is a featured entry on this block, we go ahead and replace the “first entry” previously set and set the
   remaining entries to default to the original array. #}
{% set featuredEntry = block.featured.one() ?? null %}
{% if featuredEntry and block.expiryDate > now %}
	{% set firstEntry = featuredEntry %}
	{% set remainingEntries = newsEntries %}
{% endif %}

<section id="newsCards" class="component flex-1 {{ block.background }}">
	<div class="container px-6 py-12">
		<h3 class="font-bold pb-6">{{ block.heading|default('News') }}</h3>
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
			{% if newsEntries %}
				{% if firstEntry %}
					<div>
						{% set firstEntry = firstEntry[0] %}
						<a href="{{ firstEntry.url }}">
							<article class="overflow-hidden bg-white rounded shadow">
								{% set newsImage = entry.newsImage.one() ?? null %}
								{% if newsImage %}
									<figure class="relative z-0 flex items-center justify-center w-full p-4 bg-gray-300" style="padding-bottom:42%">
										{% if newsImage %}
											<img src="{{ newsImage.url }}" class="absolute inset-0 object-cover w-full h-full aspect-ratio" alt="{{ newsImage.altText ?? '' }}">
										{% endif %}
									</figure>
								{% endif %}
								<div class="p-8">
									<div class="mb-2 text-sm text-gray-800 uppercase">{{ firstEntry.postDate | date("M d, Y") }}</div>
									<h3 class="mt-4 mb-1 text-xl font-bold">
										<span style="line-height:1.3" class="line-clamp-3">{{ firstEntry.title }}</span>
									</h3>
									<div class="text-sm text-gray-1000 line-clamp-4">
										{{ firstEntry.summary }}
									</div>
								</div>
							</article>
						</a>
					</div>
				{% endif %}
				<div>
					{% for entry in newsEntries %}
						{% set newsImage = entry.newsImage.one() ?? null %}
						<a href="{{ entry.url }}">
							<article class="{{ newsImage ? 'horizontal-card' }} bg-white overflow-hidden rounded shadow mb-6 justify-start">
								{% if newsImage %}
									<figure class="z-0 bg-white">
										<img class="object-cover h-full w-full" src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? '' }}">
									</figure>
								{% endif %}
								<div class="flex flex-col p-4">
									<div class="mb-2 text-sm text-gray-800 uppercase">{{ entry.postDate | date("M d, Y") }}</div>
									<h3 class="mt-0 text-xl font-bold">
										{{ entry.title }}
									</h3>
								</div>
							</article>
						</a>
						{% if loop.last %}
							<a class="button text-sm secondary px-4 py-2 mt-0 mb-1 inline-flex" href="/news">
								See All News <i class="fa-regular fa-arrow-right mb-0"></i>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</section>