<section id="profileCards" class="component flex-1 {{ block.background }}">
	<div class="container px-6 pt-10 pb-8">

		<h3 class="font-bold">{{ block.heading }}</h3>
		{{ block.description }}

		{# Members from a Team page #}
		{% if block.profileTeam|length %}
			{% for team in block.profileTeam.all() %}
				
				{% if team.teamMembers|length %}
					{% for staffM in team.teamMembers.all() %}

						{% if staffM.staff|length %}
							<div class="items-stretch card-grid px-sm-1">

								{% set gridSize = "" %}
								{% if (staffM.staff|length == 2) or (staffM.staff|length == 4) %}
									{% set gridSize = "sm:w-1/2 md:w-1/2 lg:w-1/2" %}
								{% else %}
									{% set gridSize = "sm:w-1/2 md:w-1/2 lg:w-1/3" %}
								{% endif %}

								{% for staffMember in staffM.staff.all() %}
									{% set photo = photo ?? staffMember.portrait.one ?? '' %}

									<a class="{{ gridSize }} mb-3 px-3 md:px-4" href="{{ staffMember.url }}" style="margin-left:0;margin-right:0">

										<div class="block mb-1">
											<div class="text-gray-1000 lg:flex sm:items-start">

												<figure class="block w-40 sm:pr-3" style="width:150px">
													{% if photo | length %}
														{# TODO: Migrate these settings to be stored as record properties in Algolia #}
														{% set transformedImage = craft.imager.transformImage(
															photo,
															{width: 150 },
															{ ratio: 1/1, position: photo.getFocalPoint()},
															{ fillTransforms: true}
														) %}
														{% set transformedImages = craft.imager.transformImage(photo, [
															{ width: 150 },
															{ width: 120, jpegQuality: 65 }
														], { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
														<img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" alt="Portrait of {{ entry.jobTitle }}, {{ entry.title }}" class="block w-full h-full rounded-full">
													{% else %}
														<div class="h-full overflow-hidden text-gray-400 bg-gray-100 border-2 border-gray-200 rounded-full opacity-75 fill-current">
															<svg class="block h-full" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 140 140" xml:space="preserve" fill="currentColor"><path d="M39.168 47.556C39.168 64.473 53.083 78.39 70 78.39s30.832-13.916 30.832-30.833c0-16.916-13.915-30.832-30.832-30.832S39.168 30.64 39.168 47.555zm7.708 0c0-12.687 10.437-23.124 23.124-23.124S93.124 34.87 93.124 47.556c0 12.688-10.437 23.125-23.124 23.125S46.876 60.244 46.876 47.556zm-23.124 88.643c0-25.37 20.878-46.248 46.248-46.248 25.37 0 46.248 20.878 46.248 46.248a3.855 3.855 0 0 0 3.854 3.854 3.855 3.855 0 0 0 3.854-3.854c0-29.6-24.357-53.956-53.956-53.956-29.6 0-53.956 24.357-53.956 53.956a3.855 3.855 0 0 0 3.854 3.854 3.855 3.855 0 0 0 3.854-3.854z"/></svg>
														</div>
													{% endif %}
												</figure>
											
												<div class="mt-1 lg:mt-0 lg:w-3/4">
													<h3 class="text-xl text-green-800">{{ staffMember.title }}</h3>
													<span class="text-sm mt-3 block">{{ staffMember.jobTitle }}</span>
												</div>

											</div>
										</div>
									
									</a>
								{% endfor %}

							</div>
						{% endif %}
						
					{% endfor %}
				{% endif %}

			{% endfor %}
		{% endif %}
		

		{# Featured Team Members #}
		{% if block.profileFeatured|length %}
			<div class="items-stretch card-grid px-sm-2">

				{% set gridSize = "" %}
				{% if (block.profileFeatured|length == 2) or (block.profileFeatured|length == 4) %}
					{% set gridSize = "sm:w-1/2 md:w-1/2 lg:w-1/2" %}
				{% else %}
					{% set gridSize = "sm:w-1/2 md:w-1/2 lg:w-1/3" %}
				{% endif %}

				{% for staff in block.profileFeatured.all() %}

					{% if staff.member|length %}
						{% for memberS in staff.member.all() %}
							{% set photo = photo ?? memberS.portrait.one ?? '' %}

							<a class="{{ gridSize }} mb-3 px-3" href="{{ memberS.url }}" style="margin-left:0;margin-right:0">

								<div class="block mb-1">
									<div class="text-gray-1000 lg:flex sm:items-start">

										<figure class="block w-40 sm:pr-4" style="width:150px">
											{% if photo | length %}
												{# TODO: Migrate these settings to be stored as record properties in Algolia #}
												{% set transformedImage = craft.imager.transformImage(
													photo,
													{width: 150 },
													{ ratio: 1/1, position: photo.getFocalPoint()},
													{ fillTransforms: true}
												) %}
												{% set transformedImages = craft.imager.transformImage(photo, [
													{ width: 150 },
													{ width: 120, jpegQuality: 65 }
												], { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
												<img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" alt="Portrait of {{ entry.jobTitle }}, {{ entry.title }}" class="block w-full h-full rounded-full">
											{% else %}
												<div class="h-full overflow-hidden text-gray-400 bg-gray-100 border-2 border-gray-200 rounded-full opacity-75 fill-current">
													<svg class="block h-full" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" fill="" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 140 140" xml:space="preserve" fill="currentColor"><path d="M39.168 47.556C39.168 64.473 53.083 78.39 70 78.39s30.832-13.916 30.832-30.833c0-16.916-13.915-30.832-30.832-30.832S39.168 30.64 39.168 47.555zm7.708 0c0-12.687 10.437-23.124 23.124-23.124S93.124 34.87 93.124 47.556c0 12.688-10.437 23.125-23.124 23.125S46.876 60.244 46.876 47.556zm-23.124 88.643c0-25.37 20.878-46.248 46.248-46.248 25.37 0 46.248 20.878 46.248 46.248a3.855 3.855 0 0 0 3.854 3.854 3.855 3.855 0 0 0 3.854-3.854c0-29.6-24.357-53.956-53.956-53.956-29.6 0-53.956 24.357-53.956 53.956a3.855 3.855 0 0 0 3.854 3.854 3.855 3.855 0 0 0 3.854-3.854z"/></svg>
												</div>
											{% endif %}
										</figure>
									
										<div class="mt-4 lg:mt-0 lg:w-3/4">
											<h3 class="text-xl text-green-800">{{ memberS.title }}</h3>
											<span class="text-sm mt-3 block">
												{% if staff.jobTitle %}
													{{ staff.jobTitle }}
												{% else %}
													{{ memberS.jobTitle }}
												{% endif %}
											</span>
											<span class="text-sm mt-1 block">{{ staff.caption }}</span>
										</div>

									</div>
								</div>
							
							</a>
							
						{% endfor %}
					{% endif %}

				{% endfor %}

			</div>
		{% endif %}


		{% if block.linkTeam %}
			<a class="button text-sm secondary p-4 mb-1" href="{{ block.linkTeam.url }}" target="{{ block.linkTeam.target }}">
				{{ block.linkTeam.text }}
			</a>
		{% endif %}

	</div>
</section>