{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set cards = block.serviceCards.all() ?? null %}
{% set cardLength = cards|length %}
{% set wideCards = cardLength == 2 or cardLength == 4 %}

<section class="flex-1 bg-yellow-100">
	{{ include("_partials/_content-builder/_blocks/_elements/_component-header.twig", {
		params: {
			text: block.heading|default("Services"),
			description: block.description
		}
	}) }}

	{% if cards %}
		<div class="grid grid-cols-1 items-stretch gap-6 md:grid-cols-2 {{ wideCards ? '' : 'lg:grid-cols-3' }} md:gap-8 mt-8 md:mt-12">
			{% for card in cards %}
				{% set link = card.card %}
				<a
					class="h-full rounded-sm bg-yellow-500 p-6 text-lg font-bold no-underline transition-all duration-75 text-gray-1000 shadow-btn hover:text-gray-900 hover:bg-yellow-600"
					href="{{ link.url }}"
					target="{{ link.target }}">
						<h4 class="my-0 text-xl">{{ link.text }}{% if link.target %} <i class="pl-1 fas fa-external-link-alt h-[17px]"></i>{% endif %}</h4>
						{% if card.description %}
							<p class="mt-3 mb-0 text-sm font-normal">{{ card.description }}</p>
						{% endif %}
				</a>
			{% endfor %}
		</div>
	{% endif %}

	{% if block.serviceCTA %}
		<a
			class="mt-4 p-4 text-sm button secondary" href="{{ block.serviceCTA.url }}"
			target="{{ block.serviceCTA.target }}">
			{{ block.serviceCTA.text }}{% if block.serviceCTA.target %} <i class="pl-1 fas fa-external-link-alt h-[17px]"></i>{% endif %}
		</a>
	{% endif %}
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}