{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<section class="relative z-0 bg-cool-gray-100 py-6 {{ not loop.last ? "mb-12" }}">
  <div class="body-text">
    {{ include("_partials/_heading.twig", {
      params: {
        text: block.heading
      }
    }) }}
    {{ block.entriesDescription }}
    <ul class="">
      {% for entry in block.entries %}
        {% set isDoc = (entry.type == "documents") ? true : false %}
        {% set url = isDoc ? entry.documentFile[0].url : entry.redirectUrl ?? entry.url %}
        {% set target = isDoc ? "_blank" : "_self" %}
        <li class="my-2"><a href="{{ url }}" target="{{ target }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}