{% if block.featured|length %}
	{% for entry in block.featured.all() %}

	{# Get image #}
	{% if entry.type == 'news' %}
		{% set photo = photo ?? entry.newsImage.one ?? '' %}
	{% elseif entry.type == 'projects' %}
		{% set photo = photo ?? entry.banner.one ?? '' %}
	{% elseif entry.type == 'resources' %}
		{% set photo = photo ?? entry.resourceImage.one ?? '' %}
	{% elseif entry.type == 'topics' %}
		{% set photo = photo ?? entry.banner.one ?? '' %}
	{% endif %}

	{% if photo | length and block.background != 'photobg' %}
		{# TODO: Migrate these settings to be stored as record properties in Algolia #}
		{% set transformedImage = craft.imager.transformImage(
			photo,
			{ width: 1220 },
			{ ratio: 1/1, position: photo.getFocalPoint()},
			{ fillTransforms: true}
		) %}
		{% set transformedImages = craft.imager.transformImage(photo, [
			{ width: 800 },
			{ width: 400, jpegQuality: 65 },
			{ width: 300, jpegQuality: 65 }
		], { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
	{% endif %}

	{% if photo | length and block.background == 'photobg'  %}
		{# TODO: Migrate these settings to be stored as record properties in Algolia #}
		{% set transformedImage = craft.imager.transformImage(
			photo,
			{ width: 1220 },
			{ ratio: 16/9, position: photo.getFocalPoint()},
			{ fillTransforms: true}
		) %}
	{% endif %}

	{# Get alignment #}
	{% if block.alignment %}
		{% set contentAlignment = 'lg:ml-6 order-2' %}
		{% set photoAlignment = 'order-1 d-none lg:block' %}
	{% else %}
		{% set contentAlignment = '' %}
		{% set photoAlignment = 'lg:ml-6 d-none lg:block' %}
	{% endif %}

	{# Check to see if a photo is set as the background #}
	{% set photoBG = '' %}
	{% set photoBGimg = '' %}
	{% if block.background == 'photobg' %}
		{% set photoBG = 'bg-white p-6 md:w-3/4' %}
		{% set photoBGimg = 'md:w-1/4' %}
	{% endif %}

		<section class="mb-12">

			{% if photo | length and block.background == 'photobg' %}
				<div class="container px-6 pt-10 pb-8" style="background:url({{ transformedImage.url }}) no-repeat;background-size:cover">
			{% else %}
				<div class="container px-6 pt-10 pb-8 {{ block.background }}">
			{% endif %}
			

				<div class="px-2 sm:px-6 md:px-6 lg:px-6 pb-1">
					<div class="flex lg:flex-row">
					
						{% if photo | length and block.background != 'photobg' %}
							<div class="md:3/4 lg:w-1/2 {{ contentAlignment }} {{ photoBG }}">
						{% else %}
							<div class="md:w-3/4 lg:w-2/3 {{ contentAlignment }} {{ photoBG }}">
						{% endif %}

							<span class="block font-bold text-md pb-5">{{ block.brow|default('Spotlight') }}</span>
							
							<h3 class="font-bold p-0 mb-4">
								{% if block.heading %}
									{{ block.heading }}
								{% else %}
									{{ entry.title }}
								{% endif %}
							</h3>

							{% if block.summary %}
								{{ block.summary }}
							{% else %}
								{% if entry.summary %}
									{{ entry.summary|truncate(500) }}
								{% elseif entry.leadIn %}
									{{ entry.leadIn|truncate(500) }}
								{% endif %}
							{% endif %}

							<div class="block mt-6">
								<a class="button text-sm secondary mt-0" href="{{ entry.url }}">
									Read More
								</a>
							</div>

						</div>

						{% if photo | length  %}
							<figure class="md:w-1/2 lg:w-1/2 {{ photoAlignment }} {{ photoBGimg }}">
								{% if block.background != 'photobg' %}
									<img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" alt="Portrait of {{ entry.jobTitle }}, {{ entry.title }}" class="block w-full">
								{% endif %}
							</figure>
						{% endif %}

					</div>
				</div>

			</div>

		</section>

	{% endfor %}
{% endif %}