{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<a id="{{ blockId }}" class="anchor-link"></a>
<section class="@container relative z-0">
  <div class="container px-6 @3xl:px-16">
    <h3 class="{{ subheadingClass }}">{{ block.text }}</h3>
  </div>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}