{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<a id="{{ blockId }}" class="anchor-link"></a>
<section class="relative z-0">
  <h3 class="{{ subheadingClass }}">{{ block.text }}</h3>
</section>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}