{% extends '_layout.twig' %}

{% set jobTitle       = entry.jobTitle ? entry.jobTitle : entry.staffImportJobTitle %}
{% set department     = entry.departmentOfficialBoardCommission|length ? entry.departmentOfficialBoardCommission.one().title : entry.staffImportDepartment %}
{% if entry.departmentOfficialBoardCommission|length %}
  {% set public_body  = entry.departmentOfficialBoardCommission.one() %}
  {% if public_body.section.handle == 'departments' %}
    {% set department = public_body.legalTitle ? public_body.legalTitle : department %}
  {% endif %}
{% endif %}
{% set departmentLink = entry.departmentOfficialBoardCommission|length ? entry.departmentOfficialBoardCommission.one().url : '' %}
{% set email          = entry.emailAddress ? entry.emailAddress : entry.staffImportEmail %}
{% set phone          = entry.phoneNumber ? entry.phoneNumber : entry.staffImportPhoneNumber %}

{% block content %}
  <div class="leading-none banner">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="absolute inset-0 z-0 bg-transparent-oakland-roots"></div>
      {% include "_components/partials/_breadcrumbs.twig" %}
    </div>
  </div>
  <div id="content" style="position:relative;top:-5rem;"></div>
  <section class="bg-white">
    <div class="container pb-16">
      <div class="sm:flex">
        <div class="sm:w-1/4 sm:mr-8">
          <figure class="w-full">
            {% if entry.portrait | length %}
              <img src="{{ entry.portrait.one.url }}" alt="Portrait of {{ entry.title }}">
            {% else %}
              <div class="h-full p-12 text-gray-500 bg-gray-300 opacity-75 fill-current">
                {{ svg('@webroot/dist/img/icon-user.svg')|attr({
                    class: 'w-full h-full'
                })|raw }}
              </div>
            {% endif %}
          </figure>
        </div>
        <div class="sm:flex-1">
          <h1 class="mb-3 text-3xl font-bold md:text-4xl">{{ entry.title }}</h1>
          {% if entry.bio %}
            <div class="text-xl mb-3">{{ entry.bio | retcon('attr', '*', { class: 'mt-2'}) | raw }}</div>
          {% endif %}
          {% if jobTitle %}
            <p class="mt-2 mb-0">
              <span class="font-bold">Title:</span>
              <span>{{ jobTitle }}</span>
            </p>
          {% endif %}
          {% if department %}
            <p class="mt-2 mb-0">
              <span class="font-bold">Department:</span>
              {% if departmentLink %}
                <a href="{{ departmentLink }}">{{ department }}</a>
              {% else %}
                <span>{{ department }}</span>
              {% endif %}
            </p>
          {% endif %}
          {% if email | length %}
            <p class="mt-2 mb-0">
              <span class="font-bold">Email Address:</span>
              <a href="mailto:{{ email }}">{{ email }}</a>
            </p>
          {% endif %}
          {% if phone | length %}
            <p class="mt-2 mb-0">
              <span class="font-bold">Phone Number:</span>
              <a href="tel:{{ phone }}">{{ phone }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
