{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set vars = {
	nav: null,
}|merge(params) %}

{% for item in vars.nav %}
	{% if item.toggle %}
		{% if item.linkit %}
			<li class="border-b border-green-600"><a class="focusable" href="{{ item.linkit.url }}">{{ item.heading }}</a></li>
		{% endif %}
	{% else %}
		<li class="border-b border-green-600 has-submenu click">
			<a
				tabindex="0"
				id="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}"
				role="button"
				aria-haspopup="true"
				aria-expanded="false"
				data-parent="#navbar-dropdown-mobile"
				data-toggle="dropdown"
				class="focusable"
			>{{ item.heading }} <span>{{ svg("@webroot/dist/img/icon-arrow.svg")|attr({ class: 'fill-current' }) }}</span></a>
			<ul class="components" aria-labelledby="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}">
				{% set navItems = item.children.all() %}
				{% for navItem in navItems %}
					<li><a class="block border-t border-green-600 bg-green-900 p-4 focusable" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
				{% endfor %}
				{% if item.linkit %}
					<li><a class="block border-t border-green-600 bg-yellow-500 p-4 focusable text-gray-1000" href="{{ item.linkit.url }}" style="color:#222222">{{ item.linkit.text }}</a></li>
				{% endif %}
			</ul>
		</li>
	{% endif %}
{% endfor %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
