{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'addresses',
    'contentBuilder',
    'portrait',
    'teams',
    'phoneNumbers',
    'openHours',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:documentFile',
    'contentBuilder.officials.officials',
  ]
) %}

{% set pressRelease = entry.pressReleaseFile %}
{% set contentBuilder = entry.contentBuilder | length %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'News',
        link: '/news'
      }
    ],
  } %}
  <div class="container pt-0 mx-auto">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex flex-1">
        <div class="md:w-3/4 md:mr-8">
          {% include '_partials/_elements/_last-update.twig' %}
          {% if entry.newsImage | length %}
            <figure class="max-w-full mb-8">
              {% set newsImage = entry.newsImage.one() %}
              <img src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? ''}}" />
            </figure>
          {% endif %}
          {% if contentBuilder %}
            {% include '_partials/_content-builder/_tool.twig' %}
          {% else %}
            <div class="body-text">
              {{ entry.body }}
            </div>
          {% endif %}
        </div>
        <div class="md:flex-1">
          {% if entry.contact|length or entry.mediaContact %}
            <h3>Media Contact{{ entry.contact|length > 1 or (entry.contact|length and entry.mediaContact) ? 's' }}</h3>
          {% endif %}
          {% if entry.contact|length %}
            {% for contact in entry.contact.all() %}
              {% if contact.portrait|length %}
                {% set photo = contact.portrait.one() %}
                {% set transformedImage = craft.imager.transformImage(
                  photo,
                  {width: 150 },
                  { ratio: 1/1, position: photo.getFocalPoint()},
                  { fillTransforms: true}
                ) %}
                {% set transformedImages = craft.imager.transformImage(photo, [
                  { width: 500 },
                  { width: 300, jpegQuality: 65 },
                  { width: 150, jpegQuality: 65 }
                ], { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
                  <img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" alt="Portrait of {{ contact.jobTitle ? contact.jobTitle : contact.staffImportJobTitle }}, {{ contact.title }}" class="block w-full mt-3 border-2 border-gray-200 rounded-full" style="max-width:95px;">
              {% endif %}
              <p>
                <b><a target="_blank" href="{{ contact.url }}"><span>{{ contact.title }}</span></a></b>
                {% if contact.jobTitle or contact.staffImportJobTitle %}<br><span>{{ contact.jobTitle ? contact.jobTitle : contact.staffImportJobTitle }}</span>{% endif %}
                {% if contact.departmentOfficialBoardCommission|length or contact.staffImportDepartment %}<br><span>{{ contact.departmentOfficialBoardCommission.one() ? contact.departmentOfficialBoardCommission.one().title : contact.staffImportDepartment }}</span>{% endif %}
                {% if contact.emailAddress or contact.staffImportEmail %}<br><a href="mailto:{{ contact.emailAddress ? contact.emailAddress : contact.staffImportEmail }}">{{ contact.emailAddress ? contact.emailAddress : contact.staffImportEmail }}</a>{% endif %}
                {% if contact.phoneNumber or contact.staffImportPhoneNumber %}<br><a href="tel:{{ contact.phoneNumber ? contact.phoneNumber : contact.staffImportPhoneNumber }}">{{ contact.phoneNumber ? contact.phoneNumber : contact.staffImportPhoneNumber }}</a>{% endif %}
              </p>
            {% endfor %}
          {% endif %}
          {% if entry.mediaContact %}
            {{ entry.mediaContact }}
          {% endif %}
          {% if pressRelease.exists() %}
            <a href="{{ pressRelease.one.url }}" class="w-full btn">Download Press Release</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
