{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'addresses',
    'contentBuilder',
    'portrait',
    'teams',
    'phoneNumbers',
    'openHours',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:documentFile',
    'contentBuilder.officials.officials',
  ]
) %}

{% set pressRelease = entry.pressReleaseFile %}
{% set contentBuilder = entry.contentBuilder | length %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'News',
        link: '/news'
      }
    ],
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <article class="grid flex-1 max-w-6xl gap-8 md:grid-cols-11 md:gap-16">
        <div class="md:col-span-7">
          {% include '_partials/_elements/_last-update.twig' %}
          {% if entry.newsImage | length %}
            <figure class="max-w-full mb-8">
              {% set newsImage = entry.newsImage.one() %}
              <img src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? ''}}" />
            </figure>
          {% endif %}
          {% if contentBuilder %}
            {% include '_partials/_content-builder/_tool.twig' %}
          {% else %}
            <div class="body-text">
              {{ entry.body }}
            </div>
          {% endif %}
        </div>
        <aside class="md:col-span-4">
          {# Query for related staff entries under `entry.contact` #}
          {% set contactEntry = entry.contact.all() %}
          {# Query for manually enetered media contact #}
          {% set mediaContact = entry.mediaContact %}

          {% if contactEntry|length or mediaContact  %}
            <h3>Media Contact{{ contactEntry|length > 1 ? 's' }}</h3>
            {% if contactEntry|length %}
              {% for contact in contactEntry %}
                {{ include ("news/_partials/media-contact.twig", {
                  params: {
                    portrait: contact.portrait.one(),
                    title: contact.jobTitle ? contact.jobTitle : contact.staffImportJobTitle,
                    name: contact.title,
                    link: contact.url,
                    workgroup: contact.departmentOfficialBoardCommission.one() ? contact.departmentOfficialBoardCommission.one().title : contact.staffImportDepartment,
                    email: contact.emailAddress ? contact.emailAddress : contact.staffImportEmail,
                    phone: contact.phoneNumber ? contact.phoneNumber : contact.staffImportPhoneNumber
                  }
                }) }}
              {% endfor %}
            {% endif %}
            {% if entry.mediaContact %}
              {{ entry.mediaContact }}
            {% endif %}
          {% endif %}
          {% if pressRelease.exists() %}
            <a href="{{ pressRelease.one.url }}" class="w-full btn">Download Press Release</a>
          {% endif %}
        </aside>
      </article>
    </div>
  </div>
{% endblock %}
