{% extends "_content.twig" %}

{% set pressRelease = entry.pressReleaseFile %}
{% set seoMaticLinks = seomatic.site.sameAsLinks %}
{% set updates = entry.accordion.all() ?? null %}

{# Banner #}
{% block banner %}
  {{ include("_partials/_page-banners.twig", {
    breadCrumbLinks: [
      {
        title: 'News',
        link: '/news'
      }
    ],
    bannerImage: entry.banner|length ? {
      position: entry.banner.one().getFocalPoint('asCss'),
      src: entry.banner.one().url,
      alt: entry.banner.one().title ?? entry.banner.one().filename
    } : false,
    bannerTitle: entry.title,
    custHeaderContent: null
  }) }}
{% endblock %}

{# Content #}
{% block content %}
  <div>
    {# News image #}
    {% if entry.newsImage|length %}
      <figure class="mb-8 max-w-full">
        {% set newsImage = entry.newsImage.one() %}
        <img src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? ''}}" />
      </figure>
    {% endif %}

    <div class="body-text">
      {{ entry.body }}
    </div>

    {% if updates %}
      {{ include ("_components/_accordion.twig", {
        params: {
          header: "Updates",
          content: updates
        }
      }) }}
    {% endif %}

    {# Tags (relationships) #}
    <hr class="mt-12 mb-4 border hr">

    {# An array offers more control over which relationships can be linked as tags. #}
    {% set relationshipFields = [
      'boardsCommissions',
      'departments',
      'officials',
      'projects',
      'topics',
      'serviceTypes'
    ] %}

    {% set tagLinks = [] %}

    {% for relationshipField in relationshipFields %}
      {% for relatedEntity in attribute(entry, relationshipField).all() %}
        {% set tagLinks = tagLinks|merge([
          '<a class="font-bold" href="' ~ relatedEntity.url ~ '">' ~ relatedEntity.title ~ '</a>'
        ]) %}
      {% endfor %}
    {% endfor %}

    <div>
      Tagged with:
      {{ tagLinks|join(', ')|raw }}
    </div>
  </div>
{% endblock %}

{# Sidebar #}
{% block sidebar %}
  {# Press Release #}
  {% if entry.pressReleaseFile|length %}
    {% set pressReleaseFile = entry.pressReleaseFile.one() %}

    <hr class="mb-4">

    <div>
      <h4 class="mb-8 pt-0">{{ 'Press Release'|t }}</h4>

      <div>
        <a class="m-0 text-center text-sm button secondary" href="{{ pressReleaseFile.url }}">
          Download {{ entry.altText ? '"' ~ entry.altText ~ '"' : '' }} Press Release File
        </a>
      </div>
    </div>
  {% endif %}

  {# Contact #}
  {% if entry.contact|length %}
    <hr class="mb-4">

    <div>
      <h4 class="mb-8 pt-0">{{ 'Contact'|t }}</h4>

      {% for contactEntry in entry.contact %}
        {#
          Staff info isn't always set in primary fields.
          In case primary fields are blank, resort to alternate fields
          populated by the staff import automation.
        #}
        {% set contactFirstName = contactEntry.firstName ?: contactEntry.staffImportGivenName %}
        {% set contactLastName = contactEntry.lastName ?: contactEntry.staffImportSurname %}
        {% set contactJobTitle = contactEntry.jobTitle ?: contactEntry.staffImportJobTitle %}
        {% set contactEmailAddress = contactEntry.emailAddress ?: contactEntry.staffImportEmail %}
        {% set contactPhoneNumber = contactEntry.phoneNumber ?: contactEntry.staffImportPhoneNumber %}

        <div class="mb-12">
          <p class="mb-5">
            {{ contactFirstName ~ ' ' ~ contactLastName }}
            <br>
            {{ contactJobTitle }}
          </p>

          {% if contactEmailAddress|length %}
            <div class="mb-6">
              <img alt="" class="inline w-5" src="{{ alias('@web/dist/img/icon-envelope-updated.svg') }}">
              <a href="mailto:{{ contactEmailAddress }}">{{ contactEmailAddress }}</a>
            </div>
          {% endif %}

          {% if contactPhoneNumber|length %}
            <div>
              <img alt="" class="inline w-5" src="{{ alias('@web/dist/img/icon-phone-updated.svg') }}">
              <a href="tel:{{ contactPhoneNumber }}">{{ contactPhoneNumber }}</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# Share (social buttons) #}
  <hr class="mb-4">

  {{ include("_partials/_elements/_social-media-share.twig", {params: {}}) }}

  {# Post & update dates #}
  <hr class="mt-8 mb-4 border hr">

  <div class="text-gray-900">
    {{ include("_partials/_elements/_last-update.twig") }}
  </div>
{% endblock %}

{# Any content or elements before footer #}
{% block prefooter %}
  {% if entry.news|length %}
    <section class="bg-blue-100 p-12">
      <div class="mb-8">
        <h2>More Related News</h2>
      </div>
      <div class="xl:flex-column xl:flex xl:items-start xl:gap-12">
        {% for relatedNewsEntry in entry.news %}
          {% set relatedNewsEntryImage = relatedNewsEntry.newsImage|length ? relatedNewsEntry.newsImage.one() : null %}
          <article class="mb-8 h-auto rounded bg-white shadow md:flex md:h-52 md:flex-row md:items-start xl:w-1/2">
            {% if relatedNewsEntryImage %}
              <figure>
                <img src="{{ relatedNewsEntryImage.url }}"
                  class="md:h-52 md:w-52"
                  alt="{{ relatedNewsEntryImage.title ?? relatedNewsEntryImage.filename }}"
                  title="{{ relatedNewsEntryImage.title ?? relatedNewsEntryImage.filename }}">
              </figure>
            {% else %}
              <figure class="bg-blue-800 p-12 md:h-52 md:w-52">
                <img src="{{ alias('@web/dist/img/icon-newspaper-blue-300.svg') }}"
                  class="mx-auto"
                  alt="No article image to display">
              </figure>
            {% endif %}
            <div class="p-4 md:w-3/4">
              <div class="mb-2 text-sm uppercase text-gray-1000">
                {{ relatedNewsEntry.postDate|date("M d, Y") }}
              </div>
              <h4 class="my-2 text-lg font-bold leading-tight">
                <a href="{{ relatedNewsEntry.url }}">{{ relatedNewsEntry.title }}</a>
              </h4>
              <div class="text-gray-1000 md:line-clamp-2">
                {% set relatedNewsEntryExcerpt = relatedNewsEntry.summary ?: relatedNewsEntry.body %}
                {{ relatedNewsEntryExcerpt|striptags|slice(0, 200) ~ (relatedNewsEntryExcerpt|length > 200 ? '...' : '') }}
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}
