{% extends '_content.twig' %}

{% set pressRelease = entry.pressReleaseFile %}
{% set seoMaticLinks = seomatic.site.sameAsLinks %}
{% set socialMedia = [
  [ seoMaticLinks.facebook.url, 'facebook.svg', 'Oakland Facebook Page' ],
  [ seoMaticLinks.twitter.url, 'twitter.svg', 'Oakland Twitter Page' ],
  [ seoMaticLinks.instagram.url, 'instagram.svg', 'Oakland Instagram Page' ]
] %}

{# Banner #}
{% block banner %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'News',
        link: '/news'
      }
    ],
    bannerImage: entry.banner|length ? {
      position: entry.banner.one().getFocalPoint('asCss'),
      src: entry.banner.one().url,
      alt: entry.banner.one().title ?? entry.banner.one().filename
    } : false,
    bannerTitle: entry.title,
    custHeaderContent: null
  } %}
{% endblock %}

{# Content #}
{% block content %}
  <div>
    {# News image #}
    {% if entry.newsImage|length %}
      <figure class="max-w-full mb-8">
        {% set newsImage = entry.newsImage.one() %}
        <img src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? ''}}" />
      </figure>
    {% endif %}

    {# Content body, or content builder #}
    {% if entry.contentBuilder|length %}
      {% include '_partials/_content-builder/_tool.twig' %}
    {% else %}
      <div class="body-text">
        {{ entry.body }}
      </div>
    {% endif %}

    {# Tags (relationships) #}
    <hr class="mt-12 mb-4 hr border">

    {# An array offers more control over which relationships can be linked as tags. #}
    {% set relationshipFields = [
      'boardsCommissions',
      'departments',
      'officials',
      'projects',
      'topics',
      'serviceTypes'
    ] %}

    {% set tagLinks = [] %}

    {% for relationshipField in relationshipFields %}
      {% for relatedEntity in attribute(entry, relationshipField).all() %}
        {% set tagLinks = tagLinks|merge([
          '<a class="font-bold" href="' ~ relatedEntity.url ~ '">' ~ relatedEntity.title ~ '</a>'
        ]) %}
      {% endfor %}
    {% endfor %}

    <div>
      Tagged with:
      {{ tagLinks|join(', ')|raw }}
    </div>
  </div>
{% endblock %}

{# Sidebar #}
{% block sidebar %}
  {# Press Release #}
  {% if entry.pressReleaseFile|length %}
    {% set pressReleaseFile = entry.pressReleaseFile.one() %}

    <hr class="mb-4">

    <div>
      <h4 class="pt-0 mb-8">{{ 'Press Release'|t }}</h4>

      <div>
        <a class="button secondary m-0 text-center text-sm" href="{{ pressReleaseFile.url }}">
          Download {{ entry.altText ? '"' ~ entry.altText ~ '"' : '' }} Press Release File
        </a>
      </div>
    </div>
  {% endif %}

  {# Contact #}
  {% if entry.contact|length %}
    <hr class="mb-4">

    <div>
      <h4 class="pt-0 mb-8">{{ 'Contact'|t }}</h4>

      {% for contactEntry in entry.contact %}
        {#
          Staff info isn't always set in primary fields.
          In case primary fields are blank, resort to alternate fields
          populated by the staff import automation.
        #}
        {% set contactFirstName = contactEntry.firstName ?: contactEntry.staffImportGivenName %}
        {% set contactLastName = contactEntry.lastName ?: contactEntry.staffImportSurname %}
        {% set contactJobTitle = contactEntry.jobTitle ?: contactEntry.staffImportJobTitle %}
        {% set contactEmailAddress = contactEntry.emailAddress ?: contactEntry.staffImportEmail %}
        {% set contactPhoneNumber = contactEntry.phoneNumber ?: contactEntry.staffImportPhoneNumber %}

        <div class="mb-12">
          <p class="mb-5">
            {{ contactFirstName ~ ' ' ~ contactLastName }}
            <br>
            {{ contactJobTitle }}
          </p>

          {% if contactEmailAddress|length %}
            <div class="mb-6">
              <img class="inline w-5" src="{{ alias('@web/dist/img/icon-envelope-updated.svg') }}">
              <a href="mailto:{{ contactEmailAddress }}">{{ contactEmailAddress }}</a>
            </div>
          {% endif %}

          {% if contactPhoneNumber|length %}
            <div>
              <img class="inline w-5" src="{{ alias('@web/dist/img/icon-phone-updated.svg') }}">
              <a href="tel:{{ contactPhoneNumber }}">{{ contactPhoneNumber }}</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# Share (social buttons) #}
  <hr class="mb-4">

  <div>
    <h4 class="pt-0 mb-4">{{ 'Share'|t }}</h4>

    <ul class="flex p-0 m-0 gap-4 list-none">
      {% for socItem in socialMedia %}
        <li>
          <a href="{{ socItem[0] }}" target="_blank" class="flex items-center justify-center w-10 h-10 bg-green-800 text-white hover:text-white rounded-full">
              {{ svg('@webroot/dist/img/logo-' ~ socItem[1])|attr({class:'h-5'}) }}
              <span class="hidden-visually">{{ socItem[2] }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {# Post & update dates #}
  <hr class="mt-8 mb-4 hr border">

  <div class="text-gray-900">
    {% include '_partials/_elements/_last-update.twig' %}
  </div>
{% endblock %}

{# Any content or elements before footer #}
{% block prefooter %}
  {% if entry.news|length %}
    <section class="bg-blue-100 p-12">
      <div class="mb-8">
        <h2>More Related News</h2>
      </div>
      <div class="xl:flex xl:flex-column xl:items-start xl:gap-12">
        {% for relatedNewsEntry in entry.news %}
          {% set relatedNewsEntryImage = relatedNewsEntry.newsImage|length ? relatedNewsEntry.newsImage.one() : null %}
          <article class="md:flex md:flex-row md:items-start xl:w-1/2 md:h-52 h-auto mb-8 bg-white rounded shadow">
            {% if relatedNewsEntryImage %}
              <figure>
                <img src="{{ relatedNewsEntryImage.url }}"
                  class="md:w-52 md:h-52"
                  alt="{{ relatedNewsEntryImage.title ?? relatedNewsEntryImage.filename }}"
                  title="{{ relatedNewsEntryImage.title ?? relatedNewsEntryImage.filename }}">
              </figure>
            {% else %}
              <figure class="md:w-52 md:h-52 p-12 bg-blue-800">
                <img src="{{ alias('@web/dist/img/icon-newspaper-blue-300.svg') }}"
                  class="mx-auto"
                  alt="No article image to display">
              </figure>
            {% endif %}
            <div class="md:w-3/4 p-4">
              <div class="mb-2 text-sm text-gray-1000 uppercase">
                {{ relatedNewsEntry.postDate|date("M d, Y") }}
              </div>
              <h4 class="my-2 text-md font-bold">
                <a href="{{ relatedNewsEntry.url }}">{{ relatedNewsEntry.title }}</a>
              </h4>
              <div class="md:line-clamp-2 text-gray-1000">
                {% set relatedNewsEntryExcerpt = relatedNewsEntry.summary ?: relatedNewsEntry.body %}
                {{ relatedNewsEntryExcerpt|striptags|slice(0, 200) ~ (relatedNewsEntryExcerpt|length > 200 ? '...' : '') }}
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}
