{% if not entry  %}
  {% redirect 404 %}
{% endif %}

{% set filter_enabled = false %}
{% set homepage_entry = craft.entries()
    .section('homepage')
    .one() %}
{% set all_department_entries = craft.entries()
    .section('departments')
    .order('title asc')
    .all() %}
{% set all_official_entries = craft.entries()
    .section('officials')
    .all() %}
{#
 # TODO: "Boards & Commissions" are pending transition to become "Public Bodies".
 # Once the change is completed in the backend, update the query below and delete this note.
 #}
{% set all_public_body_entries = craft.entries()
    .section('boardsCommissions')
    .order('title asc')
    .all() %}
{% set news = craft.entries()
    .section('news')
    .isPressRelease('yes')
    .order('postDate desc')
    .limit(10) %}

{# Search query #}
{% set search = craft.app.request.getQueryParam('search') ?: '' %}
{% if search %}
  {% set news = news.search(search) %}
  {% set filter_enabled = true %}
{% endif %}

{# Filter by date #}
{% set year = craft.app.request.getQueryParam('year') ?: '' %}
{% set month = craft.app.request.getQueryParam('month') ?: '' %}
{% set ymd = '' %}
{% set date_query = ['and'] %}
{% if year and month %}
  {% set filter_enabled = true %}
  {% set ymd = year ~ '-' ~ month ~ '-01' %}
  {% set date_query = date_query|merge(['>= ' ~ (ymd), '< ' ~ (ymd|date_modify('+1 month')|date('Y-m-d')) ]) %}
{% elseif year %}
  {% set filter_enabled = true %}
  {% set ymd = year ~ '-' ~ '01-01' %}
  {% set date_query = date_query|merge(['>= ' ~ (ymd), '< ' ~ (ymd|date_modify('+1 year')|date('Y-m-d')) ]) %}
{% elseif month %}
  {% set filter_enabled = true %}
  {% set ymd = now|date('Y') ~ '-' ~ month %}
  {% set date_query = date_query|merge(['>= ' ~ (ymd), '< ' ~ (ymd|date_modify('+1 month')|date('Y-m-d')) ]) %}
{% endif %}
{% if date_query|length > 1 %}
  {% set news = news.postDate(date_query) %}
{% endif %}

{# Filter by department #}
{% set filter_department_slug = craft.app.request.getQueryParam('department') ?: '' %}
{% if filter_department_slug %}
  {% set filter_department_entry = craft.entries()
      .section('departments')
      .slug(filter_department_slug)
      .one() %}
  {% if filter_department_entry %}
    {% set news = news.relatedTo(filter_department_entry) %}
    {% set filter_enabled = true %}
  {% endif %}
{% endif %}

{# Filter by official #}
{% set filter_official_slug = craft.app.request.getQueryParam('official') ?: '' %}
{% if filter_official_slug %}
  {% set filter_official_entry = craft.entries()
      .section('officials')
      .slug(filter_official_slug)
      .one() %}
  {% if filter_official_entry %}
    {% set news = news.relatedTo(filter_official_entry) %}
    {% set filter_enabled = true %}
  {% endif %}
{% endif %}

{# Filter by public body #}
{% set filter_public_body_slug = craft.app.request.getQueryParam('public-body') ?: '' %}
{% if filter_public_body_slug %}
  {#
   # TODO: "Boards & Commissions" are pending transition to become "Public Bodies".
   # Once the change is completed in the backend, update the query below and delete this note.
   #}
  {% set filter_public_body_entry = craft.entries()
      .section('boardsCommissions')
      .slug(filter_public_body_slug)
      .one() %}
  {% if filter_public_body_entry %}
    {% set news = news.relatedTo(filter_public_body_entry) %}
    {% set filter_enabled = true %}
  {% endif %}
{% endif %}

{# Pagination #}
{% paginate news as pageInfo, news %}

{% if pageInfo.currentPage > 1 %}
  {% set filter_enabled = true %}
{% endif %}

{# SEO Title #}
{% set seoTitle = 'Oakland News' %}
{% if pageInfo.currentPage > 1 %}
  {% set seoTitle = seoTitle ~ ' | Page ' ~ pageInfo.currentPage ~ ' of ' ~ pageInfo.totalPages %}
{% endif %}
{% do seomatic.meta.seoTitle(seoTitle) %}

{# Extending parent layout and other imports #}
{% set layout = 'filter' %}
{% extends '_content.twig' %}
{% import '_macros/_macros' as macros %}

{# Banner #}
{% block banner %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Oakland',
        link: homepage_entry.url
      }
    ],
    bannerImage: false,
    bannerTitle: 'News',
    custHeaderContent: null
  } %}

  {# Spotlight News #}
  {% set spotlightNews = entry.highlightedNews|length ? entry.highlightedNews.one() : null %}
  {% set spotlightNewsExpiryDate = entry.endDate ? entry.endDate|datetime('U') : null %}
  {% if spotlightNews and (not spotlightNewsExpiryDate or 'now'|datetime('U') <= spotlightNewsExpiryDate) %}
    {% set spotlightNewsEntryExcerpt = spotlightNews.summary ?: spotlightNews.body %}
    {% set spotlightNewsEntryImage = spotlightNews.newsImage|length ? spotlightNews.newsImage.one() : null %}

    <div class="min-h-96 bg-blue-800 text-white">
      {# Spotlight header #}
      <div class="min-h-44 bg-blue-900">
        <div class="container">
          <h1 class="mt-2 text-4xl">News</h1>
          <p class="mt-6 text-xl">The latest news from the City of Oakland</p>
        </div>
      </div>

      {# Spotlight body #}
      <div class="container lg:flex lg:gap-8">
        {# Spotlight image comes first in smaller responsive view. #}
        {% if spotlightNewsEntryImage %}
          <figure class="lg:oak-hidden mb-6">
            <img src="{{ spotlightNewsEntryImage.url }}">
          </figure>
        {% endif %}

        {# Spotlight textual info (e.g. title, summary, date, etc). #}
        <div class="{{ spotlightNewsEntryImage ? 'lg:w-1/2' : '' }}">
          <h4 class="font-bold">Spotlight</h4>
          <h3 class="mt-6 font-bold">{{ spotlightNews.title }}</h3>
          <p class="mt-5 text-xl">{{ spotlightNews.postDate|date|upper }}</p>
          <p class="mt-5 text-lg">{{ spotlightNewsEntryExcerpt|striptags|slice(0, 300) ~ (spotlightNewsEntryExcerpt|length > 300 ? '...' : '') }}</p>
          <a class="button secondary mt-2 text-sm" href="{{ spotlightNews.url }}">Read More</a>
        </div>

        {# Spotlight image comes second on larger display (to the right in flex). #}
        {% if spotlightNewsEntryImage %}
          <figure class="oak-hidden lg:block lg:w-1/2">
            <img src="{{ spotlightNewsEntryImage.url }}">
          </figure>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{# Suppress title block in parent template #}
{% block title %}{% endblock %}

{# Related Content Section #}
{%- set relatedContentSection -%}
  <h4 class="py-0">{{ 'Related'|t }}</h4>

  <a class="block mt-8" href="{{ siteUrl('departments/media-center') }}">Newsroom</a>
  <a class="block mt-8" href="{{ siteUrl('events') }}">Community Events</a>
  <a class="block mt-8" href="{{ siteUrl('meetings') }}">Public Meetings</a>
{%- endset -%}

{# Content Section #}
{% block content %}
  <h2 aria-live="polite">
    {% if filter_enabled %}
      {% if news|length %}
        Displaying {{ news|length }} of {{ pageInfo.total }} News
      {% else %}
        No results found
      {% endif %}
    {% else %}
      Displaying All News and Press Releases
    {% endif %}
  </h2>

  <div class="mt-8">
    {% if news|length %}
      {% for news_item in news %}
        {% include '_components/_news-index-item' %}
      {% endfor %}
    {% else %}
      <div class="px-8 pt-3 pb-5 bg-gray-100">
        <p>Please try another search or updating your filters.</p>
        <div class="my-4">
          <a href="{{ craft.request.url }}">See All News</a>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="my-8">
    {% include '_partials/_elements/_pagination' %}
  </div>

  <div class="lg:oak-hidden mb-4">
    <hr class="hr dark">
    {{ relatedContentSection }}
  </div>
{% endblock %}

{# Search & Filter Sidebar #}
{% block sidebar %}
  <hr class="oak-hidden lg:block">

  <h4 class="py-0 mt-4 mb-6">{{ 'Search & Filter'|t }}</h4>

  <form action="{{ craft.request.url }}">
    {# Search input field #}
    {{
      macros.textInput(
        'Search', 'search', 'search',
        'Search a keyword'
      )
    }}

    {# Month filter drop-down #}
    {{
      macros.select(
        'Month', 'month', 'month',
        [
          {"01"  : "January"},
          {"02"  : "February"},
          {"03"  : "March"},
          {"04"  : "April"},
          {"05"  : "May"},
          {"06"  : "June"},
          {"07"  : "July"},
          {"08"  : "August"},
          {"09"  : "September"},
          {"10"  : "October"},
          {"11"  : "November"},
          {"12"  : "December"}
        ],
        "Select a month"
      )
    }}

    {# Year filter drop-down #}
    {% set earliest_year = craft.entries()
        .section('news')
        .order('postDate asc')
        .limit(1)
        .one()
        .postDate|date('Y') %}
    {% set latest_year = craft.entries()
        .section('news')
        .order('postDate desc')
        .limit(1)
        .one()
        .postDate|date('Y') %}
    {% set years = [] %}
    {% for year in range(latest_year, earliest_year) %}
      {% set years = years|merge([{(year): year}]) %}
    {% endfor %}
    {{
      macros.select(
        'Year', 'year', 'year',
        years, "Select a year"
      )
    }}

    {# Department filter drop-down #}
    {% set department_filter_dropdown_options = [] %}
    {% for department_entry in all_department_entries %}
      {%
        set department_filter_dropdown_options = department_filter_dropdown_options|merge([
          { (department_entry.slug): (department_entry.title) }
        ])
      %}
    {% endfor %}
    {{
      macros.select(
        'Department', 'department', 'department',
        department_filter_dropdown_options, "Select a department"
      )
    }}

    {# Official filter drop-down #}
    {% set official_filter_dropdown_options = [] %}
    {% for official_entry in all_official_entries %}
      {%
        set official_filter_dropdown_options = official_filter_dropdown_options|merge([
          { (official_entry.slug): (official_entry.title) }
        ])
      %}
    {% endfor %}
    {{
      macros.select(
        'Official', 'official', 'official',
        official_filter_dropdown_options, "Select an official"
      )
    }}

    {# Public body filter drop-down #}
    {% set public_body_filter_dropdown_options = [] %}
    {% for public_body_entry in all_public_body_entries %}
      {%
        set public_body_filter_dropdown_options = public_body_filter_dropdown_options|merge([
          { (public_body_entry.slug): (public_body_entry.title) }
        ])
      %}
    {% endfor %}
    {{
      macros.select(
        'Public Body', 'public-body', 'public-body',
        public_body_filter_dropdown_options, "Select a public body"
      )
    }}

    {# Search & filter section's buttons #}
    <div class="flex items-center">
      <button class="button medium">Apply</button>
      <a class="mt-4" href="{{ craft.request.url }}">Clear filters</a>
    </div>
  </form>

  <hr class="hr dark">

  <div class="oak-hidden lg:block">
    {{ relatedContentSection }}
  </div>
{% endblock %}
