{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% switch block.children|length %}
  {% case 2 %}
    {% set class = 'md:grid-cols-2' %}
  {% default %}
		{% set class = 'md:grid-cols-3' %}
{% endswitch %}

<div class="grid grid-cols-1 gap-4 md:gap-6 {{ class }}">
  {% for column in block.getDescendants(1) %}
    <div>
      {% for item in column.children %}
        {% switch item.type %}
          {% case 'heading' %}
            <h2 class="mt-0 mb-4 text-2xl sm:flex-1 sm:text-3xl sm:leading-none">{{ item.heading }}</h2>
          {% case 'mainContent' %}
            <div class="content">
              {{ item.mainContent }}
            </div>
          {% default %}
        {% endswitch %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
