{% set archive        = true %}
{% set q              = craft.app.request.getQueryParam('q') %}
{% set filter_enabled = false %}
{% set event_type     = craft.app.request.getQueryParam('event_type') %}
{% set department     = craft.app.request.getQueryParam('department') %}

{% set relatedToElements = [] %}

{% if event_type %}
  {% set filter_enabled     = true %}
  {% set event_type         = craft.categories().group('eventTypes').id(event_type).one() %}
  {% set relatedToElements  = relatedToElements|merge([event_type]) %}
{% endif %}

{% if department %}
  {% set filter_enabled     = true %}
  {% set department         = craft.entries().section('departments').id(department).one() %}
  {% set relatedToElements  = relatedToElements|merge([department]) %}
{% endif %}

{% set currentPage = craft.app.request.getQueryParam('page') ? craft.app.request.getQueryParam('page') : 1 %}

{% set type     = craft.app.request.getQueryParam('type') ? craft.app.request.getQueryParam('type') : 'upcoming' %}
{% set events   = [] %}
{% set perPage  = 10 %}

{% set year   = craft.app.request.getQueryParam('year') ? craft.app.request.getQueryParam('year') : '' %}
{% set month  = craft.app.request.getQueryParam('month') ? craft.app.request.getQueryParam('month') : '' %}
{% set ymd     = '' %}

{% if filter_enabled or type == 'past' %}
  {% if year and month %}
    {% set ymd              = year ~ '-' ~ month ~ '-01' %}
    {% set pagination_total = craft.calendarize.between(ymd, (ymd|date_modify('+1 month')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements })|length %}
    {% set date_query       = craft.calendarize.between(ymd, (ymd|date_modify('+1 month')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc')) %}
  {% elseif year %}
    {% set ymd              = year ~ '-' ~ '01-01' %}
    {% set pagination_total = craft.calendarize.between(ymd, (ymd|date_modify('+1 year')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements })|length %}
    {% set date_query       = craft.calendarize.between(ymd, (ymd|date_modify('+1 year')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc')) %}
  {% elseif month %}
    {% set ymd              = now|date('Y') ~ '-' ~ month ~ '-01' %}
    {% set pagination_total = craft.calendarize.between(ymd, (ymd|date_modify('+1 month')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements })|length %}
    {% set date_query       = craft.calendarize.between(ymd, (ymd|date_modify('+1 month')|date('Y-m-d')),{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc')) %}
  {% endif %}
{% else %}
  {% if year and month %}
    {% set filter_enabled   = true %}
    {% set ymd              = year ~ '-' ~ month ~ '-01' %}
    {% set end              = ymd|date_modify('+1 month')|date('Y-m-d') %}
    {% set pagination_total = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage) %}
    {% set actual_total     = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage, 'total') %}
    {% set date_query       = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc'))|insertUpcomingLibraryEvents(q, ymd, end, perPage, currentPage) %}
  {% elseif year %}
    {% set filter_enabled   = true %}
    {% set ymd              = year ~ '-' ~ '01-01' %}
    {% set end              = ymd|date_modify('+1 year')|date('Y-m-d') %}
    {% set pagination_total = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage) %}
    {% set actual_total     = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage, 'total') %}
    {% set date_query       = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc'))|insertUpcomingLibraryEvents(q, ymd, end, perPage, currentPage) %}
  {% elseif month %}
    {% set filter_enabled   = true %}
    {% set ymd              = now|date('Y') ~ '-' ~ month ~ '-01' %}
    {% set end              = ymd|date_modify('+1 month')|date('Y-m-d') %}
    {% set pagination_total = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage) %}
    {% set actual_total     = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,ymd, end, perPage, currentPage, 'total') %}
    {% set date_query       = craft.calendarize.between(ymd, end,{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1)*perPage }, (type == 'upcoming' ? 'asc' : 'desc'))|insertUpcomingLibraryEvents(q, ymd, end, perPage, currentPage) %}
  {% endif %}
{% endif %}

{% switch type %}
  {% case 'upcoming' %}
    {% if filter_enabled %}
      {% set total      = pagination_total is defined ? pagination_total : craft.calendarize.upcoming({section: ['events'], search: q, relatedTo: relatedToElements })|length %}
      {% set events     = date_query is defined ? date_query : craft.calendarize.upcoming({section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1) * perPage}, 'asc', true) %}
      {% set totalPages = (total / perPage)|round(0, 'ceil') %}
    {% else %}
      {% set total      = pagination_total is defined ? pagination_total : craft.calendarize.upcoming({section: ['events'], search: q, relatedTo: relatedToElements })|length|addEventsTotal(q,null, null, perPage, currentPage) %}
      {% set events     = date_query is defined ? date_query : craft.calendarize.upcoming({section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1) * perPage}, 'asc', true)|insertUpcomingLibraryEvents(q, null, null, perPage, currentPage) %}
      {% set totalPages = (total / perPage)|round(0, 'ceil') %}
    {% endif %}
  {% case 'past' %}
    {% set total      = pagination_total is defined ? pagination_total : craft.calendarize.between('2017-01-01', now|date('Y-m-d'),{section: ['events'], search: q, relatedTo: relatedToElements })|length %}
    {% set events     = date_query is defined ? date_query : craft.calendarize.between('2017-01-01', now|date('Y-m-d'),{section: ['events'], search: q, relatedTo: relatedToElements, limit: perPage, offset: (currentPage - 1) * perPage}, 'desc', true) %}
    {% set totalPages = (total / perPage)|round(0, 'ceil') %}
{% endswitch %}

{% set query_string = 'q='~q~'&department='~department~'&event_type='~event_type~'&year='~year~'&month='~month %}

{% set pageInfo = {
  total: total,
  actualTotal: (actual_total is defined ? actual_total : total),
  totalPages: totalPages,
  currentPage: currentPage,
  prevUrl: entry.url ~ '?type='  ~ type ~ '&' ~ query_string ~ '&page=' ~(currentPage > 1 ? currentPage - 1 : null),
  nextUrl: entry.url ~ '?type='  ~ type ~ '&' ~ query_string ~ '&page=' ~ (currentPage < totalPages ? currentPage + 1 : null),
  firstUrl: entry.url ~ '?type=' ~ type ~ '&' ~ query_string ~ '&page=1',
  lastUrl: entry.url ~ '?type='  ~ type ~ '&' ~ query_string ~ '&page=' ~ totalPages,
} %}

{% set layout = 'reverse' %}
{% extends '_content.twig' %}
{% import '_macros/_macros' as macros %}

{% block content %}
  <div>
    <ul class="flex flex-wrap list-none m-0 p-0">
      <li><a href="?type=upcoming&{{ query_string }}" class="button m-0 rounded-none {{ type == 'upcoming' ? 'pointer-events-none' : 'secondary' }}">Upcoming events</a></li>
      <li><a href="?type=past&{{ query_string }}" class="button m-0 rounded-none {{ type == 'past' ? 'pointer-events-none' : 'secondary' }}">Past events</a></li>
    </ul>
  </div>

  {% if filter_enabled %}
    {% if events|length %}
      <h3>Displaying {{ events|length }} of {{ pageInfo.actualTotal }} Events</h3>
    {% else %}
      <h3>No results found</h3>
    {% endif %}
  {% else %}
    {% switch type %}
      {% case 'upcoming' %}
      <h3>Displaying all Upcoming Events</h3>
      {% case 'past' %}
      <h3>Displaying all Past Events</h3>
    {% endswitch %}
  {% endif %}

  <div class="mt-8">
    {% if events|length %}
      {% for event in events %}
        {% include '_components/_event' %}
      {% endfor %}
    {% else %}
      <div class="px-8 pt-3 pb-5" style="background:#F7F7F7;">
        <p>Please try another search or updating your filters.</p>
        {% if type == 'past' %}
          <p><a href="?type=past">See all Past Events</a></p>
        {% elseif type == 'upcoming' %}
          <p><a href="?type=upcoming">See all Upcoming Events</a></p>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="my-8">
    {% if pageInfo.totalPages > 1 %}
      <nav aria-label="Pagination">
        <ul class="pagination">
          {% if pageInfo.totalPages > 7 %}
            <li>
              <a aria-label="Previous Page" class="prev {{ pageInfo.currentPage == 1 ? 'disabled' : '' }}" href="{{ pageInfo.prevUrl }}">Previous</a>
            </li>
            {% if pageInfo.currentPage > 3 %}
              <li>
                <a aria-label="Page 1" class="page" href="{{ pageInfo.firstUrl }}">1</a>
              </li>
              <li>…</li>
            {% endif %}

            {% if pageInfo.currentPage > 2 %}
              <li>
                <a aria-label="Page {{ pageInfo.currentPage - 2 }}" class="page" href="{{ entry.url }}?type={{ type }}&{{ query_string }}&page={{ pageInfo.currentPage - 2 }}">{{ pageInfo.currentPage - 2 }}</a>
              </li>
            {% endif %}
            {% if pageInfo.currentPage > 1 %}
              <li>
                <a aria-label="Page {{ pageInfo.currentPage - 1 }}" class="page" href="{{ entry.url }}?type={{ type }}&{{ query_string }}&page={{ pageInfo.currentPage - 1 }}">{{ pageInfo.currentPage - 1 }}</a>
              </li>
            {% endif %}

            <li>
              <a aria-current="page" class="page page-active" href="#">{{ pageInfo.currentPage }}</a>
            </li>

            {% if pageInfo.totalPages - pageInfo.currentPage > 0 %}
              <li>
                <a aria-label="Page {{ pageInfo.currentPage + 1 }}" class="page" href="{{ entry.url }}?type={{ type }}&{{ query_string }}&page={{ pageInfo.currentPage + 1 }}">{{ pageInfo.currentPage + 1 }}</a>
              </li>
            {% endif %}

            {% if pageInfo.totalPages - pageInfo.currentPage > 1 %}
              <li>
                <a aria-label="Page {{ pageInfo.currentPage + 2 }}" class="page" href="{{ entry.url }}?type={{ type }}&{{ query_string }}&page={{ pageInfo.currentPage + 2 }}">{{ pageInfo.currentPage + 2 }}</a>
              </li>
            {% endif %}

            {% if pageInfo.currentPage < pageInfo.totalPages - 2 %}
              <li>…</li>
              <li>
                <a aria-label="Page {{ pageInfo.totalPages }}" class="page" href="{{ pageInfo.lastUrl }}">{{ pageInfo.totalPages }}</a>
              </li>
            {% endif %}

            <li>
              <a aria-label="Next Page" class="next {{ pageInfo.currentPage == pageInfo.totalPages ? 'disabled' : '' }}" href="{{ pageInfo.nextUrl }}">Next</a>
            </li>

          {% else %}
            <li>
              <a aria-label="Previous Page" class="prev {{ pageInfo.currentPage == 1 ? 'disabled' : '' }}" href="{{ pageInfo.prevUrl }}">Previous</a>
            </li>

            {% for page in range(1, pageInfo.totalPages) %}
              {% if page == pageInfo.currentPage %}
                <li>
                  <a aria-current="page" class="page page-active" href="#">{{ pageInfo.currentPage }}</a>
                </li>
              {% else %}
                <li>
                  <a aria-label="Page {{ page }}" class="page" href="{{ entry.url }}?type={{ type }}&{{ query_string }}&page={{ page }}">{{ page }}</a>
                </li>
              {% endif %}
            {% endfor %}

            <li>
              <a aria-label="Next Page" class="next {{ pageInfo.currentPage == pageInfo.totalPages ? 'disabled' : '' }}" href="{{ pageInfo.nextUrl }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <div class="lg:hidden">
    <hr class="hr dark"/>
    <h4>{{ 'Learn More About Public Bodies'|t }}</h4>
    <div class="pt-2">
      <p><a href="{{siteUrl}}boards-commissions">Boards & Commissions</a></p>
      <p><a href="{{siteUrl}}departments/oakland-city-council">City Council</a></p>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <hr class="hidden lg:block"/>
  <div class="mt-2 md:mt-0"></div>
  <h4 class="py-0 mt-4 mb-6">{{ 'Search & Filter'|t }}</h4>
  <form action="{{ entry.url }}">
    <input type="hidden" name="type" value="{{ type }}"/>
    {{ macros.select('Month', 'month', 'month', [
        {"01"  : "January"},
        {"02"  : "February"},
        {"03"  : "March"},
        {"04"  : "April"},
        {"05"  : "May"},
        {"06"  : "June"},
        {"07"  : "July"},
        {"08"  : "August"},
        {"09"  : "September"},
        {"10"  : "October"},
        {"11"  : "November"},
        {"12"  : "December"}
      ], "Select a month"
    )}}
    {% set earliest_year = craft.calendarize.between('2017-01-01', now|date('Y-m-d'),{limit:1, section: ['events']}, 'asc')[0].calendarize.startDate|date('Y') %}
    {% set latest_year = craft.calendarize.between('2017-01-01', now|date('Y-m-d'),{limit:1, section: ['events']}, 'desc')[0].calendarize.startDate|date('Y') %}
    {% set years = [] %}
    {% for year in range(latest_year, earliest_year) %}
      {% set years =  years|merge([{(year): year}]) %}
    {% endfor %}
    {{ macros.select('Year', 'year', 'year', years, "Select a year") }}

    {{ macros.textInput('Search', 'search', 'q', 'Search agenda items and documents') }}
    {{ macros.select('Event Type', 'event_type', 'event_type', craft.categories().group('eventTypes').orderBy('title asc').all()|map(body=>{(body.id): body.title}), 'Select an event type') }}
    {{ macros.select('Department', 'department', 'department', craft.entries().section('departments').orderBy('title asc').all()|map(body=>{(body.id): body.title}), 'Select a department') }}
    <div class="flex items-center">
      <button class="button medium">Apply</button>
      {% if q or filter_enabled %}
        <a class="mt-4" href="{{ entry.url }}?type={{type}}">Clear filters</a>
      {% endif %}
    </div>
  </form>
  <hr/>
  <div class="hidden lg:block">
    <h4 class="py-0 mt-4">{{ 'Related'|t }}</h4>
    <div class="pt-2">
      <p><a href="{{siteUrl}}meetings">Oakland City Meetings Calendar</a></p>
      <p><a href="https://oaklandlibrary.bibliocommons.com/v2/events" target="_blank">Oakland Library Calendar</a></p>
    </div>
    <hr class="light"/>
  </div>
{% endblock %}