{% extends '_content.twig' %}
{% import '_macros/_macros' as macros %}

{% set physicalLocation = false %}
{% set onlineLocation   = false %}

{% set dateToPass = entry.calendarize.endDate ? entry.calendarize.endDate : entry.calendarize.startDate %}

{% set locations = [] %}

{% set locationBlocks = clone(entry.eventLocations) %}

{% if entry.eventLocations.type('physicalLocation')|length %}
  {% set locations = locations|merge(['in-person']) %}
{% endif %}

{% if entry.eventLocations.type('onlineLocation')|length %}
  {% set locations = locations|merge(['online']) %}
{% endif %}

{% block title %}
  <h1 class="my-0 text-3xl font-bold md:text-4xl">{{ entry.title }}</h1>
  <div class="mt-4 text-xl leading-8 tw-only">This event {{ now <= dateToPass ? 'will be' : 'was' }} held {{ locations|join(" and ") }} on {{ entry.calendarize.startDate|date("F j, Y") }}</div>
{% endblock %}

{% block precontent %}
  <section class="bg-green-800 mb-16 text-white">
    <div class="container">
      <div style="max-width:1152px;">
        <div class="flex flex-wrap justify-between -mx-8">
          <div class="w-full md:w-1/2 px-8">
            <div class="components components-format flex items-start">
              {{ svg( '@webroot/dist/img/fa-clock.svg')|attr({class: 'w-8 mr-4', style: 'flex-shrink:0;'}) }}
              <div>
                <h3 class="mt-0">{{ entry.calendarize.startDate|date("l, F j, Y") }}</h3>
                <p class="mt-2">{{ entry.calendarize.startDate|date("g:ia") }}{{ entry.calendarize.endDate ? " to " ~ entry.calendarize.endDate|date("g:ia") }}</p>
                {% if entry.calendarize.repeats %}
                  <p><i>This event repeats {{ entry.calendarize.repeatType }}, with the next event occurring on {{ entry.calendarize.next.start|date("l, F j, Y") }} </i></p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 px-8 mt-12 lg:mt-0">
            <div class="components components-format flex items-start">
              {% if locationBlocks|length %}
                {{ svg( '@webroot/dist/img/fa-map.svg')|attr({class: 'w-8 mr-4', style: 'flex-shrink:0;'}) }} 
              {% endif %}
              <div>
                {% if locationBlocks|length == 1 %}
                  {% for location in locationBlocks.all() %}
                    {% switch location.type %}
                      {% case 'physicalLocation' %}
                        <h3 class="mt-0">In-Person</h3>
                        <p class="mt-2">{{ location.locationAddress.multiline() }}</p>
                        <p><a class="text-white hover:text-gray-200 underline" href="{{ location.locationAddress.linkToDirections() }}">Get Directions</a></p>
                      {% case 'onlineLocation' %}
                        {% if now <= dateToPass %}
                          <h3 class="mt-0">Online</h3>
                          <p class="mt-2">This event will be held online via Zoom</p>
                          {% if location.onlineMeetingLink %}<a href="{{ location.onlineMeetingLink }}" class="button secondary mb-0">Join Event Online</a>{% endif %}
                        {% endif %}
                      {% default %}
                    {% endswitch %}
                  {% endfor %}
                {% elseif locationBlocks|length == 2 %}
                  {% set primary    = locationBlocks.all()[0] %}
                  {% set secondary  = locationBlocks.all()[1] %}
                  <h3 class="mt-0">Location</h3>
                  <p class="mt-2">This event will be held in-person and online</p>
                  {% if primary.type == 'physicalLocation' %}
                    <h4>Address</h4>
                    <p class="mt-2">{{ primary.locationAddress.multiline() }}<br><a class="text-white hover:text-gray-200" href="{{ primary.locationAddress.linkToDirections() }}">Get Directions</a></p>
                  {% elseif primary.type == 'onlineLocation' %}
                    <h4>Online</h4>
                    {% if primary.onlineMeetingLink %}<a href="{{ primary.onlineMeetingLink }}" class="button secondary mb-0">Join the Event</a>{% endif %}
                  {% endif %}
                  {% if secondary.type == 'physicalLocation' %}
                    <p class="small"><b>Or join in person</b></p>
                    <p class="mt-2">{{ secondary.locationAddress.multiline() }}<br><a class="text-white hover:text-gray-200" href="{{ primary.locationAddress.linkToDirections() }}">Get Directions</a></p>
                  {% elseif secondary.type == 'onlineLocation' %}
                    <p class="small"><b>Or join online</b></p>
                    {% if secondary.onlineMeetingLink %}<a href="{{ secondary.onlineMeetingLink }}" class="button secondary mb-0">Join the Event</a>{% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  {% if entry.eventImage.one() %}
    {% set landscape = {
      mode: 'crop',
      width: 730,
      quality: 100,
      position: 'top-center'
    } %}
    {% set image = entry.eventImage.one() %}
    <img src="{{ image.getUrl(landscape) }}" alt="{{ image.altText }}"/>
  {% endif %}

  {% if entry.calendarize.repeats %}
    {% include '_components/_callout' with {
      callOutType   : 'info',
      heading       : 'This event is part of a series',
      description   : '<p>See more events <a href="' ~ siteUrl ~ 'events' ~ '">' ~ entry.title ~ '</a></p>', 
    } %}
  {% endif %}

  {% if now > dateToPass %}
    {% set link_array = [] %}
    {% if entry.relatedPages|length %}
      {% for page in entry.relatedPages.all() %}
        {% if page.section.handle == 'departments' or page.section.handle == 'topics' or page.section.handle == 'officials' %}
          {% set link_array = link_array|merge(['<a class="text-green-800 hover:text-green-1000" href="'~ page.url ~'">'~ page.title ~'</a>']) %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if link_array|length %}
      {% include '_components/_callout' with {
        callOutType   : 'action',
        heading       : 'This event has passed',
        description   : '<p>See more events from ' ~ link_array|join(", ", ', and ') ~ '</p>',
      } %}
    {% endif %}
  {% endif %}

  {% if entry.callOut|length %}
    {% for block in entry.callOut.all() %}
      {% include '_components/_callout.twig' %}
    {% endfor %}
  {% endif %}

  {{ entry.mainContent }}

  {% if entry.relatedDocuments|length %}
    <hr class="hr medium"/>
    <h3>Related Documents</h3>
    <ul class="ul-icons related">
        {% for document in entry.relatedDocuments.all() %}
          {% if document.documentEntry|length %}
            <li><a href="{{ document.url }}">{{ svg( '@webroot/dist/img/icon-document.svg') }} {{ document.documentTitle ? document.documentTitle : (document.documentEntry.one().title) }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>
  {% endif %}

  {# Accessibility Request #}
  <hr class="hr medium"/>
  {% if entry.eventTypes|length %}<p><b>Event Type:</b> {{ entry.eventTypes.one().title }}</p>{% endif %}

  {% set accessibilityText %}
    {% if entry.accessibilityBlock|length %}
      <p>{{ entry.accessibilityBlock.one().accessibilityText|raw }}</p>
    {% else %}
      <p>Contact us to request disability-related accommodations, American Sign Language (ASL), Mandarin, Spanish or another language interpreter at least five (5) business days before the event.</p>
      <p>All meetings held in-person are wheelchair accessible. Please refrain from wearing scented products as a courtesy to attendees with chemical sensitivities.</p>
    {% endif %}
    {% if entry.pointOfContact|length %}
      {% set block = entry.pointOfContact.one() %}
      {% if block.contact|length %}
        {% set emailContact = block.contact.one() %}
        <div></div>
        <a class="button secondary small" href="mailto:{{ emailContact.emailAddress ? emailContact.emailAddress : emailContact.staffImportEmail }}?subject=Accessibility Request: {{ entry.title }}{{ entry.calendarize.startDate ? ' at ' ~ entry.calendarize.startDate|date('m/d/Y') : '' }}">Make a Request</a>
      {% endif %}
    {% endif %}
  {% endset %}

  {% include '_components/_callout' with {
      callOutType   : 'info',
      heading       : 'Accessibility and interpretation requests',
      description   : accessibilityText 
  } %}
{% endblock %}

{% block sidebar %}
    <hr/>
    <h4>{{ entry.sidebarHeading ? entry.sidebarHeading : 'Register' }}</h4>
    {% if entry.sidebarDescription %}<p>{{ entry.sidebarDescription }}</p>{% endif %}
    {% if entry.linkit %}<a class="button secondary" href="{{ entry.linkit.url }}">{{ entry.linkit.text }}</a>{% endif %}

  {% if entry.pointOfContact|length %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    {% for contact in entry.pointOfContact.all() %}
    {% switch contact.type %}
      {% case 'internalContact' %}
        {% set contact = contact.contact.one() %}
        <p>
          <b>{{ contact.title }}</b>
          {% if contact.staffImportJobTitle %}<br>{{ contact.staffImportJobTitle }}{% endif %}
          {% if contact.staffImportOrganization %}<br>{{ contact.staffImportOrganization }}{% endif %}
        </p>
        {% if contact.staffImportEmail or contact.staffImportPhoneNumber %}
          <ul class="ul-icons">
            {% if contact.staffImportEmail %}
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: contact.staffImportEmail,
                icon: 'envelope',
                url: "mailto:#{contact.staffImportEmail}"
              }
            }) }}
            {% endif %}
            {% if contact.staffImportPhoneNumber %}
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: contact.staffImportPhoneNumber,
                icon: 'phone',
                url: "tel:#{contact.staffImportPhoneNumber|replace({'-': ''}) }}"
              }
            }) }}
            {% endif %}
          </ul>
        {% endif %}
      {% case 'externalContact' %}
        <p>
          <b>{{ contact.contactName }}</b>
          {% if contact.contactTitle %}<br>{{ contact.contactTitle }}{% endif %}
          {% if contact.organization %}<br>{{ contact.organization }}{% endif %}
        </p>
        {% if contact.email or contact.phoneNumber %}
          <ul class="ul-icons">
            {% if contact.email %}
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: contact.email,
                icon: 'envelope',
                url: "mailto:#{contact.email}"
              }
            }) }}
            {% endif %}
            {% if contact.phoneNumber %}
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: contact.phoneNumber,
                icon: 'phone',
                url: "tel:#{contact.phoneNumber|replace({'-': ''}) }}"
              }
            }) }}
            {% endif %}
          </ul>
        {% endif %}
    {% endswitch %}
    {% endfor %}
  {% endif %}

  <hr/>
  <h4>{{ 'Add to Calendar'|t }}</h4>
  <p>Save this event to your iCal, Outlook or Google Calendar</p>
  <a class="button secondary" href="{{ entry.calendarize.getIcsUrl }}">Add to Calendar</a>
  <hr class="light">
  <h4>{{ 'Share'|t }}</h4>
  <ul class="list-none flex items-center px-0 -mt-4">
    <li class="mb-0 mr-4">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url|url_encode }}" target="_blank" class="flex items-center justify-center w-10 h-10 bg-green-800 rounded-full text-white hover:bg-green-1000">
        {{ svg('@webroot/dist/img/logo-facebook.svg')|attr({class:'h-5'}) }}
        <span class="sr-only">Share on Facebook</span>
      </a>
    </li>
    <li class="mb-0 mr-4">
      <a href="https://twitter.com/intent/tweet?url={{ entry.url|url_encode }}&text={{ entry.title }}" target="_blank" class="flex items-center justify-center w-10 h-10 bg-green-800 rounded-full text-white hover:bg-green-1000">
        {{ svg('@webroot/dist/img/logo-twitter.svg')|attr({class:'h-5'}) }}
        <span class="sr-only">Share on Twitter</span>
      </a>
    </li>
    <li class="mb-0 mr-4">
      <a href="" target="_blank" class="flex items-center justify-center w-10 h-10 bg-green-800 rounded-full text-white hover:bg-green-1000">
        {{ svg('@webroot/dist/img/logo-instagram.svg')|attr({class:'h-5'}) }}
        <span class="sr-only">Share on Instagram</span>
      </a>
    </li>
  </ul>
  {% if entry.relatedPages|length %}
    <hr/>
    <h4>{{ 'Related Pages'|t }}</h4>
    <ul class="list-none pl-0">
      {% for page in entry.relatedPages.all() %}
        <li class="mb-4"><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr class="light">
  <p class="small">Posted: {{ entry.postDate|date("F j, Y g:ia") }}</p>
  <p class="small">Last Updated: {{ entry.dateUpdated|date("F j, Y g:ia") }}</p>
{% endblock %}
