{% extends '_layout.twig' %}

{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
      var section     = "{{ section }}";
      var entryTitle  = "{{ facetItem }}";
  {% endjs %}
{% endif %}

{% if datefilter is defined and datefilter == true %}
  {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js") %}
  {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js") %}
  {% do view.registerJsFile("https://unpkg.com/baremetrics-calendar@1.0.14/public/js/Calendar.js") %}
  {% do view.registerCssFile("https://unpkg.com/baremetrics-calendar@1.0.14/public/css/application.css") %}
{% endif %}

{% do view.registerJsFile("https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@4.38.1") %}
{% do view.registerJsFile(craft.twigpack.getModuleUri("/js/algoliafilter.js")) %}

{% if section is defined %}
  {% set relation = craft.entries.section(section).slug(slug).one() %}
  {% set bannerTitleSuffix = " for " ~ relation.title %}
{% endif %}

{% block content %}
  {% block pageBanner %}
    {% include '_partials/_page-banners.twig' with {bannerTitle: entry.title | replace(' Index', '') ~ bannerTitleSuffix ?? ''} %}
  {% endblock %}
  <div class="bg-gray-100">
    <div class="container">
      <label class="sr-only" for="search-input">{{ searchInputText ?? 'Search this Index' }}</label>
      <div id="searchbox-container" class="flex items-center">
        {{ svg( '@webroot/assets/img/icon-magnifier.svg')|attr({ class: 'fill-current text-gray-500' }) }}
        <div id="searchbox">
          <input id="search-input" class="border border-gray-300 form-control" placeholder="{{ searchInputText ?? "Search" }}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="search" required="true">
        </div>
      </div>
      {% if facets is defined %}
        <div class="text-right">
          <a class="inline-block mt-4 text-gray-800 hover:text-gray-900" href="#" id="filter-reveal">Show Filters</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="relative invisible h-0 overflow-hidden text-gray-700 transition-all bg-gray-300 opacity-0 -z-10" id="algolia-filters">
    <div class="container flex-col -my-4" id="facet-holder">
      {% if facets is defined %}
        {% for facet in facets %}
          <div id="{{ facet.container }}" class="facet-container"></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% if datefilter is defined and datefilter == true %}
    <div class="container py-0 mt-8 mb-4">
      <div class="max-w-6xl">
        <div class="max-w-sm mx-auto daterange" id="calendar"></div>
      </div>
    </div>
  {% endif %}

  <section class="relative z-0 bg-white">
    <div class="container">
      <div class="max-w-6xl">
        <div id="hits"></div>
        <div class="flex items-center text-2xl">
          <div class="inline-block" id="bottom-pagination"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% js on load %}
  $('#hits').on('click', 'a', function(){
    var search_term   = $('#search-input').val() ? $('#search-input').val() : 'No search term';
    var link_clicked  = $(this).attr('href').trim();

    var filters = [];

    $('.facet-container > div:visible').each(function(index, element){
      var $this = $(element);
      var item = {
        label : $this.find('label').text(),
        value : $this.find('select').val() ? $this.find('select').val() : 'N/A',
      };

      filters.push(item);
    });

    dl.push({
      'event'             : 'search_result_clicked',
      'current_url'       : '{{ craft.app.request.absoluteUrl }}',
      'url'               : link_clicked,
      'input_search_term' : search_term,
      'filters'           : filters,
      'debug_mode'        : true,
      'search_bar_id'     : 'instant-search-index'
    });
  });
{% endjs %}