{% if slug is defined %}
  {% set entry = craft.entries().section('boardsCommissions').slug(slug).one() %}
  {% if not entry.indexToggle  %}
    {% redirect 404 %}
  {% endif %}
{% else %}
  {% redirect 404 %}
{% endif %}

{% set query          = craft.app.request.getQueryParam('q') %}
{% set meetings       = craft.entries().section('meetings').relatedTo(entry).search(query).limit(10) %}
{% set filter_enabled = false %}

{% if craft.app.request.getQueryParam('start_date') or 
  craft.app.request.getQueryParam('end_date') or 
  craft.app.request.getQueryParam('type') or
  craft.app.request.getQueryParam('q')
%}
  {% set filter_enabled = true %}
{% endif %}

{% set meetings = meetings|applyDateFilter('date') %}

{% paginate meetings as pageInfo, meetings %}

{% if pageInfo.currentPage > 1 %}
  {% set filter_enabled = true %}
{% endif %}

{% set layout = 'reverse' %}
{% extends '_content.twig' %}
{% import '_macros/_macros' as macros %}

{% block content %}
  {% if filter_enabled %}
    {% if meetings|length %}
      <h3>Displaying {{ meetings|length }} of {{ pageInfo.total }} Meetings</h3>
    {% else %}
      <h3>No results found</h3>
    {% endif %}
  {% else %}
    <h3>Displaying All Meetings</h3>
  {% endif %}
  <div class="mt-8">
    {% if meetings|length %}
      {% for meeting in meetings %}
        {% include '_components/_meeting' %}
      {% endfor %}
    {% else %}
      <div class="px-8 pt-3 pb-5" style="background:#F7F7F7;">
        <p>Please try another search or updating your filters.</p>
        <p><a href="?">See All Meetings</a></p>
      </div>
    {% endif %}
  </div>
  <div class="my-8">
    {% include '_partials/_elements/_pagination' %}
  </div>
{% endblock %}

{% block sidebar %}
  <hr/>
  <h4 class="py-0 mt-4 mb-6">{{ 'Search and Filter'|t }}</h4>
  <form action="{{ entry.url }}/meetings">
    {{ macros.dates() }}
    {{ macros.textInput('Search', 'search', 'q', 'Search agenda items and documents') }}
    {{ macros.select('Date Range', 'type', 'type', [
        {"1"  : "Upcoming Meetings Only"},
        {"2"  : "Past and Upcoming Meetings"},
        {"3" : "Past Meetings Only"},
      ], false
    )}}
    <div class="flex items-center">
      <button class="button medium">Apply</button>
      {% if query or filter_enabled %}
        <a href="{{ entry.url }}/meetings">Clear filters</a>
      {% endif %}
    </div>
  </form>
  <hr class="light"/>
{% endblock %}
