{% set fullTitle = entry.relatedBoardOrCommission|length ? entry.relatedBoardOrCommission.one().title : 'Commission' %}

{% do seomatic.meta.seoTitle(fullTitle) %}

{% macro callout(calloutHeading) %}
	{{ include("_components/_callout.twig", {
		callOutType   : 'attention',
		heading       : calloutHeading,
		description   : ''
	}) }}
{% endmacro %}

{% extends "_content.twig" %}
{% import "_macros/_macros.twig" as macros %}

{% set status = 'default' %}
{% if entry.meetingStatus %}
	{% set status = entry.meetingStatus %}
{% elseif entry.eventStatus %}
	{% set status = entry.eventStatus %}
{% endif %}

{% block title %}
	{% set meetingDate = (entry.type == 'meetings' ? entry.startTime : entry.startDate) %}
	<h1 class="my-0 text-3xl font-bold md:text-4xl">{% if status and status.value and status.value !== 'default' and status.value !== 'active' %}{{ status.label }} - {% endif %}{{ entry.title }}</h1>
	{% if entry.date %}
		<div class="mt-4 text-xl leading-8 tw-only">This meeting of the {{ fullTitle }} {{ now|date('Y-m-d') <= entry.date|date('Y-m-d') ? 'will be held on' : 'was held on'}} {{ entry.date|date("F j, Y") }}{{ meetingDate ? " at " ~ meetingDate|date("g:ia") : "" }}</div>
	{% endif %}
{% endblock %}

{% block content %}
  {% if status != "default" and status !== "active" %}
    <div>
      {% if status == 'canceled' %}
        {{ _self.callout('This meeting has been canceled.') }}
      {% elseif status == 'rescheduled' %}
        {% if entry.relatedMeeting|length %}
          {% if entry.relatedMeeting.one().date %}
            {{ _self.callout('This meeting was rescheduled for <a style="font-weight:400;" href="' ~ entry.relatedMeeting.one().url ~ '">' ~ entry.relatedMeeting.one().date|date('F j, Y') ~ '</a>.') }}
          {% else %}
            {{ _self.callout('This meeting was <a style="font-weight:400;" href="' ~ entry.relatedMeeting.one().url ~ '">rescheduled</a>.') }}
          {% endif %}
        {% else %}
          {{ _self.callout('This meeting was rescheduled.') }}
        {% endif %}
      {% elseif status == 'special' %}
        {{ _self.callout('This is a special meeting of the ' ~ fullTitle) }}
      {% endif %}

      {% if status.value !== 'canceled' and status.value !== 'rescheduled' %}
        {% if entry.addresses and entry.addresses.type('onlineLocation')|length and not entry.addresses.type('location')|length  %}
          {% if now|date('Y-m-d') > entry.date|date('Y-m-d') %}
            {{ _self.callout('This meeting was held virtually and not in person.') }}
          {% else %}
            {{ _self.callout('This meeting will be held virtually and not in person.') }}
          {% endif %}
        {% elseif entry.eventLocation and entry.eventLocation.type('onlineLocation')|length and not entry.eventLocation.type('physicalLocation')|length  %}
          {% if now|date('Y-m-d') > entry.date|date('Y-m-d') %}
            {{ _self.callout('This meeting was held virtually and not in person.') }}
          {% else %}
            {{ _self.callout('This meeting will be held virtually and not in person.') }}
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

	{# Details #}
	{% if entry.mainContent %}
		<div class="main-content">{{ entry.mainContent }}</div>
	{% endif %}

	{% set minuteCat = craft.categories.group('documentTypes').id(12).one() %}
	{% set agendaCat = craft.categories.group('documentTypes').id(13).one() %}

	{% set minutes = entry.documents ? clone(entry.documents).relatedTo(minuteCat) : null %}
	{% set agendas = entry.documents ? clone(entry.documents).relatedTo(agendaCat) : null %}

	{% if entry.date and now|date('Y-m-d') > entry.date|date('Y-m-d') %}
		{% if entry.documentFile|length %}
			<h2 class="mt-10 mb-8 first:mt-0 md:mt-14">Minutes</h2>
			<ul class="mt-4 ul-icons related">
				{% for document in entry.documentFile.all() %}
					<li>
						<a href="{{ document.url }}">
              {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ entry.title }} Minutes - {{ entry.date|date("m/d/Y") }}
            </a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if entry.type == 'meetingsImported' and minutes and minutes|length %}
			<h2 class="mt-10 mb-8 first:mt-0 md:mt-14">Minutes</h2>
			<ul class="mt-4 ul-icons related">
				{% for document in minutes.all() %}
					<li>
						<a href="{{ document.documentFile.one().url }}">
              {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ entry.title }} Minutes - {{ entry.date|date("m/d/Y") }}
            </a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if entry.type == 'meetings' and entry.embeds|length %}
			<h2 class="mt-10 mb-8 first:mt-0 md:mt-14" id="recordings">Recordings</h2>
			{% for item in entry.embeds %}
				<figure>
					{% switch item.type %}
						{% case 'granicus' %}
							{% if item.granicusUrl %}
								{{ macros.videoEmbed(item.granicusUrl) }}
								<p>
									<i>Meeting recording of {{ entry.title }} on {{ entry.date|date('F j, Y') }}</i>
								</p>
							{% endif %}
						{% case 'youtube' %}
							{% if item.youtubeUrl %}
								{% set id = item.youtubeUrl|split('?')[1]|split('&')[0]|split('=')[1] %}
								<div class="embed-container">
									<iframe
                    src="https://www.youtube.com/embed/{{ id }}"
                    width="560"
                    height="315"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                    </iframe>
								</div>
								<p>
									<i>Meeting recording of {{ entry.title }} on {{ entry.date|date('F j, Y') }}</i>
								</p>
							{% endif %}
						{% case 'soundcloud' %}
							{% if item.soundcloudEmbed %}
								{{ item.soundcloudEmbed|raw }}
								<p>
									<i>Meeting recording of {{ entry.title }} on {{ entry.date|date('F j, Y') }}</i>
								</p>
							{% endif %}
						{% case 'vimeo' %}
							{% if item.vimeoUrl %}
								{% set id = item.vimeoUrl|split('/')|last %}
								<div class="embed-container">
									<iframe
                    src="https://player.vimeo.com/video/{{ id }}"
                    width="640"
                    height="360"
                    frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture"
                    allowfullscreen>
                  </iframe>
								</div>
								<p>
									<i>Meeting recording of {{ entry.title }} on {{ entry.date|date('F j, Y') }}</i>
								</p>
							{% endif %}
					{% endswitch %}
				</figure>
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if entry.type == 'meetingsImported' and entry.videoLink %}
		<h2 class="mt-10 mb-8 first:mt-0 md:mt-14" id="recordings">Recordings</h2>
		<figure>
			{{ macros.videoEmbed(entry.videoLink) }}
			<p>
				<i>Meeting recording of {{ entry.title }} on {{ entry.date|date('F j, Y') }}</i>
			</p>
		</figure>
	{% endif %}

	{% if entry.type == 'meetingsImported' and agendas and agendas|length %}
		<h2 class="mt-10 mb-8 first:mt-0 md:mt-14">Agenda</h2>
		<ul class="mt-4 pt-0 ul-icons related">
			{% for agenda in agendas.all() %}
				<li>
					<a href="{{ agenda.documentFile.one().url }}">
            {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ entry.title }} Agenda - {{ entry.date|date("m/d/Y") }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if entry.agendaDownloadableCopy|length or entry.agendaTopics|length %}
		<h2 class="mt-10 mb-8 first:mt-0 md:mt-14">Agenda</h2>
		{% if entry.agendaDownloadableCopy|length %}
      <ul class="mt-4 pt-0 ul-icons related">
				<li>
					<a href="{{ entry.agendaDownloadableCopy.one().url }}">
            {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ entry.title }} Agenda - {{ entry.date|date("m/d/Y") }}
          </a>
				</li>
			</ul>
		{% endif %}
		{% if entry.agendaTopics|length %}
			<h3 class="mt-9 mb-8">Topics</h3>
			<ol class="process">
				{% for item in entry.agendaTopics.all() %}
					<li data-index="{{ loop.index }}">
						<div>
							<span class="font-bold">{{ item.topic }}</span>
							{{ item.description }}
							{% if item.relatedDocuments|length %}
								<ul class="!pt-0 mt-4 ul-icons related">
									{% for document in item.relatedDocuments.all() %}
										<li>
											<a href="{{ document.url }}">
                        {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ document.title }}
                      </a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			</ol>
		{% endif %}
	{% endif %}

	{% set documents = [] %}
	{% if entry.documents %}
		{% for document in entry.documents.all() %}
			{% if document.id not in minutes.ids() and document.id not in agendas.ids() %}
				{% set documents = documents|merge([document]) %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if entry.type == 'meetingsImported' and documents|length %}
		<h2 class="mt-10 mb-8 first:mt-0 md:mt-14">Additional Documents</h2>
		<ul class="mt-4 ul-icons related">
			{% for document in documents %}
				<li>
					<a href="{{ document.documentFile.one().url }}">
            {{ svg( '@webroot/dist/img/icon-document.svg') }} {{ document.title }}
          </a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if entry.howToParticipate|length and entry.howToParticipate.one().description %}
		<div class="accordion !pt-8" data-allow-toggle>
			<ul
        class="accordion-controls"
        aria-label="Accordion Control Group Buttons">
				{% for item in entry.howToParticipate.all() %}
					<li class="accordion-item">
						<button
              class="accordion-header"
              aria-controls="content-{{ entry.id }}-{{ loop.index }}"
              aria-expanded="false"
              id="accordion-control-{{ entry.id }}-{{ loop.index }}"
            >
              {{ item.header ? item.header : "How to Participate in this Public Meeting" }}
              <span style="pointer-events: none;">
                {{ svg( '@webroot/dist/img/icon-plus.svg') }}{{ svg( '@webroot/dist/img/icon-minus.svg') }}
              </span>
						</button>
						<div
              class="accordion-panel"
              id="content-{{ entry.id }}-{{ loop.index }}"
              hidden
            >
							{{ item.description }}
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{# Accessibility Request #}
	<hr class="hr medium"/>
	{% set accessibilityText %}
	  <p>Contact us to request disability-related accommodations, American Sign Language (ASL), Mandarin, Spanish or another language interpreter at least five (5) business days before the event.</p>
	  <p>All meetings held in-person are wheelchair accessible. Please refrain from wearing scented products as a courtesy to attendees with chemical sensitivities.</p>
	  {% if entry.emailAddress %}
	  	<p class="font-semibold">To make a request contact <a class="no-underline hover:underline" href="mailto:{{ entry.emailAddress }}?subject=Accessibility Request: {{ entry.title }}{{ entry.date ? ' at ' ~ entry.date|date('m/d/Y') : '' }}">{{ entry.emailAddress }} <i class="fa fa-envelope"></i></a></p>
	  {% endif %}
	{% endset %}

	{{ include("_components/_callout.twig", {
		callOutType: 'info',
		heading: 'Accessibility and interpretation requests',
		description: accessibilityText
	}) }}
{% endblock %}

{% block sidebar %}
	{% if entry.date %}
    <hr/>
    <h4 class="pt-0 text-xl">{{ 'Date and Time'|t }}</h4>
    <p>{{ entry.date|date('l, F j, Y') }}
      {% if entry.type == 'meetingsImported' and entry.startDate %}
        <br>{{ entry.startDate|date("g:ia") }}{{ entry.endDate ? " to " ~ entry.endDate|date("g:ia") : "" }}
      {% elseif entry.type == 'meetings' and entry.startTime %}
        <br>{{ entry.startTime|date("g:ia") }}{{ entry.endTime ? " to " ~ entry.endTime|date("g:ia") : "" }}
      {% endif %}
    </p>
    {% set status = entry.meetingStatus ? entry.meetingStatus : entry.eventStatus %}
    {% if now|date('Y-m-d') <= entry.date|date('Y-m-d') and (status.value !== 'canceled' and status.value !== 'rescheduled') %}
      {% if entry.eventLocation and entry.eventLocation.type("physicalLocation")|length %}
        {% set block = entry.eventLocation.type("physicalLocation").one() %}
        {% if not block.contactAddress.isEmpty() %}
          <hr class="light">
          <h4>{{ 'In Person Location'|t }}</h4>
          {% if block.fullName %}<p class="mb-2">{{ block.fullName }}</p>{% endif %}
          <ul class="ul-icons">
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: block.contactAddress.multiline(),
                icon: "map"
              }
            }) }}
            {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
              params: {
                text: "Get Directions",
                url: "https://www.google.com/maps/search/maps/search/#{block.contactAddress|url_encode}"
              }
            }) }}
          </ul>
        {% endif %}
      {% endif %}
      {% if entry.eventLocation and entry.eventLocation.type("onlineLocation")|length %}
        {% set block = entry.eventLocation.type("onlineLocation").one() %}
        {% if block.href or block.phoneNumber %}
          <hr class="light">
          <h4 class="mb-6">{{ 'Online'|t }}</h4>
          {% if block.href %}<a href="{{ block.href }}" class="m-0 button">Join the meeting</a>{% endif %}
          {% if block.phoneNumber %}
            <p class="mt-8 mb-4 text-base font-bold">Or join by phone</p>
            <ul class="ul-icons">
              {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
                params: {
                  text: block.phoneNumber,
                  icon: 'phone',
                  url: "tel:#{block.phoneNumber|replace({'-': ''}) }}"
                }
              }) }}
            </ul>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if entry.fullName %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    <p class="mb-4">{{ entry.fullName }}</p>
    {% if entry.emailAddress or entry.phoneNumber %}
      <ul class="ul-icons">
        {% if entry.emailAddress %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: entry.emailAddress,
              icon: 'envelope',
              url: "mailto:#{entry.emailAddress}"
            }
          }) }}
        {% endif %}
        {% if entry.phoneNumber %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: entry.phoneNumber,
              icon: 'phone',
              url: "tel:#{entry.phoneNumber|replace({'-': ''}) }}"
            }
          }) }}
        {% endif %}
      </ul>
    {% endif %}
  {% endif %}

  {% if entry.eventContact %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    {{ entry.eventContact|raw }}
  {% endif %}

  <hr class="light">
  <p class="mt-4 small">Posted: {{ entry.postDate|date("F j, Y g:ia") }}</p>
  {% if entry.type == 'meetings' %}<p class="mt-4 small">Last Updated: {{ entry.dateUpdated|date("F j, Y g:ia") }}</p>{% endif %}
{% endblock %}