{% extends '_layout.twig' %}
{% import '_macros/_macros' as macros %}

{% block content %}
  {% if category is defined %}
    {% set entry = category %}
  {% endif %}

  <section>
    <div class="bg-transparent-oakland-roots">
      <div class="container" style="padding-top:1rem;padding-bottom:1rem;">
        <div class="breadcrumbs relative flex flex-col items-start py-0 sm:justify-between sm:flex-row-reverse sm:items-center">
          {% include "_partials/_elements/_banner-google-translate.twig" with {paddingTop: "pt-0 mb-4 md:mb-0"} %}
          {% include "_components/partials/_breadcrumbs.twig" %}
        </div>
      </div>
    </div>
    <div class="container components pt-16">
      <div class="flex flex-col flex-1 lg:flex-row">
        <div class="w-full lg:w-2/3">
          <h1>{{ entry.title }}</h1>
          {% if entry.leadIn or entry.summary %}
            <div class="lead pt-4">{{ entry.leadIn ? entry.leadIn : entry.summary }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section>
    {% if entry.components %}
      <div class="container pt-0">
        <div class="flex flex-wrap justify-between -mx-3">
          <div class="lg:w-3/4 xl:w-3/5 px-3">
            <div class="components components-format">
              {# Callout #}
              {% include '_components/_callout' with {
                calloutType   : 'attention',
                heading       : 'this is a temporary callout placeholder',
                mainContent   : '' 
              } %}
              {# Details #}
              {% if entry.mainContent %}<div>{{ entry.mainContent }}</div>{% endif %}

              {# Minutes #}
              {% if entry.documentFile|length %}
                <h2>Minutes</h2>
                <ul class="ul-icons related" style="padding-top: 1rem;">
                {% for document in entry.documentFile.all() %}
                  <li><a href="{{ document.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.title }} Minutes - {{ entry.postDate|date('m/d/Y') }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}

              {# Recordings #}
              <h2>Recordings</h2>
              {% for item in entry.embeds %}
                <figure>
                  {% switch item.type %}
                    {% case 'granicus' %}
                      {{ macros.videoEmbed(item.granicusUrl) }}
                    {% case 'youtube' %}
                      {% set id = item.youtubeUrl|split('?')[1]|split('&')[0]|split('=')[1] %}
                      <div class="embed-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                    {% case 'soundcloud' %}
                      {{ item.soundcloudEmbed|raw }}
                    {% case 'vimeo' %}
                      {% set id = item.vimeoUrl|split('/')|last %}
                      <div class="embed-container"><iframe src="https://player.vimeo.com/video/{{ id }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                  {% endswitch %}
                  <p><i>Meeting recording of {{ entry.title }} on {{ entry.postDate|date('F j, y') }}</i></p>
                </figure>
              {% endfor %}

              {# Agenda #}
              {% include '_components/_builder.twig' %}

              <hr class="hr medium"/>
              {# Accessibility Request #}
              {% set accessibilityText %}
                <p>Contact us to request disability-related accommodations, American Sign Language (ASL), Mandarin, Spanish or another language interpreter at least five (5) business days before the event.</p>
                <p>All meetings held in-person are wheelchair accessible. Please refrain from wearing scented products as a courtesy to attendees with chemical sensitivities.</p>
                {% if entry.contactInfo.type('email')|length %}
                  {% set prefix = 'mailto:' %}
                  {% for item in entry.contactInfo.type('email').all() %}
                    {% if loop.index == 1 %}
                      {% set prefix = prefix ~ item.email ~ "?cc=" %}
                    {% elseif loop.index == 2 %}
                      {% set prefix = prefix ~ item.email %}
                    {% else %}
                      {% set prefix = prefix ~ ", " ~ item.email %}
                    {% endif %}
                  {% endfor %}
                  <a class="button secondary small" href="{{ prefix }}&subject=Accessibility Request: {{ entry.title }} at {{ entry.postDate|date('m/d/Y') }}">Make a Request</a>
                {% endif %}

              {% endset %}
              {% include '_components/_callout' with {
                calloutType   : 'info',
                heading       : 'Accessibility and interpretation requests',
                mainContent   : accessibilityText 
              } %}
            </div>
          </div>
          <div class="lg:w-1/4 xl:w-1/4 px-3">{% if category is not defined %}{% include '_components/_builder-sidebar.twig' %}{% endif %}</div>
        </div>
      </div>
    {% endif %}
    {% include '_components/_builder-footer.twig' %}
  </section>
{% endblock %}
