{% set query          = craft.app.request.getQueryParam('q') %}
{% set meetings       = craft.entries().section('meetings').search(query).limit(10) %}
{% set filter_enabled = false %}

{% if craft.app.request.getQueryParam('public_body') %}
  {% set filter_enabled = true %}
  {% set id = craft.entries().section('boardsCommissions').id(craft.app.request.getQueryParam('public_body')).one() %}
  {% set meetings = meetings.relatedTo(craft.entries().section('boardsCommissions').id(id).one()) %}
{% endif %}

{% set date_query = ['and'] %}

{% if craft.app.request.getQueryParam('start_date') %}
  {% set filter_enabled = true %}
  {% set ym = craft.app.request.getQueryParam('start_date') %}
  {% set date_query = date_query|merge(['>= ' ~ (ym~'-01')]) %}
{% endif %}

{% if craft.app.request.getQueryParam('end_date') %}
  {% set filter_enabled = true %}
  {% set ym = craft.app.request.getQueryParam('end_date') %}
  {% set date_query = date_query|merge(['<= ' ~ (ym~'-31')]) %}
{% endif %}

{% if craft.app.request.getQueryParam('type') %}
  {% set filter_enabled = true %}
  {% switch craft.app.request.getQueryParam('type') %}
    {% case 1 %}
      {% set meetings = meetings.order('date asc') %}
      {% set date_query = date_query|merge(['>= ' ~ now|date('Y-m-d')]) %}
    {% case 2 %}
      {% set meetings = meetings.order('date desc') %}
    {% case 3 %}
      {% set meetings = meetings.order('date desc') %}
      {% set date_query = date_query|merge(['< ' ~ now|date('Y-m-d')]) %}
    {% default %}
      {% set meetings = meetings.order('date asc') %}
      {% set date_query = date_query|merge(['>= ' ~ now|date('Y-m-d')]) %}
  {% endswitch %}
{% else %}
  {% set meetings = meetings.order('date asc') %}
  {% set date_query = date_query|merge(['>= ' ~ now|date('Y-m-d')]) %}
{% endif %}

{% if date_query|length > 1 %}
  {% set meetings = meetings.date(date_query) %}
{% endif %}

{% if craft.app.request.getQueryParam('q') %}
  {% set filter_enabled = true %}
{% endif %}

{% paginate meetings as pageInfo, meetings %}

{% set layout = 'reverse' %}
{% extends '_content.twig' %}
{% import '_macros/_macros' as macros %}

{% block content %}
  {% if filter_enabled %}
    {% if meetings|length %}
      <h3>Displaying {{ meetings|length }} of {{ pageInfo.total }} Meetings</h3>
    {% else %}
      <h3>No results found</h3>
    {% endif %}
  {% else %}
    <h3>Displaying All Meetings</h3>
  {% endif %}
  <div class="mt-8">
    {% if meetings|length %}
      {% for meeting in meetings %}
        {% include '_components/_meeting' %}
      {% endfor %}
    {% else %}
      <div class="px-8 pt-3 pb-5" style="background:#F7F7F7;">
        <p>Please try another search or updating your filters.</p>
        <p><a href="?">See All Meetings</a></p>
      </div>
    {% endif %}
  </div>

  <div class="my-8">
    {% include '_partials/_elements/_pagination' %}
  </div>

  <div class="lg:hidden">
    <hr class="hr dark"/>
    <h4>{{ 'Learn More About Public Bodies'|t }}</h4>
    <div class="pt-2">
      <p><a href="{{siteUrl}}boards-commissions">Boards & Commissions</a></p>
      <p><a href="{{siteUrl}}departments/oakland-city-council">City Council</a></p>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <hr class="hidden lg:block"/>
  <div class="mt-2 md:mt-0"></div>
  <h4 class="py-0 mt-4 mb-6">{{ 'Search and Filter'|t }}</h4>
  <form action="{{ entry.url }}">
    {{ macros.dates() }}
    {{ macros.textInput('Search', 'search', 'q', 'Search agenda items and documents') }}
    {{ macros.select('Public Body', 'public_body', 'public_body', craft.entries().section('boardsCommissions').orderBy('title asc').all()|map(body=>{(body.id): body.title}), 'Select a Council, Board or Commission') }}
    {{ macros.select('Date Range', 'type', 'type', [
        {"1"  : "Upcoming Meetings Only"},
        {"2"  : "Past and Upcoming Meetings"},
        {"3" : "Past Meetings Only"},
      ], false
    )}}
    <div class="flex items-center">
      <button class="button medium">Apply</button>
      {% if query or filter_enabled %}
        <a href="{{ entry.url }}">Clear filters</a>
      {% endif %}
    </div>
  </form>
  <hr/>
  <div class="hidden lg:block">
    <h4 class="py-0 mt-4">{{ 'Learn More About Public Bodies'|t }}</h4>
    <div class="pt-2">
      <p><a href="{{siteUrl}}boards-commissions">Boards & Commissions</a></p>
      <p><a href="{{siteUrl}}departments/oakland-city-council">City Council</a></p>
    </div>
    <hr class="light"/>
  </div>
{% endblock %}