{% extends "_layouts/_banner-with-nav.twig" %}

{% do craft.app.elements.eagerLoadElements(
	className(entry),
	[entry],
	[
		'banner',
		'teams'
	]
) %}

{% set gallery = entry.photoGallery.all() ?? null %}
{% set documents = entry.projectDocuments.all() ?? null %}
{% set meetings = craft.entries.section('meetings').orderBy('date desc').relatedTo(entry).all() ?? null %}
{% set updates = entry.projectUpdates.all() ?? null %}
{% set addresses = entry.projectLocations.all() ?? null %}
{% set mapImage = entry.projectMapImage.one() ?? null %}
{% set timeline = entry.timeline.all() ?? null %}
{% set related = entry.relatedProjectEntries.all() ?? null %}
{% set relatedTeams = craft.entries.section('teams').relatedTo(entry).all() ?? null %}
{% set funding = entry.fundingLogos.all() ?? null %}
{% set phoneNumbers = entry.phoneNumbers.all() ?? null %}
{% set socialMediaTrue = entry.facebook or entry.twitter or entry.medium or entry.instagram or entry.youtube %}
{% set contactTrue = entry.emailAddress or phoneNumbers or relatedTeams or socialMediaTrue %}

{% block content %}
	{%- set headerSubContent -%}
		<div class="mt-4 md:mt-0">
			{% if entry.projectStatus %}
				<div class="text-sm">
					<strong>Status:</strong><br>
					{{ entry.projectStatus.label }}
				</div>
			{% endif %}
			{% if entry.projectStartDate %}
				<div class="text-sm">
					<strong>Start date:</strong><br>
					{{ entry.projectStartDate | date() }}
				</div>
			{% endif %}
			{% if entry.projectEndDate %}
				<div class="text-sm">
					<strong>Completion date:</strong><br>
					{{ entry.projectEndDate | date() }}
				</div>
			{% endif %}
		</div>
	{%- endset -%}

	{% set breadcrumbs = [] %}
	{% if entry.primaryUnit|length %}
		{% set breadcrumbs = breadcrumbs|merge([
			{
				title: entry.primaryUnit.one().title,
				link: entry.primaryUnit.one().url
			},
		]) %}
	{% endif %}
	{% if entry.section %}
		{% set breadcrumbs = breadcrumbs|merge([
			{
				title: entry.section.name,
				link: siteUrl ~ entry.section.handle
			},
		]) %}
	{% endif %}

	{{ include("_partials/_page-banners.twig", {
		breadCrumbLinks: breadcrumbs,
		bannerImage: entry.banner | length ? {
			position: entry.banner[0].getFocalPoint('asCss'),
			src: entry.banner[0].url,
			alt: entry.banner[0].title ?? entry.banner[0].filename
		} : false,
		headerSubContent: headerSubContent
	}) }}
	<div id="content" class="@container">
		<div class="container px-6 @3xl:px-16 pt-6 sm:pt-12 md:grid md:gap-8 md:grid-cols-3">
			<div class="md:col-span-2">
				{% if entry.about %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "About"
						}) }}
						<div class="body-text">
							{{ entry.about }}
						</div>
					</section>
				{% endif %}
				{% if gallery %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Gallery"
						}) }}
						<div class="flex flex-row flex-wrap" id="js-photoGallery">
							{% for photo in gallery %}
								<figure class="w-1/3" data-src="{{ photo.url }}" data-sub-html="<p class='font-bold'>{{ photo.title }}</p><p>{{ photo.altText }}</p>">
									<a href="{{ photo.url }}">
										{% set transformedImage = craft.imager.transformImage(photo, { width: 400}, {
											ratio: 1/1, position: photo.getFocalPoint()
										}, {
											fillTransforms: true
										}) %}
										<img
											src="{{ transformedImage.url }}"
											alt="{{ photo.altText ?? photo.title }}"
										>
									</a>
								</figure>
							{% endfor %}
						</div>
					</section>
				{% endif %}
				{% if documents %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Documents"
						}) }}
						<div class="space-y-6">
							{% for entry in documents %}
								{% set isDoc = (entry.type == "documents") ? true : false %}
								{% set url = isDoc ? entry.documentFile.one.url : entry.url %}
								{% set target = isDoc ? "_blank" : "_self" %}
								<a class="section-box project-documents" href="{{ url }}" target="{{ target }}">{{ entry.title }}</a>
							{% endfor %}
						</div>
					</section>
				{% endif %}

				{% if meetings %}
					<section>
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Meetings"
						}) }}
						<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
							{% for entry in meetings %}
								<a class="shadow card default" href="{{ entry.url }}">
									<h4><span>{% if entry.meetingStatus and entry.meetingStatus.value and entry.meetingStatus.value !== 'default' %}{{ entry.meetingStatus.label }} - {% endif %}{{ entry.title }}</span></h4>
									{% if entry.type == 'meetingsImported' %}
										<p class="flex items-center">{{ svg("@webroot/dist/img/icon-calendar-new.svg") }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
										<p class="flex items-center pt-1">{{ svg("@webroot/dist/img/icon-clock.svg") }} <span class="ml-2">{{ entry.startDate.format("g:ia") }}{{ entry.endDate ? " to " ~ entry.endDate.format("g:ia") : '' }}</span></p>
									{% else %}
										<p class="flex items-center">{{ svg("@webroot/dist/img/icon-calendar-new.svg") }} <span class="ml-2">{{ entry.date.format("l, F d, Y") }}</span></p>
										<p class="flex items-center pt-1">{{ svg("@webroot/dist/img/icon-clock.svg") }} <span class="ml-2">{{ entry.startTime.format("g:ia") }}{{ entry.endTime ? " to " ~ entry.endTime.format("g:ia") : '' }}</span></p>
									{% endif %}
								</a>
							{% endfor %}
						</div>
					</section>
				{% endif %}
			</div>
			<div class="md:col-span-1">
				{% if updates %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Updates"
						}) }}
						<div class="space-y-6">
							{% for entry in updates %}
								<a class="section-box project-updates" href="{{ entry.url }}">{{ entry.title }}</a>
							{% endfor %}
						</div>
					</section>
				{% endif %}
				{% if addresses or mapImage %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Map"
						}) }}
						{% if mapImage %}
							{% set transformedImage = craft.imager.transformImage(mapImage, { width: 320 }, { ratio: 1/1, position: mapImage.getFocalPoint()},{ fillTransforms: true}) %}
							{% set transformedImages = craft.imager.transformImage(mapImage, [
								{ width: 1400 },
								{ width: 912 },
								{ width: 528, jpegQuality: 65 }
							],{ fillTransforms: true}) %}
							<figure class="mt-4 w-full cursor-pointer" id='js-map'>
								<img
									data-src="{{ mapImage.url }}"
									data-sub-html="<p class='font-bold'>Map of Project: {{ entry.title }}</p>"
									src="{{ transformedImage.url }}"
									srcset="{{ transformedImages | srcset }}"
									sizes="75vw"
									alt="{{ mapImage.altText ?? 'Map of Project: ' ~ entry.title }}"
									class="block">
							</figure>
						{% endif %}

						{% if addresses %}
							{% do view.registerJsFile("https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js") %}
							{% do view.registerCssFile("https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css") %}
							{% for location in addresses %}
								{% if location.locationAddress %}
									{% set loc = location.locationAddress %}
									{% set src = "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{loc.lng},#{loc.lat})/#{loc.lng},#{loc.lat},16/600x400@2x?access_token=pk.eyJ1Ijoib2FrbGFuZGRpZ2l0YWwiLCJhIjoiY2pudXBsb2Q5MTcyejNwcGFiMXI3djlvMiJ9.eWDu3rz5mBaZvBzMQtZGlQ" %}
									{% set largePhoto = src|replace("600x400", "1280x854") %}
									{% set locationText = "#{loc.street1}, #{loc.city}, #{loc.state}, #{loc.zip}" %}

									<figure class="mt-4 w-full cursor-pointer" id='js-map'>
										<img
											data-src="{{ largePhoto }}"
											data-sub-html="<p class='font-bold'>Map of Project: {{ entry.title }}</p><p>Showing locations of {{ locationText ?? '' }}</p>"
											src="{{ src }}"
											alt="Map of Project: {{ entry.title }}">
									</figure>
									{% if location.description %}
										<h3 class="my-3 text-lg font-bold">{{ location.description }}</h3>
									{% endif %}
									{% set loc = location.address %}
									{% if loc %}
										<p class="mt-2 mb-3">
											{{ loc.street1 }}<br />
											{% if loc.street2 %}{{ loc.street2 }}<br />{% endif %}
											{{ loc.city }}, {{ loc.state }} {{ loc.zip }}
										</p>
									{% endif %}
								{% endif %}
							{% endfor %}
						{% endif %}

					</section>
				{% endif %}

				{% if timeline %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Timeline"
						}) }}
						<div class="ml-2 project-timeline">
							{% for milestone in timeline %}
								<div class="project-timeline-item pl-8 border-l-2 {{ loop.last ? "border-white" : "pb-4 border-gray-500" }}">
									<div class="text-gray-800">
										<div class="leading-none relative milestone-name before:absolute before:w-[1.25rem] before:h-[1.25rem] before:border-x-[.125rem] before:border-y-[.125rem] before:border-[#8c9d96] before:rounded-[50%] before:left-[calc(-2rem-11px)] before:top-0">{{ milestone.milestoneName }}</div>
										{% if milestone.milestoneDates %}
											<span class="text-sm font-bold text-gray-1000">{{ milestone.milestoneDates }}</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</section>
				{% endif %}

				{% if related %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "RelatedPages"
						}) }}
						<div class="space-y-6">
							{% for entry in related %}
								<a class="section-box project-related" href="{{ entry.url }}">{{ entry.title }}</a>
							{% endfor %}
						</div>
					</section>
				{% endif %}

				{% if funding %}
					<section class="mb-16 border-b border-gray-500 pb-16">
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: entry.fundingLogosAlternateTitle ?? "Partners"
						}) }}
						<div class="-mx-4 flex flex-wrap items-center justify-center">
							{% for logo in funding %}
								<figure class="mx-4 mb-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/5 md:mb-8">
									<img
										class="mx-auto block h-auto w-full"
										src="{{ logo.url }}"
										alt="{{ logo.altText ?? logo.title }}"
									>
								</figure>
							{% endfor %}
						</div>
					</section>
				{% endif %}

				{% if contactTrue %}
					<section>
						{{ include("_partials/_elements/_module-header.twig", {
							headerText: "Contact"
						}) }}
						{% if entry.emailAddress %}
							<h3 class="mb-2 text-xl">Email</h3>
							<p class="mt-0">
								<a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a>
							</p>
						{% endif %}
						{% if relatedTeams %}
							<h3 class="mb-2 text-xl">Teams</h3>
							<p class="mt-0">
								{% for team in relatedTeams %}
									<a href="{{ team.url }}" class="mr-2 inline-block btn btn-sm">{{ team.title }}</a>
								{% endfor %}
							</p>
						{% endif %}
						{% if phoneNumbers %}
							<h3 class="mb-2 text-xl">Phone Numbers</h3>
							<p class="mt-0">
								{% for phone in phoneNumbers %}
									{% switch phone.type %}
									{% case "other" %}
										{{ phone.numberTitle }}:
										<a href="tel:{{ phone.number }}">{{ phone.number }}</a>
									{% default %}
										{{ phone.getType().name }}:
										<a href="tel:{{ phone.number }}">{{ phone.number }}</a>
									{% endswitch %}
									{% if not loop.last %}<br>{% endif %}
								{% endfor %}
							</p>
						{% endif %}
						{{ include("_partials/_elements/_social-media.twig") }}
					</section>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
