{% extends "_content.twig" %}
{% block content %}
  {% if entry.callOut|length %}
    {% for block in entry.callOut.all() %}
      {{ include("_components/_callout.twig") }}
    {% endfor %}
  {% endif %}

  {% if entry.beforeYouStart|length %}
    {% for block in entry.beforeYouStart.all() %}
      {{ include("_components/_section.twig", {
        defaultHeader: 'Before you Start'
      }) }}
    {% endfor %}
  {% endif %}

  <h2>{{ entry.heading ? entry.heading : 'What to Do' }}</h2>
  {% if entry.description %}<p>{{ entry.description }}</p>{% endif %}

  {% if entry.callToActionButtons %}
    {% for block in entry.callToActionButtons %}
      {{ include("_components/_button.twig", {
        style: loop.index0 ? 'secondary' : 'primary'
      }) }}
    {% endfor %}
  {% endif %}

  {% if entry.accordion|length %}
    {{ include ("_components/_accordion.twig", {
      params: {
        header: entry.accordionHeader,
        content: entry.accordion.all()
      }
    }) }}
  {% endif %}

  {{ include("_components/_process.twig", {
    heading: entry.processHeader
  }) }}

  {% if entry.needToKnow|length %}
    {% for block in entry.needToKnow.all() %}
      {{ include("_components/_section.twig", {
        defaultHeader: 'Need to Know'
      }) }}
    {% endfor %}
  {% endif %}
{% endblock %}
