{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'callToAction.documentLink:documentLink',
    'callToAction.documentLink:documentLink.documentFile',
    'contentBuilder',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:entries.documentFile',
    'contentBuilder.smallEntryLinks:entries',
    'contentBuilder.smallEntryLinks:entries.documentFile',
    'embeddedContent',
  ]
) %}

{% block content %}
    {% set breadcrumbs = [] %}
    {% if entry.primaryUnit|length %}
      {% set breadcrumbs = breadcrumbs|merge([
        {
          title: entry.primaryUnit.one().title,
          link: entry.primaryUnit.one().url
        },
      ]) %}
    {% endif %}
    {% if entry.section %}
      {% set breadcrumbs = breadcrumbs|merge([
        {
          title: entry.section.name,
          link: siteUrl ~ entry.section.handle
        },
      ]) %}
    {% endif %}

  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: breadcrumbs,
  } %}
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      {% include '_partials/_elements/_ctas.twig' %}
      <div class="components flex flex-wrap justify-between -mx-3">
        <div class="lg:w-3/4 xl:w-3/5 px-3">{% include '_components/_builder.twig' %}</div>
        <div class="lg:w-1/4 xl:w-1/4 px-3">{% include '_components/_builder-sidebar.twig' %}</div>
      </div>
    </div>


    {% if entry.departments|length or (entry.primaryUnit|length and entry.primaryUnit.one().section.handle == 'departments' ) %}
    <div class="components" id="related-departments" style="background:#334E68">
      <div class="container py-16">
        <h2 class="text-white" style="padding-top:0;">{{"Related Departments"|t}}</h2>
        <div class="grid grid-cols-3 gap-6 mt-6">
          {% set primaryUnitDepartment = null %}
          {% if entry.primaryUnit|length and entry.primaryUnit.one().section.handle == 'departments' %}
            {% set primaryUnitDepartment = entry.primaryUnit.one() %}
            <a href="{{ primaryUnitDepartment.url }}"><p><b>{{ primaryUnitDepartment.title }}</b></p></a>
          {% endif %}
          {% for entry in entry.departments.all() %}
            <a href="{{ entry.url }}"><p><b>{{ entry.title }}</b></p></a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </section>
{% endblock %}
