{% extends "_layout.twig" %}

{% do craft.app.elements.eagerLoadElements(
	className(entry),
	[entry],
	[
		'banner',
		'callToAction',
		'callToAction.documentLink:documentLink',
		'callToAction.documentLink:documentLink.documentFile',
		'contentBuilder',
		'contentBuilder.largeEntryLinks:entries',
		'contentBuilder.largeEntryLinks:entries.documentFile',
		'contentBuilder.smallEntryLinks:entries',
		'contentBuilder.smallEntryLinks:entries.documentFile',
		'embeddedContent',
		'primaryUnit',
		'serviceTypes'
	]
) %}

{% set embeddedContent = entry.embeddedContent.one() ?? null %}
{% set primaryUnit = entry.primaryUnit.one() ?? null %}

{% block content %}
	{% set breadcrumbs = [] %}
	{% if primaryUnit %}
		{% set breadcrumbs = breadcrumbs|merge([
			{
				title: primaryUnit.title,
				link: primaryUnit.url
			},
		]) %}
	{% endif %}
	{% if entry.section %}
		{% set breadcrumbs = breadcrumbs|merge([
			{
				title: entry.section.name,
				link: siteUrl ~ entry.section.handle
			},
		]) %}
	{% endif %}

	{{ include("_partials/_page-banners.twig", {
		breadCrumbLinks: breadcrumbs
	}) }}
	<section id="content" class="@container relative z-0 bg-white">
		<div class="container px-6 pt-10 pb-8 @3xl:px-16 @3xl:py-12">
			{{ include("_partials/_elements/_ctas.twig") }}
			<div class="flex">
				{{ include("_partials/_elements/_nav-sidebar.twig") }}
				<div class="flex-1">
					{{ include("_partials/_content-builder/_tool.twig") }}
					{% if embeddedContent %}
						{{ embeddedContent.codeInsertion|raw }}
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
