<div id="components-sidebar" class="components components-format">
  <hr style="border-top: 2px solid #212121;opacity:1;"/>
  <h4>{{ 'Contact'|t }}</h4>
  {% if entry.department|length or entry.programSubdivision %}
    <p>
      {% if entry.department|length %}
        <b><a href="{{ entry.department.one().url }}">{{ entry.department.one().title }}</a></b>
      {% endif %}
      {% if entry.programSubdivision %}
        <br>{{ entry.programSubdivision }}
      {% endif %}
    </p>
  {% endif %}
  {% include '_components/_contact.twig' with {block: entry} %}
  {% if entry.relatedServices|length %}
    <hr style="border-top: 2px solid #212121;opacity:1;"/>
    <h4>{{ 'Related Services'|t }}</h4>
    <ul class="ul-icons related">
      {% for entry in entry.relatedServices.all() %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if entry.relatedResources|length  %}
    <hr style="border-top: 2px solid #212121;opacity:1;"/>
    <h4>{{ entry.heading ? entry.heading : 'Related Resources' }}</h4>
    <ul class="ul-icons related">
      {% for entry in entry.relatedResources.all() %}
        {% switch entry.type.section.handle %}
          {% case 'documents' %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.title }}</a></li>
          {% case 'documentPackets' %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-folder.svg') }} {{ entry.title }}</a></li>
          {% default %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-external.svg') }} {{ entry.title }}</a></li>
        {% endswitch %}
      {% endfor %}
    </ul>
  {% endif %}
</div>

<style>
  #components-sidebar > hr:not(:first-child) {
    margin-top: 1.25em;
  }

  #components-sidebar > h1,
  #components-sidebar > h2,
  #components-sidebar > h3,
  #components-sidebar > h4 {
    padding-top: 1em;
  }

  .ul-icons {
    list-style: none;
    padding-left: 0 !important;
  }

  .ul-icons > li {
    margin-bottom: 15px;
  }

  .ul-icons > li,
  .ul-icons > li > a {
    display: flex;
    align-items: start;
  }

  .ul-icons > li svg {
    flex-shrink: 0;
    margin-top: 2px;
    margin-right: 10px;
    width: 22.5px;
  }

  .related > li svg path {
    fill: #2e8131;
  }

  .ul-icons a {
    text-decoration: none;
  }

  .ul-icons a:hover,
  .ul-icons a:focus {
    text-decoration: underline;
  }

  .ul-icons.related a {
    text-decoration: underline;
  }

  .ul-icons.related a:hover,
  .ul-icons.related a:focus {
    text-decoration: none;
  }
</style>