<div id="components-sidebar" class="components components-format">

  <hr style="border-top: 2px solid #212121;opacity:1;"/>
  <h4>{{ 'Contact'|t }}</h4>
  {% if entry.fullName or entry.jobTitle %}
    <p>
      {% if entry.fullName %}
        {{ entry.fullName }} <br>
      {% endif %}
      {% if entry.jobTitle %}
        {{ entry.jobTitle }}
      {% endif %}
    </p>
  {% endif %}

  {% if entry.department|length or entry.programSubdivision %}
    <p>
      {% if entry.department|length %}
        <b><a href="{{ entry.department.one().url }}">{{ entry.department.one().title }}</a></b>
      {% endif %}
      {% if entry.programSubdivision %}
        <br>{{ entry.programSubdivision }}
      {% endif %}
    </p>
  {% endif %}

  {% if entry.contactInfo %}
    {% include '_components/_contact.twig' with {block: entry} %}
  {% endif %}
  {% if entry.relatedServices|length %}
    <hr style="border-top: 2px solid #212121;opacity:1;"/>
    <h4>{{ 'Related Services'|t }}</h4>
    <ul class="ul-icons related">
      {% for entry in entry.relatedServices.all() %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}


  {% if entry.relatedResources|length  %}
    <hr style="border-top: 2px solid #212121;opacity:1;"/>
    <h4>{{ entry.heading ? entry.heading : 'Related Resources' }}</h4>
    <ul class="ul-icons related">
      {% for entry in entry.relatedResources.all() %}
        {% switch entry.type.section.handle %}
          {% case 'documents' %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.title }}</a></li>
          {% case 'documentPackets' %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-folder.svg') }} {{ entry.title }}</a></li>
          {% default %}
            <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-external.svg') }} {{ entry.title }}</a></li>
        {% endswitch %}
      {% endfor %}
    </ul>
  {% endif %}
</div>