{% set callOutType = callOutType is defined ? callOutType : block.callOutType %}
{% set heading     = heading is defined ? heading : block.header %}
{% set description = description is defined ? description : block.description %}

<blockquote class="callout first:mt-0 first:mb-14 {{ callOutType }}">
	{% switch callOutType %}
		{% case 'info' %}
		{{ svg( '@webroot/dist/img/icon-info.svg') }}
		{% case 'attention' %}
		{{ svg( '@webroot/dist/img/icon-attention.svg') }}
		{% default %}
		{{ svg( '@webroot/dist/img/icon-info.svg') }}
	{% endswitch %}
	<div class="space-y-5">
		<p><b>{{ heading|raw }}</b></p>
		{{ description|raw }}
	</div>
</blockquote>