<blockquote class="callout {{ block.callOutType }}">
	{% switch block.callOutType %}
		{% case 'info' %}
		{{ svg( '@webroot/assets/img/icon-info.svg') }}
		{% case 'attention' %}
		{{ svg( '@webroot/assets/img/icon-attention.svg') }}
		{% default %}
		{{ svg( '@webroot/assets/img/icon-info.svg') }}
	{% endswitch %}
	<div>
		<p><b>{{ block.header }}</b></p>
		<p>{{ block.description }}</p>
	</div>
</blockquote>