{% set calloutType = calloutType is defined ? calloutType : block.calloutType %}
{% set heading     = heading is defined ? heading : block.heading %}
{% set mainContent = mainContent is defined ? mainContent : block.mainContent %}

<blockquote class="callout {{ calloutType }}">
	{% switch calloutType %}
		{% case 'info' %}
		{{ svg( '@webroot/assets/img/icon-info.svg') }}
		{% case 'attention' %}
		{{ svg( '@webroot/assets/img/icon-attention.svg') }}
		{% default %}
		{{ svg( '@webroot/assets/img/icon-info.svg') }}
	{% endswitch %}
	<div>
		<p><b>{{ heading }}</b></p>
		{{ mainContent }}
	</div>
</blockquote>