{% set callOutType = callOutType is defined ? callOutType : block.callOutType %}
{% set heading     = heading is defined ? heading : block.header %}
{% set description = description is defined ? description : block.description %}

<blockquote class="callout first:mt-0 mb-4 last:mb-14 {{ callOutType }}">
	{% switch callOutType %}
		{% case 'attention' %}
		{{ svg( '@webroot/dist/img/icon-attention.svg') }}
		{% default %}
		{{ svg( '@webroot/dist/img/icon-info.svg') }}
	{% endswitch %}
	<div class="space-y-2">
		<p class="pt-0 m-0"><b>{{ heading|raw }}</b></p>
		<div class="small">{{ description|raw }}</div>
	</div>
</blockquote>