{% set icons %}
  {% spaceless %}
  {% if block.contactInfo %}
    {% for block in block.contactInfo.all() %}
      {% switch block.type %}
        {% case 'email' %}
          {% if block.email %}<li><a href="mailto:{{ block.email }}">{{ svg( '@webroot/assets/img/icon-envelope-updated.svg') }} {{ block.email }}</a></li>{% endif %}
        {% case 'phone' %}
          {% if block.phone %}<li><a href="tel:{{ block.phone|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ block.phone }}</a></li>{% endif %}
        {% case 'location' %}
          {% if block.address %}<li>{{ svg( '@webroot/assets/img/icon-marker-updated.svg') }}{{ block.address|replace({',': "<br>"})|raw }}</li>{% endif %}
        {% default %}
      {% endswitch %}
    {% endfor %}
  {% endif %}
  {% if block.email %}<li><a href="mailto:{{ block.email }}">{{ svg( '@webroot/assets/img/icon-envelope-updated.svg') }} {{ block.email }}</a></li>{% endif %}
  {% if block.phone %}<li><a href="tel:{{ block.phone|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ block.phone }}</a></li>{% endif %}
  {% if not block.location.isEmpty() %}<li>{{ svg( '@webroot/assets/img/icon-marker-updated.svg') }}{{ block.location.multiline() }}</li>{% endif %}  
{% endspaceless %}
{% endset %}
{% if icons|trim|length %}
  <ul class="ul-icons">
    {{ icons }}
  </ul>
{% endif %}