{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set documents = block.documents.all() ?? null %}
{% if documents %}
	<ul class="ul-icons related pt-4">
		{% for document in documents %}
			<li>
				<a href="{{ document.url }}">
					{{ svg("@webroot/dist/img/icon-document.svg") }} {{ document.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
