{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% if event.type is defined and event.type == "api" %}
	<div class="pb-6 result mb-4">
		<div class="-mx-4 flex flex-wrap">
			<div class="mb-3 w-full px-4 md:w-1/4 md:mb-0 shrink-0">
				<img src="/dist/img/placeholder-event.png" alt="" />
			</div>
			<div class="w-full px-4 md:w-3/4">
				<h3 class="mt-0">
					<a
						href="https://oaklandlibrary.bibliocommons.com/events/{{ event.uid }}"
						target="_blank"
					>
						{{ event.title }} {{ svg("@webroot/dist/img/icon-external.svg")|attr({
							class: "h-6 ml-2 inline"
						}) }}
					</a>
					{% if event.isCancelled %}
						<span data-type="Cancelled">Cancelled</span>
					{% elseif event.isVirtual %}
						<span data-type="Cancelled">Online</span>
					{% endif %}
				</h3>
				<p class="font-bold">{{ event.startDate|date("l, F j, Y") }}</p>
				<p class="flex items-center">
					{{ svg("@webroot/dist/img/icon-clock.svg") }}
					<span class="ml-4 pl-1">
						{{ event.startDate|date("g:ia") }}{{ event.endDate ? " to " ~ event.endDate|date("g:ia") }}
					</span>
				</p>
				{% if event.location is defined %}
					<p class="flex items-center">
						{{ svg("@webroot/dist/img/icon-map-marker.svg") }}
						<span class="ml-4">
							{{ event.location }}
						</span>
					</p>
				{% endif %}
			</div>
		</div>
	</div>
{% else %}
	{% set physicalLocation = clone(event.eventLocations).type('physicalLocation').one() ?? null %}
	{% set onlineLocation = clone(event.eventLocations).type('onlineLocation') %}
	{% set eventImage = event.eventImage.one() ?? null %}
	<div class="pb-6 result mb-4">
		<div class="-mx-4 flex">
			<div class="px-4 md:w-1/4 shrink-0">
				<a href="{{ event.url }}">
					{% if eventImage %}
						{% set transformedImage = craft.imager.transformImage(eventImage, { height:240, width: 320 }) %}
						<img src="{{ transformedImage.url }}" alt="{{ eventImage.altText }}"/>
					{% else %}
						<img src="/dist/img/placeholder-event.png" alt="" />
					{% endif %}
				</a>
			</div>
			<div class="w-full px-4 md:w-3/4">
				<h3 class="mt-0">
					<a href="{{ event.url }}">{{ event.title }}</a>
					{% if onlineLocation %}
						<span data-type="Online">Online</span>
					{% endif %}
				</h3>
				<p class="font-bold">{{ event.calendarize.startDate|date("l, F j, Y") }}</p>
				{% if event.calendarize.allDay %}
					<p class="flex items-center">
						{{ svg("@webroot/dist/img/icon-clock.svg") }}
						<span class="ml-4 pl-1">All Day</span>
					</p>
				{% else %}
					<p class="flex items-center">
						{{ svg("@webroot/dist/img/icon-clock.svg") }}
						<span class="ml-4 pl-1">
							{{ event.calendarize.startDate|date("g:ia") }}{{ event.calendarize.endDate ? " to " ~ event.calendarize.endDate|date("g:ia") }}
						</span>
					</p>
				{% endif %}
				{% if physicalLocation %}
					{% if physicalLocation.locationName %}
						<p class="flex items-center">
							{{ svg("@webroot/dist/img/icon-map-marker.svg") }}
							<span class="ml-4">{{ physicalLocation.locationName }}</span>
						</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
