<div class="result pb-6" style="margin-bottom:1rem;">
  <h3 style="padding-top: 0;">
    <a href="{{ meeting.url }}">{{ meeting.title }}</a>
    {% switch meeting.meetingStatus %}
      {% case 'canceled' %}
        <span data-type="{{ meeting.meetingStatus }}">Canceled</span>
      {% case 'rescheduled' %}
        <span data-type="{{ meeting.meetingStatus }}">Rescheduled</span>
      {% case 'special' %}
        <span data-type="{{ meeting.meetingStatus }}">Special</span>
      {% default %}
    {% endswitch %}
  </h3>
  {% if meeting.date %}<p><b>{{ meeting.date|date("l, F j, Y") }}</b></p>{% endif %}
    <div class="md:flex items-center justify-between">
      {% if meeting.type == 'meetings' and meeting.startTime %}<p class="flex items-center">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ meeting.startTime|date("g:ia") }}{{ meeting.endTime ? " to " ~ meeting.endTime|date("g:ia") : '' }}</span></p>{% endif %}
      {% if meeting.type == 'meetingsImported' and meeting.startDate %}<p class="flex items-center">{{ svg( '@webroot/dist/img/icon-clock.svg') }} <span class="ml-2">{{ meeting.startDate|date("g:ia") }}{{ meeting.endDate ? " to " ~ meeting.endDate|date("g:ia") : '' }}</span></p>{% endif %}
      <ul class="md:flex items-center related" style="list-style:none;padding:0;">
        {% if meeting.type =='meetings' %}
          {% if meeting.agendaDownloadableCopy|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ meeting.agendaDownloadableCopy.one().url }}">{{ svg( '@webroot/dist/img/icon-pdf-updated.svg') }}<span class="ml-2">Agenda</span></a></li>{% endif %}
          {% if meeting.documentFile|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ meeting.documentFile.one().url }}">{{ svg( '@webroot/dist/img/icon-pdf-updated.svg') }}<span class="ml-2">Minutes</span></a></li>{% endif %}
          {% if meeting.embeds|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ meeting.url }}#recordings">{{ svg( '@webroot/dist/img/icon-recording.svg') }}<span class="ml-2">Recording</span></a></li>{% endif %}
        {% elseif meeting.type == 'meetingsImported' %}
          {% set minuteCat = craft.categories.group('documentTypes').id(12).one() %}
          {% set agendaCat = craft.categories.group('documentTypes').id(13).one() %}

          {% set minutes = clone(meeting.documents).relatedTo(minuteCat) %}
          {% set agendas = clone(meeting.documents).relatedTo(agendaCat) %}

          {% if agendas|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ agendas.one().url }}">{{ svg( '@webroot/dist/img/icon-pdf-updated.svg') }}<span class="ml-2">Agenda</span></a></li>{% endif %}
          {% if minutes|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ minutes.one().url }}">{{ svg( '@webroot/dist/img/icon-pdf-updated.svg') }}<span class="ml-2">Minutes</span></a></li>{% endif %}
          {% if meeting.videoLink|length %}<li class="mt-2 md:ml-4"><a class="flex items-center" href="{{ meeting.url }}#recordings">{{ svg( '@webroot/dist/img/icon-recording.svg') }}<span class="ml-2">Recording</span></a></li>{% endif %}
        {% endif %}
      </ul>
    </div>
    {% if meeting.type == 'meetings' %}<p class="updated">Updated: {{ meeting.dateUpdated|date("F j, Y") }}</p>{% endif %}
    {% set result = false %}
    {% if query and meeting.agendaDownloadableCopy|length and query|lower in meeting.agendaDownloadableCopy.one().filename|lower %}
      {% set result = true %}
      <p class="small">
        {% set filename     = meeting.agendaDownloadableCopy.one().filename|trim %}
        {% set query_index  = filename|lower|indexOf(query|lower) %}
        <b>Agenda: </b>{{ filename|slice(0, query_index) }}<u>{{ filename|slice(query_index, query|length) }}</u>{{ filename|slice(query_index + query|length, filename|length) }}
      </p>
    {% endif %}
    {% if query and meeting.documentFile|length and query|lower in meeting.documentFile.one().title|lower and result == false %}
      {% set result = true %}
      <p class="small">
        {% set filename     = meeting.documentFile.one().filename|trim %}
        {% set query_index  = filename|lower|indexOf(query|lower) %}
        <b>Minutes: </b>{{ filename|slice(0, query_index) }}<u>{{ filename|slice(query_index, query|length) }}</u>{{ filename|slice(query_index + query|length, filename|length) }}
      </p>
    {% endif %}
    {% if query and meeting.agendaTopics and meeting.agendaTopics.search(query)|length and result == false %}
      {% set result = true %}
      <p class="small">
        {% set topic        = meeting.agendaTopics.search(query).one().topic|trim %}
        {% set query_index  = topic|lower|indexOf(query|lower) %}

        {% set description  = meeting.agendaTopics.search(query).one().description|trim|striptags %}
        {% set desc_query_index  = description|lower|indexOf(query|lower) %}

        {% if query_index !== -1 %}<b>Agenda Topic: </b>{{ topic|slice(0, query_index) }}<u>{{ topic|slice(query_index, query|length) }}</u>{{ topic|slice(query_index + query|length, topic|length) }}{% endif %}
        {% if query_index == -1 and desc_query_index !== -1 %}<b>Agenda Description: </b>{{ description|slice(0, desc_query_index) }}<u>{{ description|slice(desc_query_index, query|length) }}</u>{{ description|slice(desc_query_index + query|length, description|length) }}{% endif %}
      </p>
    {% endif %}
    {% if query and meeting.documents and meeting.documents.search(query)|length and result == false %}
      <p class="small">
        {% set filename     = meeting.documents.search(query).one().title|trim %}
        {% set query_index  = filename|lower|indexOf(query|lower) %}
        <b>Document: </b>{{ filename|slice(0, query_index) }}<u>{{ filename|slice(query_index, query|length) }}</u>{{ filename|slice(query_index + query|length, filename|length) }}
      </p>
    {% endif %}
    {% if meeting.meetingStatus and meeting.relatedMeeting|length %}
      <p class="small">
        <b>New Meeting: </b><a href="{{ meeting.relatedMeeting.one().url }}">{{ meeting.relatedMeeting.one().title }}</a>
      </p>
    {% endif %}
</div>