{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set process = entry.process.all() ?? null %}
{% if process %}
	{% if heading is defined %}<h3>{{ heading }}</h3>{% endif %}
	<ol class="process">
		{% for item in process %}
			<li data-index="{{ loop.index }}">
				<div>
					<span class="block font-semibold">{{ item.heading }}</span>
					{% for block in item.innerContent.all() %}
						{{ include("_components/_#{block.type}") }}
					{% endfor %}
				</div>
			</li>
		{% endfor %}
	</ol>
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
