<div id="components-sidebar" class="components components-format">
  {% set sidebarContent %}
    {% spaceless %}
      {% if entry.department|length or entry.programSubdivision %}
        <hr style="border-top: 2px solid #212121;opacity:1;"/>
        <h4>{{ 'Contact'|t }}</h4>
        <p>
          {% if entry.department|length %}
            <b><a href="{{ entry.department.one().url }}">{{ entry.department.one().title }}</a></b>
          {% endif %}
          {% if entry.programSubdivision %}
            <br>{{ entry.programSubdivision }}
          {% endif %}
        </p>
      {% endif %}
      {% include '_components/_contact.twig' with {block: entry} %}
      {% if entry.relatedServices|length %}
        <hr style="border-top: 2px solid #212121;opacity:1;"/>
        <h4>{{ 'Related Services'|t }}</h4>
        <ul class="ul-icons related">
          {% for entry in entry.relatedServices.all() %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if entry.relatedResources|length  %}
        <hr style="border-top: 2px solid #212121;opacity:1;"/>
        <h4>{{ 'Related Resources'|t }}</h4>
        <ul class="ul-icons related">
          {% for entry in entry.relatedResources.all() %}
            {% switch entry.type.section.handle %}
              {% case 'documents' %}
                <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.title }}</a></li>
              {% case 'documentPackets' %}
                <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-folder.svg') }} {{ entry.title }}</a></li>
              {% default %}
                <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-external.svg') }} {{ entry.title }}</a></li>
            {% endswitch %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endspaceless %}
  {% endset %}

  {% if entry.section.handle == 'meetings' %}
    {% if entry.date %}
      <hr style="border-top: 2px solid #212121;opacity:1;"/>
      <h4>{{ 'Date and Time'|t }}</h4>
      <p>{{ entry.date|date('l, F j, Y') }}<br>{{ entry.startTime|date("g:ia") }}{{ entry.endTime ? " to " ~ entry.endTime|date("g:ia") : "" }}</p>
      {% if entry.eventLocation.type("physicalLocation")|length %}
        {% set block = entry.eventLocation.one() %}
        <hr style="border-top: 1px solid #E1E1E1;opacity:1;"/>
        <h4>{{ 'In Person Location'|t }}</h4>
        {% if block.locationName %}<p>{{ block.locationName }}</p>{% endif %}
        {% if block.locationAddress %}
          <ul class="ul-icons">
            {% if block.locationAddress %}<li>{{ svg( '@webroot/assets/img/icon-marker-updated.svg') }}{{ block.locationAddress|replace({',': "<br>"})|raw }}</li>{% endif %}
          </ul>
        {% endif %}
      {% endif %}
      {% if entry.eventLocation.type("onlineLocation")|length %}
        {% set block = entry.eventLocation.one() %}
        <hr style="border-top: 1px solid #E1E1E1;opacity:1;"/>
        <h4>{{ 'Online'|t }}</h4>
        {% if block.onlineMeetingLink %}<a href="{{ block.onlineMeetingLink }}" class="button">Join the meeting</a>{% endif %}
        {% if block.onlineMeetingPhoneNumber %}
          <p class="font-bold">Or join by phone</p>
          <ul class="ul-icons">
            {% if block.onlineMeetingPhoneNumber %}<li><a href="tel:{{ block.onlineMeetingPhoneNumber|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ block.onlineMeetingPhoneNumber }}</a></li>{% endif %}
          </ul>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if entry.fullName %}
      <hr style="border-top: 2px solid #212121;margin-top: 2em;opacity:1;"/>
      <h4>{{ 'Contact'|t }}</h4>
      <p>{{ entry.fullName }}</p>
      {% if entry.emailAddress %}
        <ul class="ul-icons">
          <li><a href="mailto:{{ entry.emailAddress }}">{{ svg( '@webroot/assets/img/icon-envelope-updated.svg') }} {{ entry.emailAddress }}</a></li>
        </ul>
      {% endif %}
    {% endif %}

    <hr style="border-top: 2px solid #212121;margin-top: 2em;opacity:1;"/>
    <h4>{{ 'Subscribe to get updates'|t }}</h4>
    <p>We'll let you know when the minutes are posted.</p>
    <a href="{{ siteUrl }}" class="button secondary">Subscribe</a>
    <hr style="border-top: 1px solid #E1E1E1;opacity:1;"/>
    <p class="small">Posted: {{ entry.postDate|date("F j, Y g:ia") }}</p>
    <p class="small">Last Updated: {{ entry.dateUpdated|date("F j, Y g:ia") }}</p>

  {% else %}
    {% if sidebarContent|trim|length %}
      <hr style="border-top: 2px solid #212121;margin-top: 2em;opacity:1;"/>
      <h4>{{ 'Contact'|t }}</h4>
      {{sidebarContent}}
    {% endif %}
  {% endif %}
</div>

<style>
  #components-sidebar > hr:not(:first-child) {
    margin-top: 1.25em;
  }

  #components-sidebar > h1,
  #components-sidebar > h2,
  #components-sidebar > h3,
  #components-sidebar > h4 {
    padding-top: 1em;
  }

  .ul-icons {
    list-style: none;
    padding-left: 0 !important;
  }

  .ul-icons > li {
    margin-bottom: 15px;
  }

  .ul-icons > li,
  .ul-icons > li > a {
    display: flex;
    align-items: start;
  }

  .ul-icons > li svg {
    flex-shrink: 0;
    margin-top: 2px;
    margin-right: 10px;
    width: 22.5px;
  }

  .related > li svg path {
    fill: #2e8131;
  }

  .ul-icons a {
    text-decoration: none;
  }

  .ul-icons a:hover,
  .ul-icons a:focus {
    text-decoration: underline;
  }

  .ul-icons.related a {
    text-decoration: underline;
  }

  .ul-icons.related a:hover,
  .ul-icons.related a:focus {
    text-decoration: none;
  }
</style>