{% set sidebarContent %}
  {% spaceless %}
    {% if entry.department|length or entry.programSubdivision %}
      <p>
        {% if entry.department|length %}
          <b><a href="{{ entry.department.one().url }}">{{ entry.department.one().title }}</a></b><br>
        {% endif %}
        {% if entry.programSubdivision %}
          {{ entry.programSubdivision }}
        {% endif %}
      </p>
    {% endif %}

    {% if entry.emailAddress or entry.phoneNumber or (entry.contactAddress and not entry.contactAddress.isEmpty()) %}
      <ul class="ul-icons">
      {% if entry.emailAddress %}<li><a href="mailto:{{ entry.emailAddress }}">{{ svg( '@webroot/assets/img/icon-envelope-updated.svg') }} {{ entry.emailAddress }}</a></li>{% endif %}
      {% if entry.phoneNumber %}<li><a href="tel:{{ entry.phoneNumber|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ entry.phoneNumber }}</a></li>{% endif %}
      {% if entry.contactAddress and not entry.contactAddress.isEmpty() %}<li>{{ svg( '@webroot/assets/img/icon-marker-updated.svg') }}{{ entry.contactAddress.name }}<br>{{ entry.contactAddress.multiline() }}</li>{% endif %}
      </ul>
    {% endif %}

    {% if entry.relatedServices|length %}
      <hr/>
      <h4>{{ 'Related Services'|t }}</h4>
      <ul class="ul-icons related">
        {% for entry in entry.relatedServices.all() %}
          <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if entry.relatedResources|length  %}
      <hr/>
      <h4>{{ 'Related Resources'|t }}</h4>
      <ul class="ul-icons related">
        {% for entry in entry.relatedResources.all() %}
          {% switch entry.type.section.handle %}
            {% case 'documents' %}
              <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-document.svg') }} {{ entry.title }}</a></li>
            {% case 'documentPackets' %}
              <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-folder.svg') }} {{ entry.title }}</a></li>
            {% default %}
              <li><a href="{{ entry.url }}">{{ svg( '@webroot/assets/img/icon-external.svg') }} {{ entry.title }}</a></li>
          {% endswitch %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endset %}

{% if entry.section.handle == 'meetings' %}
  {% if entry.date %}
    <hr/>
    <h4>{{ 'Date and Time'|t }}</h4>
    <p>{{ entry.date|date('l, F j, Y') }}
      {% if entry.startDate %}
        <br>{{ entry.startDate|date("g:ia") }}{{ entry.endDate ? " to " ~ entry.endDate|date("g:ia") : "" }}
      {% elseif entry.startTime %}
        <br>{{ entry.startTime|date("g:ia") }}{{ entry.endTime ? " to " ~ entry.endTime|date("g:ia") : "" }}
      {% endif %}
    </p>
    {% if now|date('Y-m-d') <= entry.date|date('Y-m-d') %}
      {% if entry.eventLocation is defined and entry.eventLocation.type("physicalLocation")|length %}
        {% set block = entry.eventLocation.type("physicalLocation").one() %}
        {% if not block.contactAddress.isEmpty() %}
          <hr class="light">
          <h4>{{ 'In Person Location'|t }}</h4>
          {% if block.fullName %}<p>{{ block.fullName }}</p>{% endif %}
          <ul class="ul-icons">
            <li>{{ svg( '@webroot/assets/img/icon-marker-updated.svg') }}{{ block.contactAddress.multiline() }}</li>
            <li style="padding-left:32.5px;text-decoration:underline;"><a href="https://www.google.com/maps/search/{{ block.contactAddress|url_encode }}">Get Directions</a></li>
          </ul>
        {% endif %}
      {% endif %}
      {% if entry.eventLocation is defined and entry.eventLocation.type("onlineLocation")|length %}
        {% set block = entry.eventLocation.type("onlineLocation").one() %}
        {% if block.href or block.phoneNumber %}
          <hr class="light">
          <h4>{{ 'Online'|t }}</h4>
          {% if block.href %}<a href="{{ block.href }}" class="button">Join the meeting</a>{% endif %}
          {% if block.phoneNumber %}
            <p class="font-bold">Or join by phone</p>
            <ul class="ul-icons">
              <li><a href="tel:{{ block.phoneNumber|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ block.phoneNumber }}</a></li>
            </ul>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if entry.fullName %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    <p>{{ entry.fullName }}</p>
    {% if entry.emailAddress or entry.phoneNumber %}
      <ul class="ul-icons">
        {% if entry.emailAddress %}<li><a href="mailto:{{ entry.emailAddress }}">{{ svg( '@webroot/assets/img/icon-envelope-updated.svg') }} {{ entry.emailAddress }}</a></li>{% endif %}
        {% if entry.phoneNumber %}<li><a href="tel:{{ entry.phoneNumber|replace({'-': ''}) }}">{{ svg( '@webroot/assets/img/icon-phone-updated.svg') }} {{ entry.phoneNumber }}</a></li>{% endif %}
      </ul>
    {% endif %}
  {% endif %}

  {% if entry.eventContact %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    {{ entry.eventContact|raw }}
  {% endif %}

  {# <hr/> #}
  {# <h4>{{ 'Subscribe to get updates'|t }}</h4> #}
  {# <p>We'll let you know when the minutes are posted.</p> #}
  {# <a href="{{ siteUrl }}" class="button secondary">Subscribe</a> #}
  <hr class="light">
  <p class="small">Posted: {{ entry.postDate|date("F j, Y g:ia") }}</p>
  <p class="small">Last Updated: {{ entry.dateUpdated|date("F j, Y g:ia") }}</p>

{% else %}
  {% if sidebarContent|trim|length %}
    <hr/>
    <h4>{{ 'Contact'|t }}</h4>
    {{sidebarContent}}
  {% endif %}
{% endif %}