{% if entry.pointOfContact|length %}
  <hr/>
  <h4>{{ 'Contact'|t }}</h4>
  {% for contact in entry.pointOfContact.all() %}
  {% switch contact.type %}
    {% case 'internalContact' %}
      {% set contact = contact.contact.one() %}
      <p>
        <b>{{ contact.title }}</b>
        {% if contact.staffImportJobTitle or contact.jobTitle %}<br>{{ contact.jobTitle ? contact.jobTitle : contact.staffImportJobTitle }}{% endif %}
        {% if contact.staffImportOrganization %}<br>{{ contact.staffImportOrganization }}{% endif %}
      </p>
      {% set contactEmail = contact.emailAddress  ? contact.emailAddress  : contact.staffImportEmail %}
      {% set contactPhone = contact.phoneNumber   ? contact.phoneNumber   : contact.staffImportPhoneNumber %}

      {% if contactEmail or contactPhone %}
        <ul class="ul-icons">
          {% if contactEmail %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: contactEmail,
              icon: 'envelope',
              url: "mailto:#{contactEmail}"
            }
          }) }}
          {% endif %}
          {% if contactPhone %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: contactPhone,
              icon: 'phone',
              url: "tel:#{contactPhone|replace({'-': ''}) }}"
            }
          }) }}
          {% endif %}
        </ul>
      {% endif %}
    {% case 'externalContact' %}
      <p>
        <b>{{ contact.contactName }}</b>
        {% if contact.contactTitle %}<br>{{ contact.contactTitle }}{% endif %}
        {% if contact.organization %}<br>{{ contact.organization }}{% endif %}
      </p>
      {% if contact.email or contact.phoneNumber %}
        <ul class="ul-icons">
          {% if contact.email %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: contact.email,
              icon: 'envelope',
              url: "mailto:#{contact.email}"
            }
          }) }}
          {% endif %}
          {% if contact.phoneNumber %}
          {{ include ("_components/sidebar/elements/_icons/list-item.twig", {
            params: {
              text: contact.phoneNumber,
              icon: 'phone',
              url: "tel:#{contact.phoneNumber|replace({'-': ''}) }}"
            }
          }) }}
          {% endif %}
        </ul>
      {% endif %}
  {% endswitch %}
  {% endfor %}
{% endif %}