{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set contacts = entry.pointOfContact.all() ?? null %}
{% if contacts %}
	<hr/>
	<h4>{{ "Contact"|t }}</h4>
	{% for contact in contacts %}
		{% set contact = contact.contact.one() ?? null %}
		{% if contact %}
			{% set contactEmail = contact.emailAddress ?? contact.staffImportEmail %}
			{% set contactPhone = contact.phoneNumber ?? contact.staffImportPhoneNumber %}
			{% set contactJobTitle = contact.jobTitle ?? contact.staffImportJobTitle %}

			<p>
				<b>{{ contact.title }}</b>
				{% if contactJobTitle %}
					<br>{{ contactJobTitle }}
				{% endif %}
				{% if contact.staffImportOrganization %}
					<br>{{ contact.staffImportOrganization }}
				{% endif %}
			</p>

			{% if contactEmail or contactPhone %}
				<ul class="ul-icons">
					{% if contactEmail %}
						{{ include ("_components/sidebar/elements/_icons/list-item.twig", {
							params: {
								text: contactEmail,
								icon: "envelope",
								url: "mailto:#{contactEmail}"
							}
						}) }}
					{% endif %}
					{% if contactPhone %}
						{{ include ("_components/sidebar/elements/_icons/list-item.twig", {
							params: {
								text: contactPhone,
								icon: "phone",
								url: "tel:#{contactPhone|replace({"-": ""})}"
							}
						}) }}
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
