{% macro card(entry, dark, arrow) %}
  <li>
    <a class="card {{ dark ? 'dark' : '' }}" href="{{ entry.url }}">
      <h4 class="flex justify-between pb-4 {{ dark ? 'text-gray-800' : 'text-green-700' }}"><span>{{ entry.title }}</span> {% if arrow %}<span>&rarr;</span>{% endif %}</h4>
      <div class="text-gray-800 clamp">{{ entry.summary }}</div>
    </a>
  </li>
{% endmacro %}

{% macro relatedSectionCount(entry, relations) %}
  {% set relCount = false %}
  {% for relation in relations %}
    {% set relSectionHandle = relation[0] %}
    {% set relType = relation[1] %}
    {% set isEntries = (relType == "entries") ? true : false %}
    {% set hasRels = isEntries ? craft.entries.section(relSectionHandle).relatedTo(entry) : craft.calendar.events({calendar: relSectionHandle}).relatedTo(entry) %}
    {% set relCount = true %}
    {% return relCount %}
  {% endfor %}
{% endmacro %}

{% macro relatedEntry(entry, relSection) %}
  {% set relSectionHandle = relSection[0] %}
  {% set relType = relSection[1] %}
  {% set isEntries = (relType == "entries") ? true : false %}
  {% set hasRels = isEntries ? craft.entries.section(relSectionHandle).relatedTo(entry) : craft.calendar.events({calendar: relSectionHandle}).relatedTo(entry) %}
  {% if hasRels | length %}
    {% set section = entry.section %}
    {% set relSection = isEntries ? craft.app.sections.getSectionByHandle(relSectionHandle) : craft.calendar.calendar({handle: relSectionHandle}) %}
    {% set urlBase = relSectionHandle | kebab %}
    {% set relUrl = "/" ~ urlBase ~ "/related-to/" ~ section.handle ~ "/" ~ entry.slug %}
    {% include "_partials/_elements/_title-cards" with { title: relSection.name, url: relUrl} %}
  {% endif %}
{% endmacro %}

{% macro dates() %}
  <label class="flex items-center mt-3" for="start_date" style="padding: 0;margin-bottom:0;">From Date</label>
  <input 
    id="start_date" 
    type="month" 
    name="start_date" 
    data-today="{{ now|date('Y-m') }}" 
    min="{{ craft.app.request.getQueryParam('type') == 1 ? now|date('Y-m') : '' }}"
    max="{{ craft.app.request.getQueryParam('end_date') ? craft.app.request.getQueryParam('end_date') : now|date_modify('+1 year')|date('Y-m') }}" 
    value="{{ craft.app.request.getQueryParam('start_date') ?? craft.app.request.getQueryParam('start_date') }}"/>
  <label class="flex items-center mt-3" for="end_date" style="padding: 0;margin-bottom:0;">To Date:</label>

  <input 
    id="end_date" 
    type="month" 
    name="end_date"
    data-today="{{ now|date('Y-m') }}"
    min="{{ craft.app.request.getQueryParam('start_date') ?? craft.app.request.getQueryParam('start_date') }}" 
    max="{{ now|date_modify('+1 year')|date('Y-m') }}" 
    value="{{ craft.app.request.getQueryParam('end_date') ?? craft.app.request.getQueryParam('end_date') }}"/>

  {% js at endBody %}
    var $start_date   = $('input[name="start_date"]');
    var $end_date     = $('input[name="end_date"]');
    var $meeting_type = $('select[name="type"]');

    $start_date.on('change', function(){
      if($end_date.val() && $end_date.val() < $start_date.val()) {
        $end_date.val('');
      }

      $end_date.attr('min', $start_date.val());
    });

    $end_date.on('change', function(){
      if($start_date.val() && $start_date.val() > $end_date.val()) {
        $start_date.val('');
      }

      $start_date.attr('max', $end_date.val());
    });

    $meeting_type.on('change', function(){
      $start_date.val('');
      $end_date.val('');
      switch(parseInt($meeting_type.val())){
        case -1:
          $start_date.attr('min', '');
          $end_date.attr('min', '');
          $start_date.attr('max', $start_date.data('today'));
          $end_date.attr('max', $end_date.data('today'));
          break;
        case 1:
          $start_date.attr('max', '');
          $end_date.attr('max', '');
          $start_date.attr('min', $start_date.data('today'));
          $end_date.attr('min', $end_date.data('today'));
          break;
        default:
          $start_date.attr('max', '');
          $end_date.attr('max', '');
          $start_date.attr('min', '');
          $end_date.attr('min', '');
      }
    });

    switch(parseInt($meeting_type.val())){
      case -1:
        if($start_date.attr('max') && $start_date.attr('max') > $start_date.data('today')){
          $start_date.attr('max', $start_date.data('today'));
        }
        if($end_date.attr('max') && $end_date.attr('max') > $end_date.data('today')){
          $end_date.attr('max', $end_date.data('today'));
        }
        break;
      case 1:
        if($start_date.attr('min') && $start_date.attr('min') < $start_date.data('today')){
          $start_date.attr('min', $start_date.data('today'));
        } else {

        }
        if($end_date.attr('min') && $end_date.attr('min') < $end_date.data('today')){
          $end_date.attr('min', $end_date.data('today'));
        }
        break;
      default:
    }
  {% endjs %}
{% endmacro %}

{% macro select(label, id, name, options, defaultOption) %}
  <label for="{{ id }}">
    {{ label }}
    <select class="shadow-form" name="{{ name }}">
      {% if defaultOption %}
        <option value="">{{ defaultOption }}</option>
      {% endif %}
      {% for option in options %}
        {% for value, key in option %}
          <option value="{{ value }}" {{ craft.app.request.getQueryParam(name) and craft.app.request.getQueryParam(name)  == value  ? 'selected' : ''  }}>{{ key }}</option>
        {% endfor %}
      {% endfor %}
    </select>
  </label>
{% endmacro %}

{% macro textInput(label, id, name, placeholder) %}
  <label for="{{ id }}">
    {{ label }}
    <input class="shadow-form" id="{{ id }}" name="{{ name }}" type="text" placeholder="{{ placeholder }}" value="{{ craft.app.request.getQueryParam(name) ?? craft.app.request.getQueryParam(name) }}">
  </label>
{% endmacro %}

{% macro tableBuilder(object, columns) %}
  <table class="w-full text-sm border border-cool-gray-500">
    <thead>
      <tr>
        {% for col in 1..columns %}
          {% set colAttrib = 'column' ~ col ~ 'Heading' %}
          {% set widthAttrib = 'column' ~ col ~ 'Width' %}
          <th class="px-3 py-1 text-white border bg-cool-gray-500 border-cool-gray-500" style="width: {{ attribute(object, widthAttrib) ~ '%' ?? '' }}">{{ attribute(object, colAttrib) }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in object.table.all() %}
        <tr class="odd:bg-white even:bg-cool-gray-100">
          {% for col in 1..columns %}
            {% set colAttrib = 'column' ~ col ~ 'Cell' %}
            <td class="p-4 align-top border body-text border-cool-gray-500">{{ attribute(row, colAttrib) | retconAttr( '*', { 'class' : 'last:mb-0' }, false ) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro videoEmbed(videoUrl, videoTitle) %}
  {% set splitVideoUrl = videoUrl | split('://')[1] | split('&')[0] %}
  {% if splitVideoUrl starts with 'oakland.granicus.com' %}
    {% set embed = "https://" ~ splitVideoUrl ~ "&starttime=undefined&stoptime=undefined&autostart=0&embed=1" %}
  {% else %}
    {% set embed = craft.videoEmbedder.getEmbedUrl(videoUrl) %}
  {% endif %}
  {% if embed | length %}
    {% if videoTitle %}
      <p class="mt-4 mb-2 font-bold">{{ videoTitle }}</p>
    {% endif %}
    <div class='mb-12 embed-container'>
      <iframe src='{{ embed }}' frameborder='0' allowfullscreen="allowfullscreen"></iframe>
    </div>
  {% else %}
    <p>
      <a href="{{ videoUrl }}" target="_blank">{{ videoTitle }}: ({{ videoUrl }})</a>
    </p>
  {% endif %}
{% endmacro %}