{% include '_partials/_head' %}

  {# Checks if the URI is empty and if not, adds the class of "home" to the page body. #}
  {% if not craft.app.request.segments() %}
    {% set pageClass = "home" %}
  {% endif %}

  {# We’re setting the class to overflow-x-hidden to prevent content from stretching page width on mobile views.#}
  {# Sets the navigation to the nav section entry, "Main Nav" #}
  {% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}
  <body class="overflow-x-hidden font-body {{ pageClass ?? '' }}">
    <div class="page-holder">
      {% include '_partials/_elements/_skip-to-content.twig' %}
      {% include '_partials/_elements/_nav-bar.twig' %}
      <main>
        {% include '_partials/_elements/_sitewide-alert.twig' %}
        {% if category is defined %}
          {% set entry = category %}
        {% endif %}
        <section>
          <div class="bg-transparent-oakland-roots">
            <div class="container" style="padding-top:1rem;padding-bottom:1rem;">
              <div class="breadcrumbs relative flex flex-col items-start py-0 sm:justify-between sm:flex-row-reverse sm:items-center">
                {% include "_partials/_elements/_banner-google-translate.twig" with {paddingTop: "pt-0 mb-4 md:mb-0"} %}
                {% include "_components/partials/_breadcrumbs.twig" %}
              </div>
            </div>
          </div>
          <div id="content" style="position:relative;top:-80px;"></div>
          <div class="container components pt-16">
            <div style="max-width:1152px;">
              <div class="flex flex-col flex-1 lg:flex-row">
                <div class="w-full lg:w-8/11">
                  {% if category is not defined and entry.section.handle == 'meetings' %}
                    <h1>{% if entry.meetingStatus.value and entry.meetingStatus.value !== 'default' %}{{ entry.meetingStatus.label }} - {% endif %}{{ entry.title }}</h1>
                    {% if entry.date %}
                      <div class="lead pt-4">The {{ entry.relatedBoardOrCommission|length ? entry.relatedBoardOrCommission.one().title : 'Commission' }} {{ now|date('Y-m-d') > entry.date|date('Y-m-d') ? 'held its last' : 'will hold its next' }} public meeting on {{ entry.date|date("F j, Y") }}{{ entry.startTime ? " at " ~ entry.startTime|date("g:ia") : "" }}</div>
                    {% endif %}
                  {% else %}
                    <h1>{{ entry.title }}</h1>
                    {% if entry.leadIn or entry.summary %}
                      <div class="lead pt-4">{{ entry.leadIn ? entry.leadIn : entry.summary }}</div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          {% if category is not defined %}
            <div class="container pt-0">
              <div class="flex flex-wrap justify-between -mx-16">
                <div class="w-full lg:w-7/11 px-16">
                  <div class="components components-format">
                    {% block content %}{% endblock %}
                  </div>
                </div>
                <div class="w-full lg:w-4/11 px-16">
                  {% if category is not defined %}
                    {% include '_components/_sidebar.twig' %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          <div id="components-footer" class="components">
            {% if entry.relatedBoardOrCommission|length %}
              {% include '_components/partials/_cards' with {
                background: '#334E68',
                class:      'text-white',
                heading:    "Related Board or Commission",
                entries:    entry.relatedBoardOrCommission.all()
              } %}
            {% endif %}

            {% if entry.componentsFooter %}
              {% for block in entry.componentsFooter.level(1).all() %}
                {% include '_components/_' ~ block.type %}
              {% endfor %}
            {% endif %}
          </div>
        </section>
        {% include '_components/partials/_feedback.twig' %}
      </main>
      {% include '_partials/_elements/_footer.twig' %}
    </div>
    <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine-ie11.min.js" defer></script>
    {{ craft.twigpack.includeJsModule("/js/manifest.js") }}
    {{ craft.twigpack.includeJsModule("/js/vendor.js") }}
    {{ craft.twigpack.includeJsModule("/js/app.js") }}

    {% if entry is defined %}
      {% do craft.viewCount.increment(entry.id) %}
    {% elseif event is defined %}
      {% do craft.viewCount.increment(event.id) %}
    {% elseif category is defined %}
      {% do craft.viewCount.increment(category.id) %}
    {% endif %}

    {% set page = entry ?? null %}
    {% if craft.app.env == "production" %}
      {% for department in craft.entries.section("departments").type("departments").departmentCodeSnippet(":notempty:").all() %}
        {% if page %}
          {% if craft.entries.id(page.id).relatedTo(department) | length or page.id == department.id %}
            <!-- Loading code snippet -->
            {{ department.departmentCodeSnippet | raw }}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
      var section = "{{ section }}";
      var entryTitle = "{{ facetItem }}";
  {% endjs %}
{% endif %}

{% js on ready %}
  $('.components table').each(function(index, element){
    var $table   = $(element);
    var $heads  = $table.find('th');

    $heads.each(function(index, element){
      var $heading      = $(element);

      $table.find('td:nth-of-type(' + (index + 1) + ')').attr('data-label', $heading.text());
    });
  });

  $('.components').addClass('js-initialized');
{% endjs %}

{% js %}
(function() {
  // Observe DOM mutations whether the <html> node was changed by Google Translate
  if (window.MutationObserver) {
    var mutationObserver = new MutationObserver(function(mutations) {
      mutations.forEach(function (mutation) {
        var oldElementClass = mutation.oldValue;
        var currentElementClass = mutation.target.className;
        if (oldElementClass.indexOf('translated-') === -1 && currentElementClass.indexOf('translated-') > -1) {
          dl.push({
            'event' : 'page_translated',
            'translationLanguage' : mutation.target.lang || document.getElementsByTagName('html')[0].getAttribute('xml:lang'),
            'debug_mode'          : true,
          });
        }
    })
  })

    var htmlNode = document.querySelector('html');
    mutationObserver.observe(htmlNode, {
      attributes: true,
      attributeOldValue: true,
      attributeFilter: ['class']
    })
  }
})();
{% endjs %}