{# Checks if the URI is empty and if not, adds the class of "home" to the page body. #}
{% set pageClass = not craft.app.request.segments() ? "home" %}

{% set layout = layout is defined ? layout : "default" %}
{% set flex_class = '' %}
{% set column_one_class = '' %}
{% set column_two_class = '' %}

{% switch layout %}
  {% case 'filter' %}
    {% set flex_class = 'flex-col-reverse lg:flex-row' %}
    {% set column_one_class = 'mt-8 lg:mt-0' %}
    {% set column_two_class = 'mt-0' %}
  {% case 'reverse' %}
    {% set flex_class = 'lg:flex-row-reverse' %}
    {% set column_one_class = '' %}
    {% set column_two_class = 'mt-8 lg:mt-0' %}
  {% default %}
    {% set flex_class = '' %}
    {% set column_one_class = '' %}
    {% set column_two_class = 'mt-8 lg:mt-0' %}
{% endswitch %}

<!DOCTYPE html>
<html lang="en">
  {% include '_partials/_head.twig' %}

  {# We’re setting the class to overflow-x-hidden to prevent content from stretching page width on mobile views.#}
  <body class="font-body {{ pageClass }}">
    {% include '_partials/_elements/_skip-to-content.twig' %}
    {% include '_partials/_elements/_nav-bar.twig' %}
    <div class="page-holder overflow-x-hidden">
      <main class="overflow-x-hidden">
        {% include '_partials/_elements/_sitewide-alert.twig' %}
        {% if category is defined %}
          {% set entry = category %}
        {% endif %}
        <section>
          {% block banner %}
            <div class="bg-transparent-oakland-roots">
              <div class="container py-4">
                {% include "_components/partials/_breadcrumbs.twig" %}
              </div>
            </div>
          {% endblock %}
          <div id="content" class="relative top-[-5rem]"></div>
          <div class="{{ archive is defined and archive == true ? 'bg-blue-900 text-white' : '' }}">
            <div class="container pt-8 md:pt-16 {{ archive is defined and archive == true ? 'md:mb-8' : '' }}">
              <div class="max-w-6xl" style="max-width:1152px;">
                <div class="flex flex-col flex-1 lg:flex-row">
                  <div class="w-full lg:w-8/11">
                    {% block title %}
                      <h1 class="my-0 text-3xl font-bold md:text-4xl">{{ entry.title }}</h1>
                      {% if entry.leadIn or entry.summary %}
                        <div class="mt-4 text-xl leading-8 tw-only">{{ entry.leadIn ? entry.leadIn : entry.summary }}</div>
                      {% endif %}
                      {% if entry.ctaButton | length %}
                        {% include '_components/_button.twig' with {
                          class: 'mt-4',
                          url: entry.ctaButton.url,
                          text: entry.ctaButton.text,
                        } %}
                      {% endif %}
                      {% if entry is defined and entry.id == 34229 %}
                        {% include '_components/_button.twig' with {
                          class: 'mt-4',
                          url: 'https://www.oaklandca.gov/documents/special-vacancy-notices',
                          text: 'View Local Appointments List and Special Vacancy Notices',
                        } %}
                      {% endif %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% block precontent %}
        {% endblock %}
        <section> 
          {% if category is not defined %}
            <div class="container pt-0">
              <div class="max-w-6xl">
                <div class="flex flex-wrap justify-between -mx-8 {{ flex_class }}">
                  <div class="w-full {{ fullwidth is defined and fullwidth == true ? '' : 'lg:w-7/11' }} px-8 {{ column_one_class }}">
                    <div class="components components-format">
                      {% block content %}
                      {% endblock %}
                    </div>
                  </div>
                  <div class="w-full lg:w-4/11 px-8 {{ column_two_class }}">
                    <div id="components-sidebar" class="components components-format">
                      {% block sidebar %}
                        {% if category is not defined %}
                          {% include '_components/_sidebar.twig' %}
                        {% endif %}
                      {% endblock %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div id="components-footer" class="components">
            {% if entry['relatedDepartments'] is defined and entry.relatedDepartments|length %}
              {% include "_components/partials/_cards.twig" with {
                background: "#334E68",
                class:      "text-white",
                heading:    "Related Departments",
                entries:    entry.relatedDepartments.all()
              } %}
            {% endif %}
            {% if entry.componentsFooter %}
              {% for block in entry.componentsFooter.level(1).all() %}
                {% include '_components/_' ~ block.type %}
              {% endfor %}
            {% endif %}
          </div>
        </section>
        {% block prefooter %}
        {% endblock %}
        {% include '_components/partials/_feedback.twig' %}
      </main>
      {% include '_partials/_elements/_footer.twig' %}
    </div>
    {% if entry is defined %}
      {% do craft.viewCount.increment(entry.id) %}
    {% elseif event is defined %}
      {% do craft.viewCount.increment(event.id) %}
    {% elseif category is defined %}
      {% do craft.viewCount.increment(category.id) %}
    {% endif %}

    {% set page = entry ?? null %}
    {% if craft.app.env == "production" %}
      {% for department in craft.entries.section("departments").type("departments").departmentCodeSnippet(":notempty:").all() %}
        {% if page %}
          {% if craft.entries.id(page.id).relatedTo(department) | length or page.id == department.id %}
            <!-- Loading code snippet -->
            {{ department.departmentCodeSnippet | raw }}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
      var section = "{{ section }}";
      var entryTitle = "{{ facetItem }}";
  {% endjs %}
{% endif %}