{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,700&display=swap" rel="stylesheet">
    {% include "_components/partials/_favicons.twig" %}
    {{ craft.vite.script("src/js/app.js", false) }}
  </head>

  <body class="overflow-x-hidden font-body {{ pageClass ?? '' }}">
    <div class="page-holder">
      {% include '_partials/_elements/_skip-to-content.twig' %}
      <header class="px-4 py-3 text-gray-100 fill-current bg-gray-1000">
        <div class="h-9 sm:h-10 w-14 md:h-10 sm:oak-hidden">{{ svg('@webroot/dist/img/logo-oakland-tree.svg') }}</div>
        <div class="w-40 h-10 oak-hidden sm:block">{{ svg('@webroot/dist/img/logo-oakland.svg') }}</div>
      </header>
      <main id="content" style="padding-top:0;">
        <section>
          <div class="bg-transparent-oakland-roots">
            <div class="container" style="padding-top:1rem;padding-bottom:1rem;">
              <div class="relative flex lg:justify-end">
                <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <script>
                  function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                      pageLanguage: 'en',
                      includedLanguages: 'ceb,en,es,hmn,ja,km,ko,mn,tl,vi,zh-TW',
                      layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
                    }, 'google_translate_element');
                  }
                </script>
                <div class="relative z-30 block" id="google_translate_element"></div>
              </div>
            </div>
          </div>
          <div class="container components">
            <div class="max-w-6xl">
              <div class="flex flex-col flex-1 lg:flex-row">
                <div class="w-full lg:w-8/11">
                  {% block pageheader %}
                    <h1>Oaklandca.gov is currently experiencing technical difficulties</h1>
                    <p class="pt-4 lead">We are aware of the issue and working to resolve it.</p>
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bg-gray-100">
          <div class="container">
            <div class="max-w-6xl">
              <div class="flex flex-col flex-1 lg:flex-row">
                <div class="w-full lg:w-8/11">
                  <div class="components components-format">
                    <h2>For Immediate Assistance</h2>
                    <h3>To Report a Problem</h3>
                    <p>To report non-crime related problems such as: illegal dumping, graffiti, potholes, encampments, building maintenance, and urgent infrastructure issues.</p>
                    <ul>
                      <li><a href="tel:311">Call 311</a></li>
                      <li>If you are outside of Oakland, call <a href="tel:+15106155566">(510) 615-5566</a></li>
                    </ul>
                    <h3>To Report a Crime</h3>
                    <p>To report a non-emergency crime or add supplemental information to an existing police report call <a href="tel:+5107773333">(510) 777-3333</a>.</p>
                    <p><b>If this is an emergency please call 9-1-1.</b></p>
                    <h3>To Access City Council Meetings and Agendas</h3>
                    <p>Visit <a href="https://oakland.legistar.com/">oakland.legistar.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="flex items-center justify-between px-4 py-3 text-gray-100 fill-current bg-gray-1000">
        <div>
          <div class="h-9 sm:h-10 w-14 md:h-10 sm:oak-hidden">{{ svg('@webroot/dist/img/logo-oakland-tree.svg') }}</div>
          <div class="w-40 h-10 oak-hidden sm:block">{{ svg('@webroot/dist/img/logo-oakland.svg') }}</div>
        </div>
        <ul class="flex items-center my-0">
            <li class="ml-4">
              <a href="https://www.facebook.com/oakland/" class="flex items-center justify-center w-10 h-10 transition-all duration-75 bg-white rounded-full fill-current text-gray-1000 hover:bg-green-600 hover:text-gray-1000">
                {{ svg('@webroot/dist/img/logo-facebook.svg')|attr({class:'h-5'}) }}
                <span class="sr-only">Oakland Facebook Page</span>
              </a>
            </li>
            <li class="ml-4">
              <a href="https://www.twitter.com/oakland" class="flex items-center justify-center w-10 h-10 transition-all duration-75 bg-white rounded-full fill-current text-gray-1000 hover:bg-green-600 hover:text-gray-1000">
                {{ svg('@webroot/dist/img/logo-twitter.svg')|attr({class:'h-5'}) }}
                <span class="sr-only">Oakland Twitter Page</span>
              </a>
            </li>
            <li class="ml-4">
              <a href="https://www.instagram.com/oakland" class="flex items-center justify-center w-10 h-10 transition-all duration-75 bg-white rounded-full fill-current text-gray-1000 hover:bg-green-600 hover:text-gray-1000">
                {{ svg('@webroot/dist/img/logo-instagram.svg')|attr({class:'h-5'}) }}
                <span class="sr-only">Oakland Instagram Page</span>
              </a>
            </li>
        </ul>
      </footer>
    </div>
  </body>
</html>