{% include '_partials/_head' %}

  {# Checks if the URI is empty and if not, adds the class of "home" to the page body. #}
  {% if not craft.app.request.segments() %}
    {% set pageClass = "home" %}
  {% endif %}

  {# We’re setting the class to overflow-x-hidden to prevent content from stretching page width on mobile views.#}
  {# Sets the navigation to the nav section entry, "Main Nav" #}
  {% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}
  <body class="overflow-x-hidden font-body {{ pageClass ?? '' }}">
    <div class="page-holder">
      {% include '_partials/_elements/_skip-to-content.twig' %}
      {% include '_partials/_elements/_nav-bar.twig' %}
      <main class="overflow-x-hidden">
        {% include '_partials/_elements/_sitewide-alert.twig' %}
        {% if category is defined %}
          {% set entry = category %}
        {% endif %}
        <section>
          <div class="bg-transparent-oakland-roots">
            <div class="container" style="padding-top:1rem;padding-bottom:1rem;">
              <div class="relative flex flex-col items-start py-0 breadcrumbs sm:justify-between sm:flex-row-reverse sm:items-center">
                {% include "_partials/_elements/_banner-google-translate.twig" with {paddingTop: "pt-0 mb-4 md:mb-0"} %}
                {% include "_components/partials/_breadcrumbs.twig" %}
              </div>
            </div>
          </div>
          <div id="content" style="position:relative;top:-80px;"></div>
          <div class="{{ entry.slug == 'meetings-index' ? 'bg-blue-900 text-white' : '' }}">
            <div class="container components pt-8 md:pt-16 {{ entry.slug == 'meetings-index' ? 'md:mb-8' : '' }}">
              <div style="max-width:1152px;">
                <div class="flex flex-col flex-1 lg:flex-row">
                  <div class="w-full lg:w-8/11">
                    {% block title %}
                      <h1>{{ entry.title }}</h1>
                      {% if entry.leadIn or entry.summary %}
                        <div class="pt-4 lead">{{ entry.leadIn ? entry.leadIn : entry.summary }}</div>
                      {% endif %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section> 
          {% if category is not defined %}
            <div class="container pt-0">
              <div style="max-width:1152px;">
                <div class="flex flex-wrap justify-between -mx-8 {{ layout is defined and layout == 'reverse' ? 'flex-col-reverse lg:flex-row' : '' }}">
                  <div class="w-full lg:w-7/11 px-8 {{ layout is defined and layout == 'reverse' ? 'mt-8 lg:mt-0' : '' }}">
                    <div class="components components-format">
                      {% block content %}{% endblock %}
                    </div>
                  </div>
                  <div class="w-full lg:w-4/11 px-8 {{ layout is defined and layout == 'reverse' ? 'mt-0' : 'mt-8 lg:mt-0' }}">
                    <div id="components-sidebar" class="components components-format">
                      {% block sidebar %}
                        {% if category is not defined %}
                          {% include '_components/_sidebar.twig' %}
                        {% endif %}
                      {% endblock %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div id="components-footer" class="components">
            {% if entry['relatedDepartments'] is defined and entry.relatedDepartments|length %}
              {% include '_components/partials/_cards' with {
                background: '#334E68',
                class:      'text-white',
                heading:    "Related Departments",
                entries:    entry.relatedDepartments.all()
              } %}
            {% endif %}
            {% if entry.componentsFooter %}
              {% for block in entry.componentsFooter.level(1).all() %}
                {% include '_components/_' ~ block.type %}
              {% endfor %}
            {% endif %}
          </div>
        </section>
        {% include '_components/partials/_feedback.twig' %}
      </main>
      {% include '_partials/_elements/_footer.twig' %}
    </div>
    {% if entry is defined %}
      {% do craft.viewCount.increment(entry.id) %}
    {% elseif event is defined %}
      {% do craft.viewCount.increment(event.id) %}
    {% elseif category is defined %}
      {% do craft.viewCount.increment(category.id) %}
    {% endif %}

    {% set page = entry ?? null %}
    {% if craft.app.env == "production" %}
      {% for department in craft.entries.section("departments").type("departments").departmentCodeSnippet(":notempty:").all() %}
        {% if page %}
          {% if craft.entries.id(page.id).relatedTo(department) | length or page.id == department.id %}
            <!-- Loading code snippet -->
            {{ department.departmentCodeSnippet | raw }}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
      var section = "{{ section }}";
      var entryTitle = "{{ facetItem }}";
  {% endjs %}
{% endif %}

{% js %}
(function() {
  // Observe DOM mutations whether the <html> node was changed by Google Translate
  if (window.MutationObserver) {
    var mutationObserver = new MutationObserver(function(mutations) {
      mutations.forEach(function (mutation) {
        var oldElementClass = mutation.oldValue;
        var currentElementClass = mutation.target.className;
        if (oldElementClass.indexOf('translated-') === -1 && currentElementClass.indexOf('translated-') > -1) {
          dl.push({
            'event' : 'page_translated',
            'translationLanguage' : mutation.target.lang || document.getElementsByTagName('html')[0].getAttribute('xml:lang'),
            'debug_mode'          : true,
          });
        }
    })
  })

    var htmlNode = document.querySelector('html');
    mutationObserver.observe(htmlNode, {
      attributes: true,
      attributeOldValue: true,
      attributeFilter: ['class']
    })
  }
})();
{% endjs %}