{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    {# Calls in the SEOmatic tags, all handled through the CMS settings #}
    {% hook 'seomaticRender' %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&family=Noto+Serif+Nyiakeng+Puachue+Hmong&display=swap" rel="stylesheet">
    {% include "_components/partials/_favicons.twig" %}
    {% include "_components/partials/_hotjar.twig" %}
    {{ craft.vite.script("src/js/app.js", false) }}
  </head>

  {# Checks if the URI is empty and if not, adds the class of "home" to the page body. #}
  {% if not craft.app.request.segments() %}
    {% set pageClass = "home" %}
  {% endif %}

  {# Sets the navigation to the nav section entry, "Main Nav" #}
  {% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}
  {# We’re setting the class to overflow-x-hidden to prevent content from stretching page width on mobile views.#}
  <body class="font-body {{ pageClass ?? '' }}">
    {% include '_partials/_elements/_nav-bar.twig' %}
    <div class="page-holder overflow-x-hidden">
      {% include '_partials/_elements/_skip-to-content.twig' %}
      <main>
        {% include '_partials/_elements/_sitewide-alert.twig' %}
        {% block content %}
          <div class="container">
            <p>No content has been added to this layout. Please make sure to include the following in your template:</p>
            <pre class="inline-block p-4 text-white whitespace-pre-line bg-gray-800">{% verbatim %}
            {% block content %}
            {% endblock %}{% endverbatim %}</pre>
          </div>
        {% endblock %}
      </main>
      {% include '_partials/_elements/_footer.twig' %}
    </div>

    {% if entry is defined %}
      {% do craft.viewCount.increment(entry.id) %}
    {% elseif event is defined %}
      {% do craft.viewCount.increment(event.id) %}
    {% elseif category is defined %}
      {% do craft.viewCount.increment(category.id) %}
    {% endif %}

    {% set page = entry ?? null %}
    {% if craft.app.env == "production" %}
      {% for department in craft.entries.section("departments").type("departments").departmentCodeSnippet(":notempty:").all() %}
        {% if page %}
          {% if craft.entries.id(page.id).relatedTo(department) | length or page.id == department.id %}
            <!-- Loading code snippet -->
            {{ department.departmentCodeSnippet | raw }}
          {% endif %}
        {% endif %}
      {% endfor %}
      {# Add Hubspot to Production Site #}
      <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/20956996.js"></script>
      <!-- End of HubSpot Embed Code -->
    {% endif %}
  </body>
</html>
{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
  var section = "{{ section }}";
      var entryTitle = "{{ facetItem }}";
  {% endjs %}
{% endif %}