{% set events = craft.calendar.events({calendar: 'events'}) %}
<?xml version="1.0" encoding="UTF-8"?>
<entries>
	{% for event in events %}
		<item>
			<eventId>{{ event.startDate.format("Ymd") ~ event.id  }}</eventId>
			<eventTitle>{{ event.title }}</eventTitle>
			<eventEditUrl>{{ event.cpEditUrl }}</eventEditUrl>
			<eventStartDate>{{ event.startDate.format("F, j Y g:i:a") }}</eventStartDate>
			<eventEndDate>{{ event.endDate.format("F, j Y g:i:a") }}</eventEndDate>
			<eventBody>{{ event.body|escape }}</eventBody>
			{% if event.eventTypes|length %}
				<eventTypes>
					{% for item in event.eventTypes.all() %}
						<item>{{ item.id }}</item>
					{% endfor %}
				</eventTypes>
				{% else %}
				<eventTypes/>
			{% endif %}
			{% if event.eventImage|length %}
				<eventImage>
					{% for item in event.eventImage.all() %}
						<item>{{ item.id }}</item>
					{% endfor %}
				</eventImage>
				{% else %}
				<eventImage/>
			{% endif %}
			{% if event.documents|length %}
				<documents>
					{% for item in event.documents.all() %}
						<item>
							<title>{{ item.title }}</title>
							<id>{{ item.id }}</id>
						</item>
					{% endfor %}
				</documents>
				{% else %}
				<documents/>
			{% endif %}
			<postDate>{{ event.postDate.format('Y/m/d') }}</postDate>
			<authorId>{{ event.author.id }}</authorId>
			{% if event.addresses|length %}
			<addresses>
				{% for location in event.addresses.all() %}
					<item>
						<type>{{ location.type }}</type>
						<enabled>true</enabled>
							<collapsed>false</collapsed>
						<fields>
							<locationName>{{location.locationName}}</locationName>
							{% switch location.type %}
								{% case 'onlineLocation' %}
									<locationDescription>{{ location.locationDescription|escape }}</locationDescription>
									<webAddress>{{ location.webAddress }}</webAddress>
								{% case 'location' %}
									<address>
										{% if location.address %}
											<name>{{ location.address.name }}</name>
											<street1>{{ location.address.street1 }}</street1>
											<street2>{{ location.address.street2 }}</street2>
											<city>{{ location.address.city }}</city>
											<state>{{ location.address.state }}</state>
											<zip>{{ location.address.zip }}</zip>
											<county>{{ location.address.county }}</county>
											<country>{{ location.address.country }}</country>
											<placeId>{{ location.address.placeId }}</placeId>
											<distance>{{ location.address.distance }}</distance>
											<zoom>{{ location.address.zoom }}</zoom>
											<lat>{{ location.address.lat }}</lat>
											<lng>{{ location.address.lng }}</lng>
										{% endif %}
									</address>
								{% default %}
							{% endswitch %}
						</fields>
					</item>
				{% endfor %}
			</addresses>
			{% else %}
			<addresses/>
			{% endif %}

			<relatedPages>
			{% for relationship in ['boardsCommissions', 'departments', 'officials', 'projects', 'topics'] %}
				{% for item in event[relationship].all() %}
					<item>{{ item.id }}</item>
				{% endfor %}
			{% endfor %}
			</relatedPages>
		</item>
	{% endfor %}
</entries>