{% extends '_layout.twig' %}
{% do craft.app.elements.eagerLoadElements(
    className(entry),
    [entry],
    [
      'banner',
      'cityServicesAndResourcesUpdates',
      'highlightedNews',
      'learnMoreAbout',
      'highlightedNews.newsImage'
    ]
) %}
{% set bannerImage = entry.banner[0] ?? "" %}
{% set hlNews = entry.highlightedNews %}
{% set learnMore = entry.learnMoreAbout %}

{% block content %}
<div class="components">
  <section class="bg-image" style="background-image:url({{ bannerImage.url }});background-position:{{ bannerImage.getFocalPoint('asCss') }};">
    <div class="container xl:py-24">
      <div>
        <div class="mt-12 mb-4">
          {% include "_partials/_elements/_banner-google-translate.twig" with { paddingTop: "pt-0" } %}
        </div>
        <div class="max-w-md p-6 bg-white rounded-md shadow">
          <h4 class="text-green-1000 uppercase"><b>{{ entry.heading|raw }}</b></h4>
          <h1 class="text-green-1000 py-4">{{ entry.subheading|raw }}</h1>
          <p><b><a href="{{ entry.href }}">{{ entry.label }}</a></b></p>
        </div>
      </div>
    </div>
  </section>

  <div id="content" style="position:relative;top:-80px;"></div>
  
  {% if entry.cityServicesAndResourcesUpdates|length %}
    {% include '_components/partials/_cards' with {
      background:   '#f7f7f7',
      button_label: 'See all services'|t,
      button_url:   siteUrl ~ '/services',
      content:      entry.cityServicesAndResourcesUpdatesDescription,
      entries:      entry.cityServicesAndResourcesUpdates,
      heading:      "Top City Services and Resources"|t,
      shadow:       true,
    } %}
  {% endif %}

  <section class="bg-white">
    <div class="container py-10">
      <div class="md:flex">
        <div class="md:border-gray-500 md:border-r md:pr-10 md:w-1/2 lg:w-2/3">
          <h2 class="pb-4">{{ "News & Updates"|t }}</h2>
          <div class="mt-5 lg:flex lg:flex-col">
            {% if hlNews | length %}
              {% set featuredNews = hlNews[0] %}
            {% else %}
              {% set featuredNews = craft.entries
                .section('news')
                .featureOnHomepage(true)
                .newsImage(':notempty:')
                .orderBy('postDate desc')
                [0] %}
            {% endif %}
            {% set featuredImage = featuredNews.newsImage[0] ?? "" %}
            <article class="lg:flex lg:flex-row">
              <div class="relative z-0 flex items-center justify-center h-48 p-4 mb-4 bg-gray-300 lg:w-2/5">
                {% if featuredImage | length %}
                  <img class="absolute inset-0 object-cover w-full h-full" src="{{ featuredImage.url }}" alt="{{ featuredImage.title }}">
                {% else %}
                  <div class="w-full h-full px-12 py-6 text-gray-500 opacity-75 fill-current">
                    {{ craft.inlin.er('/assets/img/icon-newspaper.svg') | replace('<svg ', '<svg class="w-32 h-32" ') | raw }}
                  </div>
                {% endif %}
              </div>
              <div class="flex-1 lg:pl-12">
                <date class="small text-gray-500">{{ featuredNews.postDate | date('M j, Y') }}</date>
                <h3 class="py-3"><a href="{{ featuredNews.url }}">{{ featuredNews.title }}</a></h3>
                {{ featuredNews.summary }}
              </div>
            </article>
            {% set featuredNewsId = featuredNews.id ?? '' %}
            {% set otherFeaturedNews = craft.entries.section('news').id('not ' ~ featuredNewsId).featureOnHomepage(true).limit(4).all() %}
            {% if otherFeaturedNews | length %}
              <h3 class="pt-10 pb-4">{{ "More News"|t }}</h3>
            {% endif %}
            {% for entry in otherFeaturedNews %}
              <p class="pb-3"><a href="{{ entry.url }}">{{ entry.title }}</a></p>
            {% endfor %}
          </div>
          <p class="underline pt-3"><a href="{{ siteUrl }}/departments/media-center"><b>{{ "Newsroom"|t }} »</b></a></p>
        </div>
        <div class="flex items-stretch mt-8 md:mt-0 md:border-gray-500 md:border-l md:pl-10 md:w-1/2 lg:w-1/3">
          <div class="block w-full md:oak-hidden"><a class="twitter-timeline" data-height="400px" data-width="100%" href="https://twitter.com/Oakland/lists/official-agencies?ref_src=twsrc%5Etfw">A Twitter List by Oakland</a></div>
          <div class="w-full oak-hidden md:block"><a class="twitter-timeline" data-height="100%" data-width="100%" href="https://twitter.com/Oakland/lists/official-agencies?ref_src=twsrc%5Etfw">A Twitter List by Oakland</a></div><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>

  {# {% if learnMore|length %}
    <section class="bg-gray-100">
      <div class="container py-10">
        <h2 class="pb-4">{{ entry.sectionHeading ? entry.sectionHeading : "Learn More About"|t }}</h2>
        <div class="card-grid md:grid-cols-2">
          {% for link in learnMore %}
            <a href="{{ link.destination.url }}" class="section-box">{{ link.destination.text | raw }}</a>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %} #}

  {% if learnMore|length %}
    {% include '_components/partials/_cards' with {
      background:   '#f7f7f7',
      entries:      learnMore,
      heading:      entry.sectionHeading ? entry.sectionHeading : "Learn More About"|t,
      shadow:       true,
    } %}
  {% endif %}

  <section class="bg-white">
    <div class="container py-10">
      <h2 class="pb-4">{{ "City Officials"|t }}</h2>
      <div class="card-grid grid-equal-height profile-cards">
        {% for entry in craft.entries.section('officials').with(['portrait']).all() %}
          {% set portrait = entry.portrait[0] ?? "" %}
          {% include '_partials/_elements/_profile-cards.twig' with {
            photo: portrait,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? '',
            icon: "user"
          } %}
        {% endfor %}
      </div>
      <p class="underline pt-3"><a href="http://gisapps.mapoakland.com/councildistricts" target="_blank"><b>{{ "Find your council district"|t }} »</b></a></p>
    </div>
  </section>
</div>
{% endblock %}
