{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<a href="{{ file.url }}" class="flex items-center fill-current duration-75">
	<div class="inline-block h-5 w-8">
    {{ svg('@webroot/dist/img/icon-' ~ file.kind ~ '.svg')|attr({
      class: 'w-full h-full'
    })|raw }}
  </div>
	{{ entry.title }}
	({{ file.kind | upper }})
</a>
<span class="mt-0 block pl-8 text-sm">
	<a href="{{ entry.url }}">Permalink</a>
</span>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}