{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<div class="flex {% if day.isBlank %} text-gray-700 {% endif %}">
  <dt class="w-32 font-bold">{{ day.name }}</dt>
</dd>
<dd class="flex-1">
  {% if day.isBlank %}
    Closed
  {% else %}
    {{ day.open | time('short') }}
    -
    {{ day.close | time('short') }}
  {% endif %}
</dd></div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}