<nav aria-label="Mobile Navigation" class="relative flex flex-col h-full p-8 bg-green-1000 bg-transparent-oakland-roots z-60" id="menu" role="navigation">
  <div class="relative z-70">
    <button class="text-sm btn btn-sm" id="close-menu">Close Menu</button>
    <a aria-labelledby="home-link" class="block my-4 text-white duration-75 fill-current hover:text-green-600" href="/">
      {{ svg('@webroot/dist/img/logo-oakland.svg')|attr({
        class: 'h-8'
      })|raw }}
      <span class="oak-hidden">Home</span>
    </a>
    <ul class="flex-1 mt-0 overflow-y-scroll">
      <li>
        <form action="{{ url('search') }}" class="w-full">
          <div class="flex w-full h-full">
            <input aria-label="Mobile Search" class="w-3/4 p-3 mb-0 border rounded-none appearance-none border-gray-1000" id="mobile-search" name="query" placeholder="Search" type="search" value="">
            <button class="flex-1 p-2 btn" type="submit">Go</button>
          </div>
        </form>
      </li>
      {% for nav in mainNav.navBuilder.all() %}
        {% set link = nav.navLink %}
        <li {% if not loop.last %} class="border-b border-white" {% endif %}>
          <a href="{{ link.url }}" {% if link.target | length %} target="{{ link.target }}" {% endif %} class="block py-4 text-white duration-75 hover:text-green-600">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
