<script>
    var container = document.body;
    var dom_observer = new MutationObserver(function(mutation) {
        document.getElementById('mainbar').style.top = container.style.top;
    });
    var config = { attributes: true };
    dom_observer.observe(container, config);

    function clear_languages() {
      var iframe = document.getElementsByClassName('goog-te-banner-frame')[0];
      if(!iframe) return;

      var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
      var restore_el = innerDoc.getElementsByTagName("button");

      for(var i = 0; i < restore_el.length; i++){
        if(restore_el[i].id.indexOf("restore") >= 0) {
          restore_el[i].click();
          var close_el = innerDoc.getElementsByClassName("goog-close-link");
          close_el[0].click();
          return;
        }
      }
    }
</script>

<div id="topbar" class="navbar">
    <div class="flex items-center justify-end lg:justify-between px-0 lg:px-6 bg-green-1000 lg:bg-green-800 text-white relative h-8">
        <p class="hidden lg:block"><b>Official Website for the City of Oakland</b> <span class="mx-1">|</span> <a class="hover:text-green-800 hover:underline" href="{{ siteUrl }}officials/libby-schaaf">Mayor Libby Schaaf</a></p>
        <nav class="flex items-center" id="top-navigation" name="Top Navigation">
            <ul class="flex items-center">
                <li class="hidden lg:block ml-4"><a class="language" href="#googtrans(en|en)" onclick="clear_languages()"><span lang="en" class="notranslate">English</span></a></li>
                <li class="hidden lg:block ml-4"><a class="language" href="#googtrans(en|es)" onclick="location.reload()"><span lang="es" class="notranslate">Español</span></a></li>
                <li class="hidden lg:block ml-4"><a class="language" href="#googtrans(en|zh-TW)" onclick="location.reload()"><span lang="zh-TW" class="notranslate">中文</span></a></li>
                <li class="hidden lg:block ml-4"><a class="language" href="#googtrans(en|vi)" onclick="location.reload()"><span lang="vi" class="notranslate">Tiếng Việt</span></a></li>
            </li>
            <p class="hidden lg:block ml-4">|</p>
            <li id="translate" class="has-submenu click fill-current">
                <a tabindex="0" id="navbar-dropdown-translate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ svg( '@webroot/dist/img/icon-translate.svg')|attr({ class: 'fill-current text-yellow-200 lg:hidden' }) }} {{ "Translate"|t }} {{ svg( '@webroot/dist/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</a>
                <ul class="components grid grid-cols-2 gap-x-6 p-4 lg:p-6 bg-green-800" aria-labelledby="navbar-dropdown-translate">
                    <li><a class="focusable language underline" href="#googtrans(en|ceb)" onclick="location.reload()"><span lang="ceb" class="notranslate">Cebuano</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|km)" onclick="location.reload()"><span lang="km" class="notranslate">ភាសាខ្មែរ</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|zh-TW)" onclick="location.reload()"><span lang="zh-TW" class="notranslate">中文</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|ko)" onclick="location.reload()"><span lang="ko" class="notranslate">한국어</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|en)" onclick="clear_languages()"><span lang="en" class="notranslate">English</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|mn)" onclick="location.reload()"><span lang="mn" class="notranslate">монгол</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|tl)" onclick="location.reload()"><span lang="tl" class="notranslate">Filipino</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|es)" onclick="location.reload()"><span lang="es" class="notranslate">Español</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|hmn)" onclick="location.reload()"><span lang="hmn" class="notranslate">Hmoob</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|vi)" onclick="location.reload()"><span lang="vi" class="notranslate">Tiếng Việt</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|ja)" onclick="location.reload()"><span lang="ja" class="notranslate">日本語</span></a></li>
                    <li><a class="focusable language underline" href="#googtrans(en|ar)" onclick="location.reload()"><span lang="ar" class="notranslate">Arabic</span></a></li>
                </ul>
            </li>
        </nav>
    </div>
</div>
<div id="mainbar" class="navbar">
    <div class="relative">
        <nav id="main-navigation" class="flex items-center justify-between px-4 lg:px-6 bg-gray-1000 text-white relative" name="Main Navigation">
            <a id="home-link" class="flex items-center justify-center py-2 lg:py-2" href="{{ siteUrl }}" name="Home">
                {{ svg( '@webroot/dist/img/logo-oakland-tree.svg')|attr({ class: 'h-9 sm:h-10 w-14 md:h-10 lg:hidden fill-current text-gray-100 hover:text-gray-200' }) }}
                {{ svg( '@webroot/dist/img/logo-oakland.svg')|attr({ class: 'w-40 h-10 hidden lg:block fill-current text-gray-100 hover:text-gray-200' }) }}
                <span class="sr-only">Home</span>
            </a>

            <ul class="flex items-center list-none">
                {% for item in navigation.navigationMain.level(1).all() %}
                    <li class="has-submenu click hidden lg:block">
                        <a tabindex="0" id="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.heading }} {{ svg( '@webroot/dist/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</a>
                        <ul class="components grid md:grid-cols-3 gap-x-6 px-6 pt-2 pb-6 bg-green-800" aria-labelledby="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}">
                            <li class="pt-4 pb-32 relative">
                                <span class="block font-bold leading-tight text-3xl pt-3">{{ item.heading }}</span>
                                {% if item.description %}<p class="pt-2" style="font-size:20px;line-height:1.5">{{ item.description }}</p>{% endif %}
                                {% if item.linkit %}
                                    <a class="button accent" href="{{ item.linkit.url }}">{{ item.linkit.text }}</a>
                                {% endif %}
                            </li>
                            {% set navItems = item.children.all() %}
                            <li>
                                <ul>
                                {% for navItem in navItems|slice(0, navItems|length/2) %}
                                    <li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul>
                                {% for navItem in navItems|slice(navItems|length/2, navItems|length) %}
                                    <li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endfor %}

                <li class="has-submenu click ml-5 flex items-center justify-end lg:justify-center" style="min-width:52px;">
                    <a 
                        tabindex="0" 
                        id="navbar-dropdown-search" 
                        data-toggle="dropdown" 
                        role="button" 
                        aria-label="Open Site Search"
                        aria-haspopup="true" 
                        aria-expanded="false"
                        data-affects="navbar-dropdown-mobile"
                        data-affects-class="disabled"
                    >{{ svg( '@webroot/dist/img/icon-magnifier.svg')|attr({ class: 'fill-current text-gray-900' }) }}{{ svg( '@webroot/dist/img/icon-x.svg')|attr({ class: 'fill-current text-white' }) }}</a>
                    <ul class="components px-4 lg:px-6 pt-2 pb-6 bg-green-800" aria-labelledby="navbar-dropdown-search">
                        <li>
                            <h3 class="pt-6">Search Oakland.ca.gov</h3>
                            <form id="site-search-form" class="mt-4 relative" action="{{ url('search') }}" role="search">
                                <label for="site-search" class="hidden-visually">Search?</label>
                                <input type="search" id="site-search" class="form-control" aria-label="Site Search" name="query" placeholder="Search for keywords" value="">
                                <button aria-label="Site Search Button" type="submit">{{ svg( '@webroot/dist/img/icon-magnifier.svg')|attr({ class: 'fill-current text-gray-900' }) }}</button>
                            </form>
                        </li>
                        <li class="hidden lg:block">
                            <h3 class="pt-6">Popular on Oakland.ca.gov</h3>
                            <ul class="list-none grid md:grid-cols-3 gap-x-6 pt-4">
                                {% for navItem in navigation.linkits.all() %}
                                    <li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav id="mobile-navigation" class="bg-green-800 text-white lg:hidden" name="Mobile Navigation">
            <a tabindex="0" id="navbar-dropdown-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ svg( '@webroot/dist/img/icon-menu.svg')|attr({ class: 'fill-current text-white' }) }}
                {{ svg( '@webroot/dist/img/icon-x.svg')|attr({ class: 'fill-current text-white' }) }}
                <span class="sr-only">Mobile Menu</span>
            </a>
            <ul aria-labelledby="navbar-dropdown-mobile" class="px-4 py-2">
                {% for item in navigation.navigationMain.level(1).all() %}
                    {% if item.toggle %}
                        {% if item.linkit %}
                            <li class="border-green-600 border-b"><a class="focusable" href="{{ item.linkit.url }}">{{ item.heading }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="has-submenu click border-green-600 border-b">
                            <a 
                                tabindex="0" 
                                id="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}" 
                                role="button" 
                                aria-haspopup="true" 
                                aria-expanded="false" 
                                data-parent="#navbar-dropdown-mobile" 
                                data-toggle="dropdown" 
                                class="focusable"
                            >{{ item.heading }} <span>{{ svg( '@webroot/dist/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</span></a>
                            <ul class="components" aria-labelledby="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}">
                                {% set navItems = item.children.all() %}
                                {% for navItem in navItems %}
                                    <li><a class="block focusable p-4 border-green-600 bg-green-900 border-t" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
                                {% endfor %}
                                {% if item.linkit %}
                                    <li><a class="block focusable p-4 border-green-600 bg-yellow-500 text-gray-1000 border-t" href="{{ item.linkit.url }}" style="color:#222222">{{ item.linkit.text }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
