{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% macro mainLang(name, lang, onClick) %}
	<li class="ml-4 oak-hidden lg:block">
		<a
			class="language"
			href="#googtrans(en|{{ lang }})"
			onclick="{{ onClick|default("location.reload()") }}"
		>
			<span
				lang="{{ lang }}"
				class="notranslate"
			>
				{{ name }}
			</span>
		</a>
	</li>
{% endmacro %}
{% macro langDrop(name, lang, onClick) %}
	<li>
		<a
			class="underline focusable language"
			href="#googtrans(en|{{ lang }})"
			onclick="{{ onClick|default("location.reload()") }}"
		>
			<span
				lang="{{ lang }}"
				class="notranslate"
			>
				{{ name }}
			</span>
		</a>
	</li>
{% endmacro %}

{% import _self as macros %}

<script>
	var container = document.body;
	var dom_observer = new MutationObserver(function(mutation) {
		document.getElementById('mainbar').style.top = container.style.top;
	});
	var config = { attributes: true };
	dom_observer.observe(container, config);

	function clear_languages() {
		var iframe = document.getElementsByClassName('goog-te-banner-frame')[0];
		if(!iframe) return;

		var innerDoc = iframe.contentDocument || iframe.contentWindow.document;
		var restore_el = innerDoc.getElementsByTagName("button");

		for(var i = 0; i < restore_el.length; i++){
			if(restore_el[i].id.indexOf("restore") >= 0) {
				restore_el[i].click();
				var close_el = innerDoc.getElementsByClassName("goog-close-link");
				close_el[0].click();
				return;
			}
		}
	}
</script>

<div id="topbar" class="navbar">
	<div class="relative flex h-8 items-center justify-end px-0 text-white lg:justify-between lg:px-6 bg-green-1000 lg:bg-green-800">
		<p class="oak-hidden lg:block"><b>Official Website for the City of Oakland</b> <span class="mx-1">|</span> <a class="hover:text-green-800 hover:underline" href="{{ siteUrl }}officials/sheng-thao">Mayor Sheng Thao</a></p>
		<nav class="flex items-center" id="top-navigation" name="Top Navigation">
			<ul class="flex items-center">
				{{ macros.mainLang("English", "en", "clear_languages()") }}{# English | https://en.wikipedia.org/wiki/English_language #}
				{{ macros.mainLang("Español", "es") }} {# Spanish | https://en.wikipedia.org/wiki/Spanish_language #}
				{{ macros.mainLang("中文", "zh-TW") }} {# Chinese (Simplified) | https://en.wikipedia.org/wiki/Simplified_Chinese_characters #}
				{{ macros.mainLang("Tiếng Việt", "vi") }} {# Vietnamese | https://en.wikipedia.org/wiki/Vietnamese_language #}
				<p class="ml-4 oak-hidden lg:block">|</p>
				<li id="translate" class="fill-current has-submenu click">
					<a tabindex="0" id="navbar-dropdown-translate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ svg("@webroot/dist/img/icon-translate.svg")|attr({ class: 'fill-current text-yellow-200 lg:oak-hidden' }) }} {{ "Translate"|t }} {{ svg("@webroot/dist/img/icon-arrow.svg")|attr({ class: 'fill-current' }) }}</a>
					<ul class="grid grid-cols-2 gap-x-6 bg-green-800 p-4 components lg:p-6" aria-labelledby="navbar-dropdown-translate">
						{{ macros.langDrop("اَلْعَرَبِيَّةُ", "ar") }} {# Arabic | https://en.wikipedia.org/wiki/Arabic #}
						{{ macros.langDrop("Hmoob", "hmn") }} {# Hmong | https://en.wikipedia.org/wiki/Hmong_language #}
						{{ macros.langDrop("Cebuano", "ceb") }} {# Cebuano | https://en.wikipedia.org/wiki/Cebuano_language #}
						{{ macros.langDrop("日本語", "ja") }} {# Japanese | https://en.wikipedia.org/wiki/Japanese_language #}
						{{ macros.langDrop("ភាសាខ្មែរ", "km") }} {# Khmer | https://en.wikipedia.org/wiki/Khmer_language #}
						{{ macros.langDrop("中文", "zh-TW") }} {# Chinese (Simplified) | https://en.wikipedia.org/wiki/Simplified_Chinese_characters #}
						{{ macros.langDrop("汉语", "zh-CN") }} {# Chinese (Traditional) | https://en.wikipedia.org/wiki/Traditional_Chinese_characters #}
						{{ macros.langDrop("한국어", "ko") }} {# Korean | https://en.wikipedia.org/wiki/Korean_language #}
						{{ macros.langDrop("English", "en", "clear_languages()") }} {# English | https://en.wikipedia.org/wiki/English_language #}
						{{ macros.langDrop("монгол", "mn") }} {# Mongolian | https://en.wikipedia.org/wiki/Mongolian_language #}
						{{ macros.langDrop("Filipino", "tl") }} {# Filipino/Tagalog | https://en.wikipedia.org/wiki/Filipino_language #}
						{{ macros.langDrop("Español", "es") }} {# Spanish | https://en.wikipedia.org/wiki/Spanish_language #}
						{{ macros.langDrop("Tiếng Việt", "vi") }} {# Vietnamese | https://en.wikipedia.org/wiki/Vietnamese_language #}
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div id="mainbar" class="navbar">
	<div class="relative">
		<nav id="main-navigation" class="relative flex items-center justify-between px-4 text-white lg:px-6 bg-gray-1000" name="Main Navigation">
			<a id="home-link" class="flex items-center justify-center py-2 lg:py-2" href="{{ siteUrl }}" name="Home">
				{{ svg("@webroot/dist/img/logo-oakland-tree.svg")|attr({ class: 'h-9 sm:h-10 w-14 md:h-10 lg:oak-hidden fill-current text-gray-100 hover:text-gray-200' }) }}
				{{ svg("@webroot/dist/img/logo-oakland.svg")|attr({ class: 'w-40 h-10 oak-hidden lg:block fill-current text-gray-100 hover:text-gray-200' }) }}
				<span class="sr-only">Home</span>
			</a>

			<ul class="flex list-none items-center">
				{% for item in navigation.navigationMain.level(1).all() %}
					<li class="has-submenu click oak-hidden lg:block">
						<a tabindex="0" id="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.heading }} {{ svg("@webroot/dist/img/icon-arrow.svg")|attr({ class: 'fill-current' }) }}</a>
						<ul class="grid gap-x-6 bg-green-800 px-6 pt-2 pb-6 components md:grid-cols-3" aria-labelledby="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}">
							<li class="relative pt-4 pb-32">
								<span class="block pt-3 text-3xl font-bold leading-tight">{{ item.heading }}</span>
								{% if item.description %}<p class="pt-2" style="font-size:20px;line-height:1.5">{{ item.description }}</p>{% endif %}
								{% if item.linkit %}
									<a class="button accent" href="{{ item.linkit.url }}">{{ item.linkit.text }}</a>
								{% endif %}
							</li>
							{% set navItems = item.children.all() %}
							<li>
								<ul>
									{% for navItem in navItems|slice(0, navItems|length/2) %}
										<li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<ul>
									{% for navItem in navItems|slice(navItems|length/2, navItems|length) %}
										<li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</li>
				{% endfor %}

				<li class="ml-5 flex items-center justify-end has-submenu click lg:justify-center" style="min-width:52px;">
					<a
						tabindex="0"
						id="navbar-dropdown-search"
						data-toggle="dropdown"
						role="button"
						aria-label="Open Site Search"
						aria-haspopup="true"
						aria-expanded="false"
						data-affects="navbar-dropdown-mobile"
						data-affects-class="disabled"
					>
						{{ svg("@webroot/dist/img/icon-magnifier.svg")|attr({ class: 'fill-current text-gray-900' }) }}
						{{ svg("@webroot/dist/img/icon-x.svg")|attr({ class: 'fill-current text-white' }) }}
					</a>
					<ul class="bg-green-800 px-4 pt-2 pb-6 components lg:px-6" aria-labelledby="navbar-dropdown-search">
						<li>
							<h3 class="pt-6">Search oaklandca.gov</h3>
							<form id="site-search-form" class="relative mt-4" action="{{ url('search') }}" role="search">
								<label for="site-search" class="hidden-visually">Search?</label>
								<input type="search" id="site-search" class="form-control" aria-label="Site Search" name="query" placeholder="Search for keywords" value="">
								<button aria-label="Site Search Button" type="submit">{{ svg("@webroot/dist/img/icon-magnifier.svg")|attr({ class: 'fill-current text-gray-900' }) }}</button>
							</form>
						</li>
						<li class="oak-hidden lg:block">
							<h3 class="pt-6">Popular on oaklandca.gov</h3>
							<ul class="grid list-none gap-x-6 pt-4 md:grid-cols-3">
								{% for navItem in navigation.linkits.all() %}
									<li><a class="card {{ navItem.styleCard }}" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<nav id="mobile-navigation" class="bg-green-800 text-white lg:oak-hidden" name="Mobile Navigation">
			<a tabindex="0" id="navbar-dropdown-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				{{ svg("@webroot/dist/img/icon-menu.svg")|attr({ class: 'fill-current text-white' }) }}
				{{ svg("@webroot/dist/img/icon-x.svg")|attr({ class: 'fill-current text-white' }) }}
				<span class="sr-only">Mobile Menu</span>
			</a>
			<ul aria-labelledby="navbar-dropdown-mobile" class="px-4 py-2">
				{% for item in navigation.navigationMain.level(1).all() %}
					{% if item.toggle %}
						{% if item.linkit %}
							<li class="border-b border-green-600"><a class="focusable" href="{{ item.linkit.url }}">{{ item.heading }}</a></li>
						{% endif %}
					{% else %}
						<li class="border-b border-green-600 has-submenu click">
							<a
								tabindex="0"
								id="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}"
								role="button"
								aria-haspopup="true"
								aria-expanded="false"
								data-parent="#navbar-dropdown-mobile"
								data-toggle="dropdown"
								class="focusable"
							>{{ item.heading }} <span>{{ svg("@webroot/dist/img/icon-arrow.svg")|attr({ class: 'fill-current' }) }}</span></a>
							<ul class="components" aria-labelledby="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}">
								{% set navItems = item.children.all() %}
								{% for navItem in navItems %}
									<li><a class="block border-t border-green-600 bg-green-900 p-4 focusable" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
								{% endfor %}
								{% if item.linkit %}
									<li><a class="block border-t border-green-600 bg-yellow-500 p-4 focusable text-gray-1000" href="{{ item.linkit.url }}" style="color:#222222">{{ item.linkit.text }}</a></li>
								{% endif %}
							</ul>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
