{% import '_macros/_macros.twig' as macros %}

<style>
    .has-submenu > ul ul {
        padding-left: 0;
    }

    .has-submenu .button {
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        bottom: 0;
    }

    .has-submenu .card h4 {
        padding-top: 0.5rem;
    }

    .has-submenu .card.dark {
        margin-bottom: 4px;
    }

    input[type="search"].form-control {
        background: #F7F7F7;
        color: #3b3b3b;
        font-size: 16px;
        padding: 14px;
        width: 100%;
    }

    input[type="search"].form-control::placeholder {
        color: #6B7280;
    }

    #navbar-dropdown-search {
        background: #f7c948;
        border-radius: 50%;
        padding: 0;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    #navbar-dropdown-search > svg {
        height: auto;
        width: auto;
        margin-left: -1px;
        transform: none;
    }

    #navbar-dropdown-search > svg:last-of-type {
        display: none;
    }

    .has-submenu.click.open > #navbar-dropdown-search,
    .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
        background: #207127;
        border-radius: 0;
        height: 52px;
    }

    @media(min-width: 1024px) {
        .has-submenu.click.open > #navbar-dropdown-search,
        .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] {
            background: #207127;
            border-radius: 0;
            height: 60px;
        }        
    }

    .has-submenu.click.open > #navbar-dropdown-search > svg:first-of-type,
    .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:first-of-type {
        display: none;
    }

    .has-submenu.click.open > #navbar-dropdown-search > svg:last-of-type,
    .has-submenu.click > #navbar-dropdown-search[aria-expanded="true"] > svg:last-of-type {
        display: block;
    }

    #main-navigation {
        padding-left: 68px;
    }

    @media(min-width: 1024px) {
        #main-navigation {
            margin-left: 0;
        }        
    }

    #mobile-navigation > a {
        background: #207127;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 52px;
        width: 52px;
    }

    #mobile-navigation > a > svg:first-of-type {
        width: 30px;
    }

    #mobile-navigation > a > svg:last-of-type {
        display: none;
    }

    #mobile-navigation > a[aria-expanded="true"] > svg:first-of-type {
        display: none;
    }

    #mobile-navigation > a[aria-expanded="true"] > svg:last-of-type {
        display: block;
    }

    #mobile-navigation > ul > li > a {
        background: #207127;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        padding: 15.5px 0;
    }

    #mobile-navigation .has-submenu > ul {
        position: static;
    }

    #mobile-navigation .has-submenu > ul::after,
    #mobile-navigation .has-submenu > ul::before {
        display: none;
    }

    #mobile-navigation .has-submenu > a + ul,
    #mobile-navigation .has-submenu > ul {
      display: none;
    }

    #mobile-navigation .has-submenu > a[aria-expanded="true"] + ul,
    #mobile-navigation .has-submenu:not(.click):hover > ul,
    #mobile-navigation .has-submenu.open > ul {
      display: block;
    }

    #mobile-navigation .has-submenu > ul > li > a {
        font-size: 14px;
        font-weight: bold;
    }

    #navbar-dropdown-mobile + ul {
        display: none;
    }

    #navbar-dropdown-mobile[aria-expanded="true"] + ul {
        display: block;
    }

    #site-search-form > button {
        background: #f7c948;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 52px;
    }

    #topbar {
        position: relative;
    }

    #topbar li,
    #topbar p {
        font-size: 12px;
        list-style: none;
    }

    #topbar p,
    #topbar ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    #topbar a:not(.button) {
        color: white;
    }

    #topbar #top-navigation a:hover,
    #topbar #top-navigation a:focus {
        text-decoration: underline;
    }

    #translate > a {
        font-weight: normal;
        font-size: 12px;
        line-height: 1.5;
        padding: 12px 8px;
    }

    #translate > ul {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    @media(min-width: 1024px) {
        #translate > ul {
            right: 0;
            left: auto;
            width: 375px;
        }        
    }

    #translate > ul::before,
    #translate > ul::after {
        display: none;
    }

    #translate > ul > li {
        font-size: 14px;
        margin: 2.5px 0;
    }
</style>

<div id="topbar">
    <div class="flex items-center justify-end lg:justify-between px-4 lg:px-6 bg-gray-900 text-white relative">
        <p class="hidden lg:block"><b>Official Website for the City of Oakland</b> | <a class="hover:text-green-800" href="{{ siteUrl }}officials/libby-schaaf">Mayor Libby Schaaf</a></p>
        <nav class="flex items-center" id="top-navigation" name="Top Navigation" role="navigation">
            <ul class="flex items-center">
                {% for item in navigation.navigationTop.level(1).all() %}
                    <li class="hidden lg:block ml-4"><a href="{{ item.linkit.url }}">{{ item.linkit.text }}</a></li>
                {% endfor %}
            </li>
            <p class="hidden lg:block mx-4">|</p>
            <li id="translate" class="has-submenu click">
                <a tabindex="0" id="navbar-dropdown-translate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ "Translate"|t }} {{ svg( '@webroot/assets/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</a>
                {% set translation_url = 'https://www-oaklandca-gov.translate.goog' ~ craft.app.request.url %}
                <ul class="components grid md:grid-cols-2 gap-x-6 p-6 bg-green-800" aria-labelledby="navbar-dropdown-translate">
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=ceb&_x_tr_hl=en&_x_tr_pto=wapp">Cebuanon</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=zh-TW&_x_tr_hl=en&_x_tr_pto=wapp">Chinese (Traditional)</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=tl&_x_tr_hl=en&_x_tr_pto=wapp">Filipino</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=hmn&_x_tr_hl=en&_x_tr_pto=wapp">Hmong</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=ja&_x_tr_hl=en&_x_tr_pto=wapp">Japanese</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=km&_x_tr_hl=en&_x_tr_pto=wapp">Khmer</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=ko&_x_tr_hl=en&_x_tr_pto=wapp">Korean</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=mn&_x_tr_hl=en&_x_tr_pto=wapp">Mongolian</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp">Spanish</a></li>
                    <li><a class="focusable" href="{{ translation_url }}?_x_tr_sl=auto&_x_tr_tl=vi&_x_tr_hl=en&_x_tr_pto=wapp">Vietnamese</a></li>
                </ul>
            </li>
        </nav>
    </div>

    <div class="relative">
        <nav id="main-navigation" class="flex items-center justify-between px-4 lg:px-6 bg-gray-1000 text-white relative" name="Main Navigation" role="navigation">
            <a id="home-link" class="flex items-center justify-center py-2 lg:py-2" href="{{ siteUrl }}" name="Home">
                {{ svg( '@webroot/assets/img/logo-oakland-tree.svg')|attr({ class: 'h-9 sm:h-10 w-14 md:h-10 lg:hidden fill-current text-gray-100 hover:text-gray-200' }) }}
                {{ svg( '@webroot/assets/img/logo-oakland.svg')|attr({ class: 'w-40 h-10 hidden lg:block fill-current text-gray-100 hover:text-gray-200' }) }}
                <span class="sr-only">Home</span>
            </a>

            <ul class="flex items-center list-none">
                {% for item in navigation.navigationMain.level(1).all() %}
                    <li class="has-submenu hidden lg:block">
                        <a tabindex="0" id="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.heading }} {{ svg( '@webroot/assets/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</a>
                        <ul class="components grid md:grid-cols-3 gap-x-6 px-6 pt-2 pb-6 bg-green-800" aria-labelledby="navbar-dropdown-{{ item.heading|replace({' ': '-'})|lower }}">
                            <li class="pt-4 pb-32 relative">
                                <h2 class="pt-3">{{ item.heading }}</h2>
                                {% if item.linkit %}
                                    <a class="button accent" href="{{ item.linkit.url }}">{{ item.linkit.text }}</a>
                                {% endif %}
                            </li>
                            {% set navItems = item.children.all() %}
                            <li>
                                <ul>
                                {% for navItem in navItems|slice(0, navItems|length/2) %}
                                    <li>{{ macros.cardManual(navItem.linkit.url, navItem.linkit.text, navItem.linkit.element ? (navItem.linkit.element.summary) , (navItem.styleCard == 'dark' ? true : false), false) }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <ul>
                                {% for navItem in navItems|slice(navItems|length/2, navItems|length) %}
                                    <li>{{ macros.cardManual(navItem.linkit.url, navItem.linkit.text, navItem.linkit.element ? (navItem.linkit.element.summary) , (navItem.styleCard == 'dark' ? true : false), false) }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endfor %}

                <li class="has-submenu click">
                    <a tabindex="0" id="navbar-dropdown-search" class="ml-5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ svg( '@webroot/assets/img/icon-magnifier.svg')|attr({ class: 'fill-current text-gray-900' }) }}{{ svg( '@webroot/assets/img/icon-x.svg')|attr({ class: 'fill-current text-white' }) }}</a>
                    <ul class="components px-4 lg:px-6 pt-2 pb-6 bg-green-800" aria-labelledby="navbar-dropdown-search">
                        <li>
                            <h3 class="pt-6">Search Oakland.ca.gov</h3>
                            <form id="site-search-form" class="mt-4 relative" action="{{ url('search') }}" role="search">
                                <label for="site-search" class="hidden-visually">Search?</label>
                                <input type="search" id="site-search" class="form-control" aria-label="Site Search" name="query" placeholder="Search for keywords" value="">
                                <button>{{ svg( '@webroot/assets/img/icon-magnifier.svg')|attr({ class: 'fill-current text-gray-900' }) }}</button>
                            </form>
                        </li>
                        <li class="hidden lg:block">
                            <h3 class="pt-6">Popular on Oakland.ca.gov</h3>
                            <ul class="list-none grid md:grid-cols-3 gap-x-6 pt-4">
                                {% for navItem in navigation.linkits.all() %}
                                    <li>{{ macros.cardManual(navItem.linkit.url, navItem.linkit.text, navItem.linkit.element ? (navItem.linkit.element.summary) , (navItem.styleCard == 'dark' ? true : false), false) }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav id="mobile-navigation" class="bg-green-800 text-white lg:hidden" name="Mobile Navigation" role="navigation">
            <a tabindex="0" id="navbar-dropdown-mobile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ svg( '@webroot/assets/img/icon-menu.svg')|attr({ class: 'fill-current text-white' }) }}
                {{ svg( '@webroot/assets/img/icon-x.svg')|attr({ class: 'fill-current text-white' }) }}
                <span class="sr-only">Mobile Menu</span>
            </a>
            <ul aria-labelledby="navbar-dropdown-mobile" class="px-4 py-2">
                {% for item in navigation.navigationMain.level(1).all() %}
                    <li class="has-submenu click border-green-600 border-b">
                        <a tabindex="0" id="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-parent="#navbar-dropdown-mobile" class="focusable">{{ item.heading }} {{ svg( '@webroot/assets/img/icon-arrow.svg')|attr({ class: 'fill-current' }) }}</a>
                        <ul class="components" aria-labelledby="navbar-dropdown-mobile-{{ item.heading|replace({' ': '-'})|lower }}">
                            {% set navItems = item.children.all() %}
                            {% for navItem in navItems %}
                                <li><a class="focusable block p-4 border-green-600 bg-green-900 border-t" href="{{ navItem.linkit.url }}">{{ navItem.linkit.text }}</a></li>
                            {% endfor %}
                            {% if item.linkit %}
                                <li><a class="focusable block p-4 border-green-600 bg-yellow-500 text-gray-1000 border-t" href="{{ item.linkit.url }}" style="color:#222222">{{ item.linkit.text }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
                {% for item in navigation.navigationTop.level(1).all() %}
                    <li class="border-green-600 border-b">
                        <a class="focusable" href="{{ item.linkit.url }}">{{ item.linkit.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

{% js on load %}
    $('#site-search-form').on('submit', function(){
        var search_term = $('#site-search').val();

        dl.push({
            'event'                 : 'site_search_clicked',
            'current_url'           : '{{ craft.app.request.absoluteUrl }}',
            'input_search_term'     : search_term,
            'debug_mode'            : true,
        });
    });

    $('#nav-wrapper a').on('click', function(){
        var link_clicked    = $(this).attr('href').trim();
        var link_label      = $(this).text().trim().replace(/(\r\n|\n|\r)/gm, "");

        dl.push({
            'event'         : 'topnav_clicked',
            'current_url'   : '{{ craft.app.request.absoluteUrl }}',
            'url'           : link_clicked,
            'label'         : link_label,
            'debug_mode'    : true,
        });
    });

    $('.subnav-toggler').on('click', function(){
        $(this).parent().siblings('.subnav').toggle('state-active');
    });
{% endjs %}
