{% set mainNav = [
	{ title: "News",          url: siteUrl ~ "departments/media-center" },
	{ title: "Services",      url: siteUrl ~ "services" },
	{ title: "Departments",   url: siteUrl ~ "departments" },
	{ title: "Meetings",      url: siteUrl ~ "meetings" },
	{ title: "City Council",  url: siteUrl ~ "departments/oakland-city-council" }
] %}

{% import '_macros/_macros.twig' as macros %}

<div id="nav-wrapper" class="fixed z-40 w-full" role="navigation">
		<div id="nav-bar" x-data="{ openNav: false }" class="relative z-50 block w-full transition-all duration-75 nav-bar">
				<div class="relative z-40 flex items-center justify-center bg-gray-1000">
						<button id="mobile-menu" x-on:click="openNav = true" class="flex items-center justify-center w-16 -my-3 text-gray-900 bg-green-500 fill-current lg:-my-5 touch-action-none lg:oak-hidden hover:bg-green-700 hover:text-gray-1000">
								<span class="sr-only">Menu</span>
								{{ craft.inlin.er('/dist/img/icon-menu.svg') | replace('<svg ', '<svg class="h-9 md:h-10 xl:oak-hidden" ') | raw }}
						</button>
						<nav id="main-navigation" class="flex items-stretch justify-between w-full py-3 lg:py-5" aria-label="Main">
								<a id="home-link" class="flex items-center justify-center h-full px-2 text-gray-100 duration-75 fill-current hover:text-gray-200" href="{{ siteUrl('') }}" name="Home">
										{{ craft.inlin.er('/dist/img/logo-oakland-tree.svg') | replace('<svg ', '<svg class="h-9 sm:h-10 w-14 md:h-10 sm:oak-hidden" ') | raw }}
										{{ craft.inlin.er('/dist/img/logo-oakland.svg') | replace('<svg ', '<svg class="w-40 h-10 oak-hidden sm:block" ') | raw }}
										<span class="hidden-visually">Home</span>
								</a>
								<form id="site-search-form" class="relative z-0 flex justify-end flex-1 pl-4 pr-6 lg:pr-0" action="{{ url('search') }}" role="search">
										<label for="site-search" class="hidden-visually">Search?</label>
										<input type="search" id="site-search" class="z-10 w-full pl-10 pr-6 mb-0 text-sm leading-normal text-gray-100 placeholder-gray-200 bg-gray-900 border-2 border-gray-800 rounded appearance-none search-box h-9 md:h-10 md:text-base" aria-label="Site Search" name="query" placeholder="Search" value="">
								</form>
								<ul class="pr-6 mr-6 text-xs tracking-wide border-r border-gray-700 lg:ml-3 lg:flex oak-hidden lg:my-0 lg:justify-end lg:items-center xl:text-sm">
										{% for nav in mainNav %}
												{% if nav.title == "Services" %}
														<li class="has-submenu">
																<a tabindex="0" class="px-2 py-3 font-bold text-gray-100 uppercase" id="navbar-dropdown-{{ nav.title|kebab }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.title }} {{ svg( '@webroot/dist/img/icon-arrow.svg') }}</a>
																{% set navSubitems = craft.categories
																		.group("serviceTypes")
																		.limit(10)
																		.level(1)
																		.orderBy("lft ASC")
																		.all()
																%}
																{% set reportProblem = craft.categories.group("serviceTypes").slug("report-a-problem").one() %}
																{% set applyPermit = craft.categories.group("serviceTypes").slug("apply-for-a-permit").one() %}
																<ul class="grid gap-3 bg-green-800 components md:grid-cols-3" aria-labelledby="navbar-dropdown-{{ nav.title|kebab }}">
																		{% nav subitem in navSubitems %}
																				{{ macros.card(subitem, false, false) }}
																		{% endnav %}
																		{% if reportProblem %}
																				{{ macros.card(reportProblem, true, true) }}
																		{% endif %}
																		{% if applyPermit %}
																				{{ macros.card(applyPermit, true, true) }}
																		{% endif %}
																</ul>
														</li>
												{% else %}
														<li><a href="{{ nav.url }}" class="px-2 py-3 font-bold text-gray-100 uppercase duration-75 hover:text-gray-200 hover:underline">{{ nav.title }}</a></li>
												{% endif %}
										{% endfor %}
								</ul>
								<div class="pr-2 lg:items-center oak-hidden lg:flex">
										<a href="/officials/libby-schaaf" class="flex items-center text-xs text-gray-100 hover:text-gray-200" title="View the homepage of Libby Schaaf, The Mayor of the City of Oakland">
												<div class="mx-2 leading-tight text-right oak-hidden xl:block">
														<div><span class="font-bold">{{"Mayor"|t}}</span></div>
														<div>{{"Libby Schaaf"|t}}</div>
												</div>
												<img src="https://city-of-oakland.imgix.net/portraits/oakland_mayor_libby_schaaf_city_of_oakland-1519844049-5198.jpg?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=64&amp;q=80&amp;w=64" sizes="100vw" srcset="https://city-of-oakland.imgix.net/portraits/oakland_mayor_libby_schaaf_city_of_oakland-1519844049-5198.jpg?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=128&amp;q=80&amp;w=128 128w, https://city-of-oakland.imgix.net/portraits/oakland_mayor_libby_schaaf_city_of_oakland-1519844049-5198.jpg?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=64&amp;q=80&amp;w=64 64w" alt="Portrait of Mayor, Libby Schaaf" class="block w-10 h-10 border-2 border-gray-800 rounded-full">
										</a>
										<a href="/services/oak311" class="flex ml-2" title="Report a problem online to OAK 311">
												<img src="https://city-of-oakland.imgix.net/news/311-Logo.png?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=64&amp;q=80&amp;w=64" sizes="100vw" srcset="https://city-of-oakland.imgix.net/news/311-Logo.png?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=128&amp;q=80&amp;w=128 128w, https://city-of-oakland.imgix.net/news/311-Logo.png?auto=compress%2Cformat&amp;crop=focalpoint&amp;fit=min&amp;fp-x=0.5&amp;fp-y=0.5&amp;h=64&amp;q=80&amp;w=64 64w" alt="OAK 311 Logo" class="block w-10 h-10 border-2 border-gray-800 rounded-full">
												<span style="display:none;">{{"Oak 311"|t}}</span>
										</a>
								</div>
						</nav>
				</div>
				{# BEGIN MOBILE NAV #}
				<div
						class="relative z-30 py-0 bg-gray-1000"
						x-show="openNav"
						x-cloak
						x-on:click.away="openNav = false" 
						x-transition:enter="transition ease-out duration-75"
						x-transition:enter-start="opacity-0"
						x-transition:enter-end="opacity-100"
						x-transition:leave="transition ease-in duration-75"
						x-transition:leave-start="opacity-100"
						x-transition:leave-end="opacity-0"
						x-cloak>
						<ul class="container justify-end flex-1 w-full pt-0 pb-4 my-0 overflow-y-scroll text-lg" style="height: 100vh;">
								{% for nav in mainNav %}
										{% if nav.title == "Services" %}
												<li x-data="{ subnavOpen: false }" class="border-t border-gray-600">
														<div class="flex items-center justify-between py-4">
																<a class="font-normal text-gray-100 fill-current text hover:text-gray-200" href="{{ nav.url }}">{{ nav.title }}</a>
																<div x-on:click="subnavOpen = ! subnavOpen" :class="{'rotate-90' : subnavOpen }" class="p-1 font-normal text-gray-100 transition-all duration-75 bg-gray-800 rounded cursor-pointer fill-current text subnav-toggler">{{ craft.inlin.er('/dist/img/icon-arrow.svg') | replace('<svg ', '<svg class="w-4 h-4 xl:oak-hidden" ') | raw }}</div>
														</div>
	
														{% set navSubitems = craft.categories
																.group("serviceTypes")
																.limit(10)
																.orderBy("title asc")
																.all()
														%}
														{% set reportProblem = craft.categories.group("serviceTypes").slug("report-a-problem").one() %}
														{% set applyPermit = craft.categories.group("serviceTypes").slug("apply-for-a-permit").one() %}
														<div
																x-show="subnavOpen"
																x-cloak
																x-collapse
																x-on:click.away="subnavOpen = false"
																x-transition:enter="transition ease-out duration-75"
																x-transition:enter-start="opacity-0"
																x-transition:enter-end="opacity-100"
																x-transition:leave="transition ease-in duration-75"
																x-transition:leave-start="opacity-100"
																x-transition:leave-end="opacity-0">
															<div class="overflow-y-scroll">
																	<ul class="my-0 font-bold bg-white">
																			{% nav subitem in navSubitems %}
																					<li class="border-t border-gray-600"><a class="block h-full p-4" href="{{ subitem.url }}">{{ subitem.title }}</a></li>
																			{% endnav %}
																			{% if reportProblem %}<li class="border-t border-gray-600"><a class="flex items-center justify-between h-full p-4 bg-blue-100 text-blue-1000" href="{{ reportProblem.url }}">{{ reportProblem.title }}<span class="text-lg arrow-right text-blue-1000" role="img" aria-label="arrow right">&rarr;</span></a></li>{% endif %}
																			{% if applyPermit %}<li class="border-t border-gray-600"><a class="flex items-center justify-between h-full p-4 bg-blue-100 text-blue-1000" href="{{ applyPermit.url }}">{{ applyPermit.title }}<span class="text-lg arrow-right text-blue-1000" role="img" aria-label="arrow right">&rarr;</span></a></li>{% endif %}
																	</ul>
															</div>
														</div>
												</li>
										{% else %}
										<li class="{% if not loop.first %}border-t {% endif %}border-gray-600">
												<a class="flex items-center justify-between py-4 font-normal text-gray-100 fill-current hover:text-gray-200" href="{{ nav.url }}"><div class="text">{{ nav.title }}</div></a>
										</li>
										{% endif %}
								{% endfor %}
								<li class="border-t border-gray-600">
										<a class="flex items-center justify-between py-4 font-normal text-gray-100 fill-current hover:text-gray-200" href="/topics/oaklandlovelife"><div class="text">#OaklandLoveLife</div></a>
								</li>
								<li class="border-t border-gray-600">
										<a class="flex items-center justify-between py-4 font-normal text-gray-100 fill-current hover:text-gray-200" href="/officials/libby-schaaf"><div class="text">Mayor Libby Schaaf</div></a>
								</li>
								<li class="border-t border-gray-600">
										<a class="flex items-center justify-between py-4 font-normal text-gray-100 fill-current hover:text-gray-200" href="/services/oak311"><div class="text">Report a problem to OAK 311</div></a>
								</li>
						</ul>
				</div>
				{# END MOBILE NAV #}
		</div>
</div>

{% js on load %}
		$('#site-search-form').on('submit', function(){
				var search_term = $('#site-search').val();

				dl.push({
						'event'                 : 'site_search_clicked',
						'current_url'           : '{{ craft.app.request.absoluteUrl }}',
						'input_search_term'     : search_term,
						'debug_mode'            : true,
				});
		});

		$('#nav-wrapper a').on('click', function(){
				var link_clicked    = $(this).attr('href').trim();
				var link_label      = $(this).text().trim().replace(/(\r\n|\n|\r)/gm, "");

				dl.push({
						'event'         : 'topnav_clicked',
						'current_url'   : '{{ craft.app.request.absoluteUrl }}',
						'url'           : link_clicked,
						'label'         : link_label,
						'debug_mode'    : true,
				});
		});
{% endjs %}
