{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
{% if pageInfo.totalPages > 1 %}
	<nav aria-label="Pagination">
		<ul class="pagination">
			{% if pageInfo.totalPages > 7 %}
				<li>
					<a aria-label="Previous Page" class="prev {{ pageInfo.currentPage == 1 ? 'disabled' : '' }}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.prevUrl }}"{% endif %}>Previous</a>
				</li>
				{% if pageInfo.currentPage > 3 %}
					<li>
						<a aria-label="Page 1" class="page" href="{{ pageInfo.firstUrl }}">1</a>
					</li>
					<li>…</li>
				{% endif %}

				{% for page, url in pageInfo.getPrevUrls(2) %}
					<li>
						<a aria-label="Page {{ page }}" class="page" href="{{ url }}">{{ page }}</a>
					</li>
				{% endfor %}

				<li>
					<a aria-current="page" class="page page-active" href="#">{{ pageInfo.currentPage }}</a>
				</li>

				{% if pageInfo.currentPage < 3 %}
					{% for page, url in pageInfo.getNextUrls(5 - pageInfo.currentPage) %}
						<li>
							<a aria-label="Page {{ page }}" class="page" href="{{ url }}">{{ page }}</a>
						</li>
					{% endfor %}
				{% else %}
					{% for page, url in pageInfo.getNextUrls(2) %}
						<li>
							<a aria-label="Page {{ page }}" class="page" href="{{ url }}">{{ page }}</a>
						</li>
					{% endfor %}
				{% endif %}

				{% if pageInfo.currentPage < pageInfo.totalPages - 2 %}
					<li>…</li>
					<li>
						<a aria-label="Page {{ pageInfo.totalPages }}" class="page" href="{{ pageInfo.lastUrl }}">{{ pageInfo.totalPages }}</a>
					</li>
				{% endif %}
				<li>
					<a aria-label="Next Page" class="next {{ pageInfo.currentPage == pageInfo.totalPages ? 'disabled' : '' }}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.nextUrl }}"{% endif %}>Next</a>
				</li>
			{% else %}
				<li>
					<a aria-label="Previous Page" class="prev {{ pageInfo.currentPage == 1 ? 'disabled' : '' }}" {% if pageInfo.currentPage != 1 %}href="{{ pageInfo.prevUrl }}"{% endif %}>Previous</a>
				</li>

				{% for page, url in pageInfo.getPrevUrls(7) %}
					<li>
						<a aria-label="Page {{ page }}" class="page" href="{{ url }}">{{ page }}</a>
					</li>
				{% endfor %}
				<li>
					<a aria-current="page" class="page page-active" href="#">{{ pageInfo.currentPage }}</a>
				</li>
				{% for page, url in pageInfo.getNextUrls(7) %}
					<li>
						<a aria-label="Page {{ page }}" class="page" href="{{ url }}">{{ page }}</a>
					</li>
				{% endfor %}

				<li>
					<a aria-label="Next Page" class="next {{ pageInfo.currentPage == pageInfo.totalPages ? 'disabled' : '' }}" {% if pageInfo.currentPage != pageInfo.totalPages %}href="{{ pageInfo.nextUrl }}"{% endif %}>Next</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}