{% if pageInfo.totalPages > 1 %}
  {% spaceless %}
    <ul class="pagination">
      <li><a class="prev {{ pageInfo.currentPage == 1 ? 'disabled' : '' }}" href="{{ pageInfo.prevUrl }}">Previous</a></li>
      {% if pageInfo.currentPage > 3 %}
        <li><a class="page" href="{{ pageInfo.firstUrl }}">1</a></li>
        <li>...</li>
      {% endif %}

      {% for page, url in pageInfo.getPrevUrls(2) %}
        <li><a class="page" href="{{ url }}">{{ page }}</a></li>
      {% endfor %}

        <li><a class="page page-active" href="#">{{ pageInfo.currentPage }}</a></li>

      {% for page, url in pageInfo.getNextUrls(2) %}
        <li><a class="page" href="{{ url }}">{{ page }}</a></li>
      {% endfor %}

      {% if pageInfo.currentPage < pageInfo.totalPages - 2 %}
        <li>...</li>
        <li><a class="page" href="{{ pageInfo.lastUrl }}">{{ pageInfo.totalPages }}</a></li>
      {% endif %}
      <li><a class="next {{ pageInfo.currentPage == pageInfo.totalPages ? 'disabled' : '' }}" href="{{ pageInfo.nextUrl }}">Next</a></li>
    </ul>
  {% endspaceless %}
{% endif %}
