{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% set vars = {
	url: entry.url ?? null,
	title: entry.title ?? null,
}|merge(params) %}

{% macro socialLink(url, icon, text) %}
	<li class="mb-0">
		<a href="{{ url }}" target="_blank" class="flex h-10 w-10 items-center justify-center rounded-full bg-green-800 text-white hover:bg-green-1000">
			{{ svg(icon)|attr({class:'h-5'}) }}
			<span class="sr-only">{{ text }}</span>
		</a>
	</li>
{% endmacro %}

{% import _self as macros %}

<h4>{{ 'Share'|t }}</h4>
<ul class="-mt-4 flex list-none items-center gap-4 px-0">
	{{ macros.socialLink(
		"https://www.facebook.com/sharer/sharer.php?u=#{vars.url|url_encode}",
		"@webroot/dist/img/logo-facebook.svg",
		"Share on Facebook"
	) }}
	{{ macros.socialLink(
		"https://twitter.com/intent/tweet?url=#{vars.url|url_encode}&text=#{vars.title}",
		"@webroot/dist/img/logo-twitter.svg",
		"Share on Twitter"
	) }}
</ul>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}