{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
<article class="overflow-hidden rounded bg-white shadow">
  {% if not photoHide ?? '' %}
    <figure class="relative z-0 flex w-full items-center justify-center bg-gray-300 p-4 pb-3/5">
      {% if photo | length %}
        <img src="{{ photo.url }}" class="absolute inset-0 h-full w-full object-cover aspect-ratio" alt="{{ photo.altText ?? ''}}">
      {% elseif icon is defined %}
        <div class="flex h-full items-center justify-center fill-current p-4 text-gray-500 opacity-75 md:p-8 lg:p-12 aspect-ratio">
          {{ svg('@webroot/dist/img/icon-' ~ icon ~ '.svg')|attr({
              class: 'h-full'
          })|raw }}
        </div>
      {% endif %}
    </figure>
  {% endif %}
  <div class="p-4">
    <div class="mb-2 text-sm uppercase text-gray-800">{{ byline }}</div>
    <h3 class="mt-0 mb-2 text-lg">
      <a href="{{ url }}" class="line-clamp-3">{{ title }}</a>
    </h3>
    {% if not summaryHide ?? '' %}
      <div class="text-sm text-gray-1000 line-clamp-4">
        {{ body | retcon('attr', '*', { class: 'mt-2 mb-0' })}}
      </div>
    {% endif %}
  </div>
</article>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}