{% if currentUser %}<!-- Begin {{ _self }} -->{% endif %}
{% import "_macros/_macros.twig" as macros %}

{% set primaryUnit = entry.primaryUnit.one() ?? null %}
{% set relatedBoardComm = entry.relatedBoardOrCommission.one() ?? null %}
{% set serviceTypes = entry.serviceTypes.all() ?? null %}
{% set lastSegment = craft.app.request.segment(-1) ?? null %}
{% set breadcrumbs = [] %}

{% if category is not defined and breadCrumbLinks is not defined %}
	{% if primaryUnit %}
		{% set breadcrumbs = breadcrumbs|merge([{
			title: primaryUnit.title,
			link: primaryUnit.url
		}]) %}
	{% endif %}
	{% if entry.section is defined and entry.section.type == "single" %}
		{% set breadcrumbs = null %}
	{% elseif entry.section is defined %}
		{% if entry.section.handle == "boardsCommissions" and lastSegment == "meetings" %}
			{% set breadcrumbs = breadcrumbs|merge([{
				title: "Meetings",
				link: "/meetings"
			}]) %}
		{% endif %}
		{% if entry.section.handle == "meetings" %}
			{% set breadcrumbs = breadcrumbs|merge([{
				title: "Meetings",
				link: "/meetings"
			}]) %}
			{% if relatedBoardComm %}
				{% set breadcrumbs = breadcrumbs|merge([{
					title: relatedBoardComm.title,
					link: relatedBoardComm.url
				}]) %}
			{% endif %}
		{% elseif entry.section.handle == "boardsCommissions" and lastSegment == "meetings" %}
		{% else %}
			{% switch entry.section.handle %}
			{% case "boardsCommissions" %}
				{% set handle = "boards-commissions" %}
			{% case "publicNotices" %}
				{% set handle = "public-notices" %}
			{% default %}
				{% set handle = entry.section.handle %}
			{% endswitch %}
			{% set breadcrumbs = breadcrumbs|merge([{
				title: entry.section.name,
				link: "/#{handle}"
			}]) %}
		{% endif %}
	{% endif %}
{% endif %}

{% macro link(url, title) %}
	<a href="{{ url }}" class="font-bold text-green-800 hover:text-green-800 hover:underline">
		{{ title }}
	</a>
{% endmacro %}

{% macro current(title, bold = false) %}
	<span
		aria-current="page"
		class="{{ bold ? "font-bold" : "text-gray-800" }}"
	>
		{{ title }}
	</span>
{% endmacro %}

{% import _self as breadCrumb %}

{%- set separator -%}
	<span class="mr-1 ml-2 font-bold text-gray-700">&rarr;</span>
{%- endset -%}

{# if no category is assigned to an entry, its primary unit will override as the root breadcrumb #}
<div id="breadcrumbs" class="relative inline-block bg-white z-[1]">
	{% if category is defined and category.level == 1 %}
		{# parent service category #}
		{{ breadCrumb.link("/services", "Services") }}
		{{ separator }}
		<span aria-current="page" class="text-gray-800">{{ entry.title }}</span>
	{% elseif serviceTypes|length == 1 %}
		{# entry has one category only #}
		{{ breadCrumb.link("/services", "Services") }}
		{{ separator }}
		{% set theServiceType = serviceTypes[0] %}
		{{ breadCrumb.link(theServiceType.url, theServiceType.title) }}
		{{ separator }}
		{{ breadCrumb.current(entry.title) }}
	{% elseif serviceTypes|length > 1 %}
		{# entry has multiple categories #}
		<span class="text-gray-600">
			See more {{ breadCrumb.link("/services", "Services") }}:
			{% for category in serviceTypes %}
				{{ breadCrumb.link(category.url, category.title) }}{{ not loop.last ? ", " }}
			{% endfor %}
		</span>
	{% elseif breadCrumbLinks is defined %}
		{# other custom breadCrumbLinks set up in templates #}
		{% for link in breadCrumbLinks ?? "" %}
			{{ breadCrumb.link(link.link, link.title) }}
			{{ separator }}
		{% endfor %}
		{{ breadCrumb.current(bannerTitle, breadCrumbLinks is empty) }}
	{% elseif entry.section.handle == "boardsCommissions" and lastSegment == "meetings" %}
		{% for link in breadcrumbs ?? "" %}
			{{ breadCrumb.link(link.link, link.title) }}
			{{ separator }}
		{% endfor %}
		{{ breadCrumb.link(entry.url, entry.title) }}
		{{ separator }}
		{% if subcommittee is defined %}
			{{ breadCrumb.link(subcommittee.url, subcommittee.title) }}
			{{ separator }}
		{% endif %}
		{{ breadCrumb.current("Meetings for #{entry.title}", breadcrumbs is empty) }}
	{% elseif section is defined and slug is defined and lastSegment == "events" %}
		{% for link in breadcrumbs ?? "" %}
			{{ breadCrumb.link(link.link, link.title) }}
			{{ separator }}
		{% endfor %}
		{{ breadCrumb.link(entry.url, entry.title) }}
		{{ separator }}
		{{ breadCrumb.current("Events for #{entry.title}", breadcrumbs is empty) }}
	{% else %}
		{% for link in breadcrumbs ?? "" %}
			{{ breadCrumb.link(link.link, link.title) }}
			{{ separator }}
		{% endfor %}
		{{ breadCrumb.current(entry.title, breadcrumbs is empty) }}
	{% endif %}
</div>
{% if currentUser %}<!-- End {{ _self }} -->{% endif %}
