{% set breadcrumbs = [] %}

{% if category is not defined and breadCrumbLinks is not defined %}
  {% if entry.primaryUnit|length %}
    {% set breadcrumbs = breadcrumbs|merge([{
      title: entry.primaryUnit.one().title,
      link: entry.primaryUnit.one().url
    }]) %}
  {% endif %}
  {% if entry.section is defined and entry.section.type == 'single' %}
    {% set breadcrumbs = null %}
  {% elseif entry.section is defined %}
    {% if entry.section.handle == 'boardsCommissions' and craft.request.lastSegment == 'meetings' %}
      {% set breadcrumbs = breadcrumbs|merge([{
        title: 'Meetings',
        link: siteUrl ~ 'meetings'
      }]) %}
    {% endif %}


    {% if entry.section.handle == 'meetings' %}
      {% set breadcrumbs = breadcrumbs|merge([{
        title: 'Meetings',
        link: siteUrl ~ 'meetings'
      }]) %}
      {% set breadcrumbs = breadcrumbs|merge([{
        title: 'Boards & Commissions',
        link: siteUrl ~ 'boards-commissions'
      }]) %}
      {% if entry.relatedBoardOrCommission %}
        {% set breadcrumbs = breadcrumbs|merge([{
          title: entry.relatedBoardOrCommission.one().title,
          link: entry.relatedBoardOrCommission.one().url
        }]) %}
      {% endif %}
    {% else %}
      {% set breadcrumbs = breadcrumbs|merge([{
        title: entry.section.name,
        link: siteUrl ~ (entry.section.handle == 'boardsCommissions' ? 'boards-commissions' : entry.section.handle)
      }]) %}
    {% endif %}
  {% endif %}
{% endif %}

{# if no category is assigned to an entry, its primary unit will override as the root breadcrumb #}
<div id="breadcrumbs" class="bg-white inline-block">
  {% if category is defined and category.level == 1 %}
    {# parent service category #}
    <a href="{{ siteUrl }}services" class="font-bold text-green-800 hover:text-green-800 hover:underline">Services</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
    <span class="text-gray-800">{{ entry.title }}</span>
  {% elseif entry.serviceTypes is defined and entry.serviceTypes|length == 1 %}
    {# entry has one category only #}
      <a href="{{ siteUrl }}services" class="font-bold text-green-800 hover:text-green-800 hover:underline">Services</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
      <a href="{{ entry.serviceTypes.one().url }}" class="font-bold text-green-800 hover:text-green-800 hover:underline">{{ entry.serviceTypes.one().title }}</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
      <span class="text-gray-800">{{ entry.title }}</span>
  {% elseif entry.serviceTypes is defined and entry.serviceTypes|length > 1 %}
    {# entry has multiple categories #}
    <span class="text-gray-600">
      See more <a href="{{ siteUrl }}services" class="font-bold text-green-800 hover:text-green-800 hover:underline">Services</a>:
      {% for category in entry.serviceTypes.all() %}
        <a href="{{ category.url }}" class="font-bold text-green-800 hover:text-green-800 hover:underline ml-1">{{ category.title }}</a>{{ not loop.last ? ', ' }} 
      {% endfor %}
    </span>
  {% elseif breadCrumbLinks is defined %}
    {# other custom breadCrumbLinks set up in templates #}
    {% for link in breadCrumbLinks ?? '' %}
      <a class="font-bold text-green-800 hover:text-green-800 hover:underline" href="{{ link.link }}">{{ link.title }}</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
    {% endfor %}
    <span class="{{ breadCrumbLinks is empty ? 'font-bold' : 'text-gray-800' }}">{{ bannerTitle }}</span>
  {% elseif entry.section.handle == 'boardsCommissions' and craft.request.lastSegment == 'meetings' %}
    {% for link in breadcrumbs ?? '' %}
      <a href="{{ link.link }}" class="font-bold text-green-800 hover:text-green-800 hover:underline">{{ link.title }}</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
    {% endfor %}
    <a href="{{ entry.url }}" class="font-bold text-green-800 hover:text-green-800 hover:underline">{{ entry.title }}</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
    <span class="{{ breadcrumbs is empty ? 'font-bold' : 'text-gray-800' }}">Meetings for {{ entry.title }}</span>
  {% else %}
    {% for link in breadcrumbs ?? '' %}
      <a href="{{ link.link }}" class="font-bold text-green-800 hover:text-green-800 hover:underline">{{ link.title }}</a><span class="font-bold text-gray-700 ml-2 mr-1">&rarr;</span>
    {% endfor %}
    <span class="{{ breadcrumbs is empty ? 'font-bold' : 'text-gray-800' }}">{{ entry.title }}</span>
  {% endif %}
</div>