{% macro renderForm(id, entry) %}
		<div class="flex flex-wrap justify-between -mx-3">
			<div class="lg:w-3/4 xl:w-1/2 px-3">
				<div id="{{ id }}" class="hidden">
					{% if craft.freeform.form(id) %}
						{{ craft.freeform.form(id, {
							labelClass: "form-label",
							inputClass: "form-control",
							overrideValues: {
								entryUrl: entry is defined ? entry.url : (category is defined ? category.url : 'N/A'),
								pageAuthor: entry.author ? entry.author.fullName : 'N/A'
							}
						}).render() }}
						{% js at endBody %}
							document.querySelector('[data-handle="{{ id }}"]').addEventListener('freeform-ajax-success', function (event) {
							$('<p class="text-white"><b>Thank you for your feedback</b></p>').insertAfter(document.querySelector('[data-handle="{{ id }}"]'));
					  		$(document.querySelector('[data-handle="{{ id }}"]')).remove();
					  	});
						{% endjs %}
					{% else %}
						<p class="text-white"><b>There was an issue with loading this form.</b></p>
					{% endif %}
				</div>
			</div>
		</div>
{% endmacro %}

<section class="bg-gray-900">
	<div class="container components py-6">
		<div id="helpful" class="flex items-center justify-between text-white">
			<div class="flex items-center">
				<p class="mr-8">Was this page helpful?</p>
				<button class="button secondary small" data-open="whyWasThisPageHelpful" style="margin-top:0;margin-bottom:0;">Yes</button>
				<button class="button secondary small" data-open="whatWasWrongWithThisPage" style="margin-top:0;margin-bottom:0;">No</button>
			</div>
			<p class="cursor-pointer" data-open="reportProblem" role="button"><u>Report a problem with this page</u></p>
		</div>
    {{ _self.renderForm('whyWasThisPageHelpful', entry) }}
    {{ _self.renderForm('whatWasWrongWithThisPage', entry) }}
    {{ _self.renderForm('reportProblem', entry) }}
	</div>
</section>

{% js at endBody %}
		$('[data-open]').on('click',function(){
			$('#' + $(this).data('open')).removeClass('hidden');
			$('#helpful').addClass('hidden');
		});
{% endjs %}

<style>
	form[data-handle="reportProblem"],
	form[data-handle="whatWasWrongWithThisPage"],
	form[data-handle="whyWasThisPageHelpful"] {
		color: white;
	}

	.components form {
		font-size: 16px;
		line-height: 1.5;
	}

	.components form label {
		font-size: 14px;
		margin-bottom: 0.5em;
	}

	.components form button {
	  background: white;
	  border: 2px solid #207127;
	  border-radius: 2px;
	  color: #207127;
	  display: inline-block;
	  font-weight: 700;
	  font-size:  16px;
	  line-height: 1.38;
	  margin-top: 1em;
	  outline-offset: 2px;
	  padding: 16px 32px;
	  text-decoration: none;
	}

	.components form button:hover {
	  border-color: #0D5713;
	  color: #0D5713;
	}

	.components form button:active {
	  border-color: #04400A;
	  color: #04400A;
	}

	.components form textarea {
		color: #222222;
		padding: 0.5em;
	}
</style>
