{% macro renderForm(id, entry) %}
		<div class="flex flex-wrap justify-between -mx-3">
			<div class="lg:w-3/4 xl:w-1/2 px-3">
				<div id="{{ id }}" class="hidden">
					{% if craft.freeform.form(id) %}
						{{ craft.freeform.form(id, {
							labelClass: "form-label",
							inputClass: "form-control",
							overrideValues: {
								entryUrl: entry is defined ? entry.url : (category is defined ? category.url : 'N/A'),
								pageAuthor: category is defined ? 'N/A' : entry.author.fullName
							}
						}).render() }}
						{% js at endBody %}
							document.querySelector('[data-handle="{{ id }}"]').addEventListener('freeform-ajax-success', function (event) {
							$('<p class="text-white"><b>Thank you for your feedback</b></p>').insertAfter(document.querySelector('[data-handle="{{ id }}"]'));
					  		$(document.querySelector('[data-handle="{{ id }}"]')).remove();
					  	});
						{% endjs %}
					{% else %}
						<p class="text-white"><b>There was an issue with loading this form.</b></p>
					{% endif %}
				</div>
			</div>
		</div>
{% endmacro %}

<section class="bg-gray-900">
	<div class="container components py-6">
		<div id="helpful" class="flex items-center justify-between text-white">
			<div class="flex items-center">
				<p class="mr-8">Was this page helpful?</p>
				<button class="button secondary small" data-open="whyWasThisPageHelpful" style="margin-top:0;margin-bottom:0;">Yes</button>
				<button class="button secondary small" data-open="whatWasWrongWithThisPage" style="margin-top:0;margin-bottom:0;">No</button>
			</div>
			<p class="cursor-pointer" data-open="reportProblem" role="button"><u>Report a problem with this page</u></p>
		</div>
    {{ _self.renderForm('whyWasThisPageHelpful', entry) }}
    {{ _self.renderForm('whatWasWrongWithThisPage', entry) }}
    {{ _self.renderForm('reportProblem', entry) }}
	</div>
</section>

{% js at endBody %}
	$('[data-open]').on('click',function(){
		$('#' + $(this).data('open')).removeClass('hidden');
		$('#helpful').addClass('hidden');
	});
{% endjs %}
